{%  load static caffelatte_tags %}
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget jarviswidget-color-darken" id="wid-id-11" data-widget-editbutton="false">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
        <span class="widget-icon"> <i class="fa fa-fw fa-building"></i> </span>
        <h2>Deployed Web Applications</h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->

        <!-- widget content -->
        <div class="widget-body no-padding">
            <div class="widget-body-toolbar">

            </div>

            <table id="dt_basic" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Item (App ID)</th>
                    <th>Web Address</th>
                    <th class="text-align-center">Site status</th>
                    <th>Application/CMS</th>
                    <th>Plan</th> {# DP - Deployment Plan #}
                    <th>Expire date</th>
                    <th>ADS</th>
                    <th>Next action</th>
                </tr>
                </thead>
                <tbody>
                {% for domain in domains %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% url 'caffelatte-domain-information' domain.id as info %}
                        <td><a href="{{ info }}">#{{ domain.item_number|upper }}</a></td>
{#                        <td>#{{ domain.invoice_number|default_if_none:""|upper }}</td>#}
                        <td><a href="http://{{ domain.get_sld }}" target="_blank">{{ domain.get_sld }}</a></td>
                        <td class="text-align-center">{{ domain.get_status_display }}</td>
                        {% comment %}{%  spaceless %}
                            {% with design=domain.webdesign %}
                            <td>
                                <a href="{{ design.get_absolute_url }}"
                                   rel="popover-hover"
                                   data-placement="left"
                                   data-original-title="{{ design.name }}"
                                   data-content="{{ design.desc }}">
                                {{ design.name|capfirst }}</a></td>
                            {% endwith %}
                        {% endspaceless %}{% endcomment %}


                        {% with design=domain.webdesign %}
                            <td>{{ design.get_popover|safe}}</td>
                        {% endwith %}
                        {% with domain.plan as plan %}
                            <td>{{ plan.get_popover|safe }}</td>
                        {% endwith %}

                        <td>{{ domain.get_expire_datetime|date:"SHORT_DATE_FORMAT" }}</td>

{#                        <td>${{ domain.get_price|default_if_none:"0.00" }}</td>#}
                        <td>
                            {{ domain.get_ads }}
                        </td>

                            {% next_action domain %}



{#<td>{{  domain.get_adt }}</td>#}

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->



