							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				
								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"
				
								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2>Column Filters </h2>
				
								</header>
				
								<!-- widget div-->
								<div>
				
									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->
				
									</div>
									<!-- end widget edit box -->
				
									<!-- widget content -->
									<div class="widget-body no-padding">
				
										<table id="datatable_fixed_column" class="table table-striped table-bordered smart-form">
											<thead>
												<tr>
													<th>Rendering engine</th>
													<th>Browser</th>
													<th>Platform(s)</th>
													<th>Engine version</th>
													<th>CSS grade</th>
												</tr>
												<tr class="second">
													<td>
														<label class="input">
															<input type="text" name="search_engine" value="Filter engines" class="search_init">
														</label>
													</td>
													<td>
														<label class="input">
															<input type="text" name="search_browser" value="Filter browsers" class="search_init">
														</label>	
													</td>
													<td>
														<label class="input">
															<input type="text" name="search_platform" value="Filter platforms" class="search_init">
														</label>	
													</td>
													<td>
														<label class="input">
															<input type="text" name="search_version" value="Filter versions" class="search_init">
														</label>	
													</td>
													<td>
														<label class="input">
															<input type="text" name="search_grade" value="Filter grades" class="search_init">
														</label>	
													</td>
												</tr>
											</thead>
											<tbody>
												<tr class="odd gradeX">
													<td>Trident</td>
													<td>Internet
													Explorer 4.0</td>
													<td>Win 95+</td>
													<td> 4</td>
													<td>X</td>
												</tr>
												<tr class="even gradeC">
													<td>Trident</td>
													<td>Internet
													Explorer 5.0</td>
													<td>Win 95+</td>
													<td>5</td>
													<td>C</td>
												</tr>
												<tr class="odd gradeA">
													<td>Trident</td>
													<td>Internet
													Explorer 5.5</td>
													<td>Win 95+</td>
													<td>5.5</td>
													<td>A</td>
												</tr>
												<tr class="even gradeA">
													<td>Trident</td>
													<td>Internet
													Explorer 6</td>
													<td>Win 98+</td>
													<td>6</td>
													<td>A</td>
												</tr>
												<tr class="odd gradeA">
													<td>Trident</td>
													<td>Internet Explorer 7</td>
													<td>Win XP SP2+</td>
													<td>7</td>
													<td>A</td>
												</tr>
												<tr class="even gradeA">
													<td>Trident</td>
													<td>AOL browser (AOL desktop)</td>
													<td>Win XP</td>
													<td>6</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Firefox 1.0</td>
													<td>Win 98+ / OSX.2+</td>
													<td>1.7</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Firefox 1.5</td>
													<td>Win 98+ / OSX.2+</td>
													<td>1.8</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Firefox 2.0</td>
													<td>Win 98+ / OSX.2+</td>
													<td>1.8</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Firefox 3.0</td>
													<td>Win 2k+ / OSX.3+</td>
													<td>1.9</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Camino 1.0</td>
													<td>OSX.2+</td>
													<td>1.8</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Camino 1.5</td>
													<td>OSX.3+</td>
													<td>1.8</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Netscape 7.2</td>
													<td>Win 95+ / Mac OS 8.6-9.2</td>
													<td>1.7</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Netscape Browser 8</td>
													<td>Win 98SE+</td>
													<td>1.7</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Netscape Navigator 9</td>
													<td>Win 98+ / OSX.2+</td>
													<td>1.8</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Mozilla 1.0</td>
													<td>Win 95+ / OSX.1+</td>
													<td>1</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Mozilla 1.1</td>
													<td>Win 95+ / OSX.1+</td>
													<td>1.1</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Mozilla 1.2</td>
													<td>Win 95+ / OSX.1+</td>
													<td>1.2</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Mozilla 1.3</td>
													<td>Win 95+ / OSX.1+</td>
													<td>1.3</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Mozilla 1.4</td>
													<td>Win 95+ / OSX.1+</td>
													<td>1.4</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Mozilla 1.5</td>
													<td>Win 95+ / OSX.1+</td>
													<td>1.5</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Mozilla 1.6</td>
													<td>Win 95+ / OSX.1+</td>
													<td>1.6</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Mozilla 1.7</td>
													<td>Win 98+ / OSX.1+</td>
													<td>1.7</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Mozilla 1.8</td>
													<td>Win 98+ / OSX.1+</td>
													<td>1.8</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Seamonkey 1.1</td>
													<td>Win 98+ / OSX.2+</td>
													<td>1.8</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Gecko</td>
													<td>Epiphany 2.20</td>
													<td>Gnome</td>
													<td>1.8</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Webkit</td>
													<td>Safari 1.2</td>
													<td>OSX.3</td>
													<td>125.5</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Webkit</td>
													<td>Safari 1.3</td>
													<td>OSX.3</td>
													<td>312.8</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Webkit</td>
													<td>Safari 2.0</td>
													<td>OSX.4+</td>
													<td>419.3</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Webkit</td>
													<td>Safari 3.0</td>
													<td>OSX.4+</td>
													<td>522.1</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Webkit</td>
													<td>OmniWeb 5.5</td>
													<td>OSX.4+</td>
													<td>420</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Webkit</td>
													<td>iPod Touch / iPhone</td>
													<td>iPod</td>
													<td>420.1</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Webkit</td>
													<td>S60</td>
													<td>S60</td>
													<td>413</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Presto</td>
													<td>Opera 7.0</td>
													<td>Win 95+ / OSX.1+</td>
													<td>-</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Presto</td>
													<td>Opera 7.5</td>
													<td>Win 95+ / OSX.2+</td>
													<td>-</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Presto</td>
													<td>Opera 8.0</td>
													<td>Win 95+ / OSX.2+</td>
													<td>-</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Presto</td>
													<td>Opera 8.5</td>
													<td>Win 95+ / OSX.2+</td>
													<td>-</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Presto</td>
													<td>Opera 9.0</td>
													<td>Win 95+ / OSX.3+</td>
													<td>-</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Presto</td>
													<td>Opera 9.2</td>
													<td>Win 88+ / OSX.3+</td>
													<td>-</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Presto</td>
													<td>Opera 9.5</td>
													<td>Win 88+ / OSX.3+</td>
													<td>-</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Presto</td>
													<td>Opera for Wii</td>
													<td>Wii</td>
													<td>-</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Presto</td>
													<td>Nokia N800</td>
													<td>N800</td>
													<td>-</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>Presto</td>
													<td>Nintendo DS browser</td>
													<td>Nintendo DS</td>
													<td>8.5</td>
													<td>C/A<sup>1</sup></td>
												</tr>
												<tr class="gradeC">
													<td>KHTML</td>
													<td>Konqureror 3.1</td>
													<td>KDE 3.1</td>
													<td>3.1</td>
													<td>C</td>
												</tr>
												<tr class="gradeA">
													<td>KHTML</td>
													<td>Konqureror 3.3</td>
													<td>KDE 3.3</td>
													<td>3.3</td>
													<td>A</td>
												</tr>
												<tr class="gradeA">
													<td>KHTML</td>
													<td>Konqureror 3.5</td>
													<td>KDE 3.5</td>
													<td>3.5</td>
													<td>A</td>
												</tr>
												<tr class="gradeX">
													<td>Tasman</td>
													<td>Internet Explorer 4.5</td>
													<td>Mac OS 8-9</td>
													<td>-</td>
													<td>X</td>
												</tr>
												<tr class="gradeC">
													<td>Tasman</td>
													<td>Internet Explorer 5.1</td>
													<td>Mac OS 7.6-9</td>
													<td>1</td>
													<td>C</td>
												</tr>
												<tr class="gradeC">
													<td>Tasman</td>
													<td>Internet Explorer 5.2</td>
													<td>Mac OS 8-X</td>
													<td>1</td>
													<td>C</td>
												</tr>
												<tr class="gradeA">
													<td>Misc</td>
													<td>NetFront 3.1</td>
													<td>Embedded devices</td>
													<td>-</td>
													<td>C</td>
												</tr>
												<tr class="gradeA">
													<td>Misc</td>
													<td>NetFront 3.4</td>
													<td>Embedded devices</td>
													<td>-</td>
													<td>A</td>
												</tr>
												<tr class="gradeX">
													<td>Misc</td>
													<td>Dillo 0.8</td>
													<td>Embedded devices</td>
													<td>-</td>
													<td>X</td>
												</tr>
												<tr class="gradeX">
													<td>Misc</td>
													<td>Links</td>
													<td>Text only</td>
													<td>-</td>
													<td>X</td>
												</tr>
												<tr class="gradeX">
													<td>Misc</td>
													<td>Lynx</td>
													<td>Text only</td>
													<td>-</td>
													<td>X</td>
												</tr>
												<tr class="gradeC">
													<td>Misc</td>
													<td>IE Mobile</td>
													<td>Windows Mobile 6</td>
													<td>-</td>
													<td>C</td>
												</tr>
												<tr class="gradeC">
													<td>Misc</td>
													<td>PSP browser</td>
													<td>PSP</td>
													<td>-</td>
													<td>C</td>
												</tr>
												<tr class="gradeU">
													<td>Other browsers</td>
													<td>All others</td>
													<td>-</td>
													<td>-</td>
													<td>U</td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- end widget content -->
				
								</div>
								<!-- end widget div -->
				
							</div>
							<!-- end widget -->
