{% comment %}<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Email Accounts </h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->

        <!-- widget content -->
        <div class="widget-body no-padding">
            <div class="widget-body-toolbar">

            </div>

            <table id="dt_basic" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Password </th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                </tr>
                </thead>
                </thead>
                <tbody>
                {% for obj in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ obj.first_name }}</td>
                        <td>{{ obj.last_name }}</td>
                        <td>{{ obj.email }}</td>
                        <td>{{ obj.password }}</td>
                            <td>{{ obj.created_at|date:"SHORT_DATE_FORMAT"  }}</td>
                            <td>{{ obj.updated_at|date:"SHORT_DATE_FORMAT"  }}</td>
{#                        <td><a href="{{ obj.userwebinfo.webdesign.get_absolute_url }}">{{ obj.userwebinfo.webdesign.name|capfirst }}</a></td>#}
                        {% with design=obj.userwebinfo.webdesign %}
                        <td>{{ design.get_popover|safe }}</td>
                        {% endwith %}
                        {% if obj.payment_status %}
                            <td>Paid</td>
                            <td>{{ obj.created_at|date:"SHORT_DATE_FORMAT"  }}</td>
                        {% else %}
                            <td>Unpaid</td>
                            <td>Pay Now</td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->{% endcomment %}

{% comment %}

<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-editbutton="false">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Email Accounts </h2>


    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->


        </div>
        <!-- end widget edit box -->

        <!-- widget content -->
        <div class="widget-body no-padding">
            <div class="widget-body-toolbar">
            </div>
            <table id="datatable_tabletools" class="table table-striped table-hover">
                  <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Password </th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                </tr>
                </thead>
                </thead>
                <tbody>
                {% for obj in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ obj.first_name }}</td>
                        <td>{{ obj.last_name }}</td>
                        <td>{{ obj.email }}</td>
                        <td>{{ obj.password }}</td>
                            <td>{{ obj.created_at|date:"SHORT_DATE_FORMAT"  }}</td>
                            <td>{{ obj.updated_at|date:"SHORT_DATE_FORMAT"  }}</td>
{#                        <td><a href="{{ obj.userwebinfo.webdesign.get_absolute_url }}">{{ obj.userwebinfo.webdesign.name|capfirst }}</a></td>#}
                        {% with design=obj.userwebinfo.webdesign %}
                        <td>{{ design.get_popover|safe }}</td>
                        {% endwith %}
                        {% if obj.payment_status %}
                            <td>Paid</td>
                            <td>{{ obj.created_at|date:"SHORT_DATE_FORMAT"  }}</td>
                        {% else %}
                            <td>Unpaid</td>
                            <td>Pay Now</td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->
{% endcomment %}


<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-editbutton="false">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Email Accounts</h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->

        <!-- widget content -->
        <div class="widget-body no-padding">
            <div class="widget-body-toolbar">

            </div>
            <table id="datatable_tabletools" class="table table-striped table-hover">
                <thead>
                <tr>
{#                   <th>ID</th>#}
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Password </th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                </tr>
                </thead>
                <tbody id="new_account_row">

                {% for obj in object_list %}
                    <tr>
{#                        <td>{{ forloop.counter }}</td>#}
                        <td>{{ obj.first_name }}</td>
                        <td>{{ obj.last_name }}</td>
                        <td>{{ obj.email }}</td>
                        <td>{{ obj.password }}</td>
                        <td>{{ obj.created_at|date:"SHORT_DATE_FORMAT"  }}</td>
                        <td>{{ obj.updated_at|date:"SHORT_DATE_FORMAT"  }}</td>

                    </tr>
                {% endfor %}

{#                <tr style="display: none" id="new_account">#}
{#                </tr>#}


                </tbody>



            </table>

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->