<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Invoices </h2>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->

        <!-- widget content -->
        <div class="widget-body no-padding">
            <div class="widget-body-toolbar">

            </div>

            <table id="dt_basic" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Invoice</th>
                    <th>Invoice date</th>
                    <th>Item number (App ID)</th>
                    <th>Application/CMS </th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                </thead>
                <tbody>
                {% for obj in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td># {{ obj.invoice_number|upper }}</td>
                        <td>{{ obj.created_at|date:"SHORT_DATE_FORMAT"  }}</td>
                        <td><a  href="{{ obj.userwebinfo.get_absolute_url }}">{{ obj.userwebinfo.item_number|upper }}</a> </td>
{#                        <td><a href="{{ obj.userwebinfo.webdesign.get_absolute_url }}">{{ obj.userwebinfo.webdesign.name|capfirst }}</a></td>#}
                        {% with design=obj.userwebinfo.webdesign %}
                        <td>{{ design.get_popover|safe }}</td>
                        {% endwith %}
                        {% if obj.payment_status %}
                            <td>Paid</td>
                            <td><a href="{%  url 'invoice' obj.pk %}">View</a></td>
                        {% else %}
                            <td>Unpaid</td>
                            <td>Pay Now</td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->
