{% extends "base_alkaline.html" %}

{% load static %}

{% block meta_title %}FAQ{% endblock %}


{% block breadcrumb_heading %}
    <h3><em><strong>F</strong>requently <strong>A</strong>sked <strong>Q</strong>uestions</em></h3>

{% endblock %}

{% block breadcrumb_right %}
{% endblock %}



{% block main %}
    <hr class="half-margins invisible " />

    <div class="white">


        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>

        <hr class="half-margins" />

        {#        <div class="divider half-margins"><!-- divider --></div>#}

        <div class="toogle">

            {% for object in object_list %}

                <div class="toggle">
                    <label><strong>{{ forloop.counter }}.</strong> {{ object.question }}</label>
                    <div class="toggle-content">
                        {{ object.answer|safe }}
                    </div>
                </div>

            {% endfor %}




        </div>



    </div>
{% endblock %}



{% block callout_bottom %}

    <hr class="half-margins invisible">



    <div class="marco always-beautiful-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 always-beautiful section-description wow fadeIn">
                    <h2>Got More Questions?</h2>



                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 always-beautiful-box wow fadeInUp">
                    <img src="{% static 'marco/assets/img/can_remove/support_center1.png' %}" alt="" style="max-width: 70%; margin-top: -35px;">
                </div>
                <div class="col-sm-8 always-beautiful-box wow fadeInLeft">
                    <div class="always-beautiful-box-text always-beautiful-box-text-left">
                        <p class="medium-paragraph text-left" >

                            MBGorilla has one of the most comprehensive knowledgebase on 'how to'.
                            Hit our user manuals section if you require assistance on website creation and other activities.
                            Our user forums are also a great place to find answers where our community users help you out. Furthermore,
                            you can contact our support team for more specific issues.

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}

