{% extends "accounts/account_form.html" %}
{% load i18n static %}
{#{% extends 'base_alkaline.html' %}#}
{% comment %}
{% extends "accounts/account_form.html" %}
{% load i18n future %}

{% block main %}

{% if request.user.is_authenticated %}
    <p>{% trans "You're already logged in. If you'd like to log in as a different user, you'll need to log out first." %}</p>
{% else %}
    {{ block.super }}
    {% url "signup" as signup_url %}
    <p>{% blocktrans with request.GET.next as next %}If you don't have an account you can <a href="{{ signup_url }}?next={{ next }}">sign up</a> for one now.{% endblocktrans %}</p>
    {% url "mezzanine_password_reset" as password_reset_url %}
    {% url "profile_update" as profile_update_url %}
    {% blocktrans %}<p>You can also <a href="{{ password_reset_url }}?next={{ profile_update_url }}">reset your password</a> if you've forgotten it.</p>{% endblocktrans %}</p>
{% endif %}

{% endblock %}
{% endcomment %}




{% block breadcrumb_heading %}
    <h3><em>Sign</em> <strong><em>In</em></strong></h3>

{% endblock %}

{% block breadcrumb_right %}
{% endblock %}


{% block main %}
    <hr class="half-margins invisible " />


    <div class="white">

        {% if request.user.is_authenticated %}
            <p>{% trans "You're already logged in. If you'd like to log in as a different user, you'll need to log out first." %}</p>
        {% else %}
            {#    {{ block.super }}#}
            {% comment %}   <header class="page-header">
                    <h1>Log In</h1>
                </header>
{% endcomment %}
            <div class="row">

                <!-- LOGIN -->
                <div class="col-md-6">

                    {#                        <h4>Sign <strong>In</strong></h4>#}

                    <form method="post" action=".">
                        {% csrf_token %}

                        <!-- alert failed -->
                        {% if form.errors %}
                            <div class="row">

                                <div class="form-group">

                                    <div class="alert alert-mbg">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        Wrong <strong>E-mail Address</strong> or <strong>Password</strong>!
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Username/E-mail Address</label>
                                    <input type="text" value=""  name="username" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Password</label>
                                    <input type="password" value="" name="password" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <input type="submit" value="Sign In" class="btn btn-primary pull-right" data-loading-text="Loading...">
                            </div>
                        </div>

                    </form>

                </div>
                <!-- /LOGIN -->

                <!-- PASSWORD -->
                <div class="col-md-6">

                    <h4>Forgot <strong>Password</strong>?</h4>


                    {% url "mezzanine_password_reset" as password_reset_url %}
                    {% url "profile_update" as profile_update_url %}
                    {% blocktrans %}<p>You can also <a href="{{ password_reset_url }}?next={{ profile_update_url }}">reset your password</a> if you've forgotten it.</p>{% endblocktrans %}</p>

                    {#                        <h4>Don't have <strong>Account</strong>?</h4>#}

                    {#                        {% url "signup" as signup_url %}#}
                    {#                        <p>{% blocktrans with request.GET.next as next %}If you don't have an account you can <a href="{{ signup_url }}?next={{ next }}">sign up</a> for one now.{% endblocktrans %}</p>#}





                </div>
                <!-- /PASSWORD -->



            </div>



        {% endif %}



        {% comment %}    <div class="alert alert-default fade in">

					<div class="row">

						<div class="col-md-9 col-sm-8"><!-- left text -->
							<h3 class="nomargin">New <strong>User</strong></h3>
							<p class="nomargin">
								You are a new user and don't have an account yet?
							</p>
						</div><!-- /left text -->


						<div class="col-md-3 col-sm-4 text-right"><!-- right btn -->
                            {% url "signup" as signup_url %}
                            {% blocktrans with request.GET.next as next %}
							<a href="{{ signup_url }}?next={{ next }}" class="btn btn-primary btn-lg">REGISTER</a>
                            {% endblocktrans %}
						</div><!-- /right btn -->

					</div>

				</div>
{% endcomment %}



    </div>


{% endblock %}


{% block callout_bottom %}

    <hr class="half-margins invisible">

    <div class="marco always-beautiful-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 always-beautiful section-description wow fadeIn">
                    <h2>Get Inspired! </h2>

                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 always-beautiful-box wow fadeInUp">
                    <img src="{% static 'marco/assets/img/can_remove/contactus1.png' %}" alt="" style="max-width: 100%;">
                </div>
                <div class="col-sm-7 always-beautiful-box wow fadeInLeft">
                    <div class="always-beautiful-box-text always-beautiful-box-text-left">
                        <p class="medium-paragraph" >
                            While you sign in today, checkout this website created on MBGorilla by one of our users. We regularly feature websites to inspire you to try something new today.
                            Website screenshot and link

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}