{% extends 'accounts/account_form.html' %}
{% load i18n  static %}




{% block breadcrumb_heading %}
    <h3><em>Sign</em> <strong><em>Up</em></strong></h3>

{% endblock %}

{% block breadcrumb_right %}
{% endblock %}



{% block main %}
    <hr class="half-margins invisible " />

    <div class="white">
        {% comment %}<header class="page-header">
            <h1>Register</h1>
        </header>{% endcomment %}

        <div class="row">
            <!-- REGISTER -->
            <div class="col-md-6">

                <h4>Create <strong>Account</strong></h4>

                {% if request.user.is_authenticated %}
                    <p>{% trans "You're already logged in. If you'd like to create a new account, you'll need to log out first." %}</p>
                {% else %}
                    <form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>

                        {% csrf_token %}

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    {% if form.first_name.errors %}
                                        <div class="alert alert-mbg"><i class="fa fa-exclamation-triangle"></i>
                                            {{ form.first_name.errors|removetags:"ul li"|safe }}
                                        </div>
                                    {% endif %}
                                    <label>First Name</label>
                                    <input type="text" name={{ form.first_name.html_name }} value="{{ form.first_name.value|default_if_none:"" }}" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    {% if form.last_name.errors %}
                                        <div class="alert alert-mbg"><i class="fa fa-exclamation-triangle"></i>

                                            {{ form.last_name.errors|removetags:"ul li"|safe }}
                                        </div>
                                    {% endif %}
                                    <label>Last Name</label>
                                    <input type="text" name={{ form.last_name.html_name }} value="{{ form.last_name.value|default_if_none:"" }}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    {% if form.username.errors %}
                                        <div class="alert alert-mbg"><i class="fa fa-exclamation-triangle"></i>

                                            {{ form.username.errors|removetags:"ul li"|safe }}
                                        </div>
                                    {% endif %}
                                    <label>Username &nbsp;<strong>*</strong></label>
                                    <input type="text" name={{ form.username.html_name }} value="{{ form.username.value|default_if_none:"" }}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    {% if form.email.errors %}
                                        <div class="alert alert-mbg"><i class="fa fa-exclamation-triangle"></i>

                                            {{ form.email.errors|removetags:"ul li"|safe }}
                                        </div>
                                    {% endif %}
                                    <label>E-mail Address&nbsp;<strong>*</strong></label>
                                    <input type="text" name={{ form.email.html_name }} value="{{ form.email.value|default_if_none:"" }}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    {% if form.password1.errors %}
                                        <div class="alert alert-mbg"><i class="fa fa-exclamation-triangle"></i>

                                            {{ form.password1.errors|removetags:"ul li"|safe }}
                                        </div>
                                    {% endif %}
                                    <label>Password</label>
                                    <input type="password" name={{ form.password1.html_name }} value="{{ form.password1.value|default_if_none:'' }}" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    {% if form.password1.errors %}
                                        <div class="alert alert-mbg"><i class="fa fa-exclamation-triangle"></i>

                                            {{ form.password1.errors|removetags:"ul li"|safe }}
                                        </div>
                                    {% endif %}
                                    <label>Re-enter Password</label>
                                    <input type="password" name={{ form.password2.html_name }} value="{{ form.password2.value|default_if_none:'' }}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <p>{%  trans "By signing up here you agree to our Terms of Service" %}</p>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" value="Sign Up" class="btn btn-primary pull-right push-bottom" data-loading-text="Loading...">
                            </div>
                        </div>

                        {% comment %}    <div class="form-actions">
        {% block account_form_actions %}
        <input class="btn btn-primary btn-lg pull-right" type="submit" value="{{ title }}">
        {% endblock %}
    </div>{% endcomment %}
                    </form>

                    {#                    {% if settings.ACCOUNTS_APPROVAL_REQUIRED %}#}
                    {#                        <p>{% trans "After signing up, your account will be reviewed for approval. You'll receive an email when your account is activated." %}</p>#}
                    {#                    {% elif settings.ACCOUNTS_VERIFICATION_REQUIRED %}#}
                    {#                        <p>{% trans "After signing up, you'll receive an email with a link you need to click, in order to activate your account." %}</p>#}
                    {#                    {% endif %}#}

                {% endif %}


            </div>
            <!-- /REGISTER -->

            <!-- WHY? -->
            <div class="col-md-6">

                <h4>Start creating your website for FREE.</h4>

                <p>Once you're registered, you can:</p>
                <ul class="list-icon check">
                    <li>Buy, sell, and interact with other members.</li>
                    <li>Save your favorite searches and get notified.</li>
                    <li>Watch the status of up to 200 items.</li>
                    <li>View your Atropos information from any computer in the world.</li>
                    <li>Connect with the Atropos community.</li>
                </ul>


            </div>
            <!-- /WHY? -->

        </div>





    </div>
{% endblock %}



{% block callout_bottom %}

    <hr class="half-margins invisible">

    <div class="marco always-beautiful-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 always-beautiful section-description wow fadeIn">
                    <h2>Get On With Your Business </h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 always-beautiful-box wow fadeInUp">
                    <img src="{% static 'marco/assets/img/can_remove/launch3.png' %}" alt="" style="max-width: 80%; margin-top: -35px;">
                </div>
                <div class="col-sm-8 always-beautiful-box wow fadeInLeft">
                    <div class="always-beautiful-box-text always-beautiful-box-text-left">
                        <p class="medium-paragraph text-left" >
                            By signing up with MBGorilla, you are taking a step towards bringing your business to the online population. Explore the business models that our website creator supports. Our web apps are handpicked to serve your business utility as well as aesthetic needs. Find out which web apps best fit with your requirements.

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


