{% extends "base_alkaline.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}
{% comment %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li>{{ title }}</li>
{% endblock %}

{% endcomment %}



{% block breadcrumb_heading %}
    <h3><em>{{ title }}</em> </h3>

{% endblock %}

{% block breadcrumb_right %}
{% endblock %}



{% block main %}
        <div class="white">
{#            <header class="page-header">#}
{#                <h1>{{ title }}</h1>#}
{#            </header>#}

            {% errors_for form %}

            <form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                <fieldset>
                    {% csrf_token %}
                    {% fields_for form %}
                    <div class="form-actions">
                        {% block account_form_actions %}
                            <input class="btn btn-primary btn-lg pull-right" type="submit" value="{{ title }}">
                        {% endblock %}
                    </div>
                </fieldset>
            </form>
        </div>
{% endblock %}
