<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <!-- If you delete this meta tag, Half Life 3 will never be released. -->
    <meta name="viewport" content="width=device-width">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block meta_title %}Madebygorilla.com{% endblock %}</title>

    <style>
        *{margin:0;padding:0}*{font-family:"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif}img{max-width:100%}.collapse{margin:0;padding:0}body{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;width:100% !important;height:100%}a{color:#2ba6cb} .btn{display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: normal;line-height: 1.428571429;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;border: 1px solid transparent;border-radius: 4px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;color: #333;background-color: white;border-color: #CCC;} p.callout{padding:15px;background-color:#ecf8ff;margin-bottom:15px}.callout a{font-weight:bold;color:#2ba6cb}table.social{background-color:#ebebeb}.social .soc-btn{padding:3px 7px;border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; font-size:12px;margin-bottom:10px;text-decoration:none;color:#FFF;font-weight:bold;display:block;text-align:center}a.fb{background-color:#3b5998 !important}a.tw{background-color:#1daced !important}a.gp{background-color:#db4a39 !important}a.ms{background-color:#000 !important}.sidebar .soc-btn{display:block;width:100%}table.head-wrap{width:100%}.header.container table td.logo{padding:15px}.header.container table td.label{padding:15px;padding-left:0}table.body-wrap{width:100%}table.footer-wrap{width:100%;clear:both !important}.footer-wrap .container td.content p{border-top:1px solid #d7d7d7;padding-top:15px}.footer-wrap .container td.content p{font-size:10px;font-weight:bold}h1,h2,h3,h4,h5,h6{font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;line-height:1.1;margin-bottom:15px;color:#000}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-size:60%;color:#6f6f6f;line-height:0;text-transform:none}h1{font-weight:200;font-size:44px}h2{font-weight:200;font-size:37px}h3{font-weight:500;font-size:27px}h4{font-weight:500;font-size:23px}h5{font-weight:900;font-size:17px}h6{font-weight:900;font-size:14px;text-transform:uppercase;color:#444}.collapse{margin:0 !important}p,ul{margin-bottom:10px;font-weight:normal;font-size:14px;line-height:1.6}p.lead{font-size:17px}p.last{margin-bottom:0}ul li{margin-left:5px;list-style-position:inside}ul.sidebar{background:#ebebeb;display:block;list-style-type:none}ul.sidebar li{display:block;margin:0}ul.sidebar li a{text-decoration:none;color:#666;padding:10px 16px;margin-right:10px;cursor:pointer;border-bottom:1px solid #777;border-top:1px solid #fff;display:block;margin:0}ul.sidebar li a.last{border-bottom-width:0}ul.sidebar li a h1,ul.sidebar li a h2,ul.sidebar li a h3,ul.sidebar li a h4,ul.sidebar li a h5,ul.sidebar li a h6,ul.sidebar li a p{margin-bottom:0 !important}.container{display:block !important;max-width:600px !important;margin:0 auto !important;clear:both !important}.content{padding:15px;max-width:600px;margin:0 auto;display:block}.content table{width:100%}.column{width:300px;float:left}.column tr td{padding:15px}.column-wrap{padding:0 !important;margin:0 auto;max-width:600px !important}.column table{width:100%}.social .column{width:280px;min-width:279px;float:left}.clear{display:block;clear:both}@media only screen and (max-width:600px){a[class="btn"]{display:block !important;margin-bottom:10px !important;background-image:none !important;margin-right:0 !important}div[class="column"]{width:auto !important;float:none !important}table.social div[class="column"]{width:auto !important}}
    </style>

    <script type="text/javascript" src="safari-extension://com.diigo.safari.awesomeScreenshot-5DXNM3K2CT/522d22f2/javascripts/presto/prestosavings.js"></script></head>

<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" style="background-image: url(http://192.241.236.31/themes/preview/smartadmin/1.5/COMMON_ASSETS/GOODIES/email-templates/border.png);">
    <tbody><tr>
        <td></td>
        <td class="header container">

            <div class="content">
                <table>
                    <tbody><tr>
                        <td><img src="http://127.0.0.1:8000/static/marco/assets/img/mbgorilla_logo.png" height="30" width="142"></td>
                        <td align="right"><h6 class="collapse">{% block title %}{% endblock %}</h6></td>
                    </tr>
                    </tbody></table>
            </div>

        </td>
        <td></td>
    </tr>
    </tbody></table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
    <tbody><tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">

            <div class="content">
                <table>
                    <tbody><tr>
                        <td>

                            {% block main %}
                            {% endblock %}

                            {% block social_block %}
                                <!-- social & contact -->
                                <table class="social" width="100%">
                                    <tbody><tr>
                                        <td>

                                            <!-- column 1 -->
                                            <table align="left" class="column">
                                                <tbody><tr>
                                                    <td>

                                                        <h5 class="">Connect with Us:</h5>
                                                        <p class="">
                                                            <a href="#" class="soc-btn fb">Facebook</a>
                                                            <a href="#" class="soc-btn tw">Twitter</a>
                                                            <a href="#" class="soc-btn gp">Google+</a>
                                                        </p>


                                                    </td>
                                                </tr>
                                                </tbody></table><!-- /column 1 -->

                                            <!-- column 2 -->
                                            <table align="left" class="column">
                                                <tbody><tr>
                                                    <td>

                                                        <h5 class="">Contact Info:</h5>
                                                        <p>Phone: <strong>9717179975</strong><br>
                                                            Email: <strong><a href="emailto:support@madebygorilla.com">support@madebygorilla.com</a></strong></p>

                                                    </td>
                                                </tr>
                                                </tbody></table><!-- /column 2 -->

                                            <span class="clear"></span>

                                        </td>
                                    </tr>
                                    </tbody></table><!-- /social & contact -->
                            {% endblock %}

                        </td>
                    </tr>
                    </tbody></table>
            </div><!-- /content -->

        </td>
        <td></td>
    </tr>
    </tbody></table><!-- /BODY -->

{% block footer %}
    <!-- FOOTER -->
    <table class="footer-wrap">
        <tbody><tr>
            <td></td>
            <td class="container">

                <!-- content -->
                <div class="content">
                    <table>
                        <tbody><tr>
                            <td align="center">
                                <p>
                                    <a href="#">Terms</a> |
                                    <a href="#">Privacy</a>
                                </p>
                            </td>
                        </tr>
                        </tbody></table>
                </div><!-- /content -->

            </td>
            <td></td>
        </tr>
        </tbody></table><!-- /FOOTER -->
{% endblock %}

</body></html>



{#<br><a href="http://{{ request.get_host }}">http://{{ request.get_host }}</a>#}
