{% extends "email/base.html" %}

{% load i18n %}


{% block title %}
Activate you account
{% endblock %}

{% block main %}


    <h3>Hi There,</h3>

    <p class="lead" >Welcome to madebygorilla.com. You can activate your account by clicking on the link below:</p>

    <p><a href="http://{{ request.get_host }}{{ verify_url }}">http://{{ request.get_host }}{{ verify_url }}</a></p>

    <p>After you activate your account, you can start creating your websites. You can make any number of websites using your account.
        Your MBGorilla account lets you to create three sites for absolutely no charge. Your free sites are fully functional and allowed to be used for commercial purposes.
        Custom domains are not allowed in free sites. Your free sites will have a domain name similar to mysite.madebygorilla.com.
        To use your own domain name you'll have to upgrade a free site to a paid hosting plan.
        You also need to upgrade to a paid hosting in case you want to continue using a free website after its 30 day expiry period.
        Please familiarize yourself with our pricing plans if you want to start building a site with custom domain.</p>

    <!-- Callout Panel -->
    <p class="callout">
        You can find pricing details on following link <a href="#">Click it! »</a>
    </p><!-- /Callout Panel -->


    {#    <p>Want to change your notification preference? Click Here (Link)</p>#}
    {#    <p>This email was sent to {email ID}. If you are not the intended recipient of this email then please contact us {link} or click on this to opt out {Unsubscribe}</p>#}
    {#    <p>Headquarters of MBGorilla are situated at Krunk Systems (p) Ltd, Nehru Market, Dakpathar, Dehradun, Uttrakhand, India-248125</p>#}
    {#    <p>You can contact support by calling on 01360-222018</p>#}


    {#<p>{% trans "Hey there, thanks for creating your account." %}</p>#}
    {#<p>{% trans "Please use the link below to activate it." %}</p>#}




{% endblock %}
