<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
{% load static mezzanine_tags %}
<head>
    <meta charset="utf-8" />
    <title>{%  block meta_title %} {% endblock %} | MBG - Smarter Website Better eCommerce </title>
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="Author" content="Deepak Malik - krunksystems.com" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />


    {% block css %}
        <!-- WEB FONTS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
{#        <link href="http://fonts.googleapis.com/css?family=Pacifico:400,100" rel="stylesheet" type="text/css">#}

        {#        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,700' rel='stylesheet' type='text/css'>#}

        <!-- CORE CSS -->
        {#        <link href="{% static 'alkaline/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />#}
        <link rel="stylesheet" href="{%  static  'marco/assets/bootstrap/css/bootstrap.min.css' %}">
        <link href="{% static 'alkaline/assets/css/font-awesome.css' %}" rel="stylesheet" tyok pe="text/css" />
        <link href="{% static 'alkaline/assets/plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'alkaline/assets/plugins/owl-carousel/owl.theme.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'alkaline/assets/plugins/owl-carousel/owl.transitions.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'alkaline/assets/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css" />


        <!-- THEME CSS -->
        <link href="{% static 'alkaline/assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'alkaline/assets/css/layout.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'alkaline/assets/css/purple.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'alkaline/assets/css/wizard.css' %}" rel="stylesheet" type="text/css" />

        <!-- MENU STYLE -->
        {#                <link rel="stylesheet" href="{%  static  'marco/assets/css/media-queries.css' %}">#}


        <link href="{% static 'caffelatte/assets/css/menu-style.css' %}" rel="stylesheet" type="text/css"/>

        <!-- Setting of the page -->
        <link href="{% static 'caffelatte/assets/css/page-setting.css' %}" rel="stylesheet" type="text/css"/>

        <!-- Footer CSS -->
        <link href="{% static 'caffelatte/assets/css/footer.css' %}" rel="stylesheet" type="text/css"/>

         <link href="{% static 'caffelatte/assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="http://localhost/~cliste/mbg/custom.css" rel="stylesheet" type="text/css">


    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block head_js %}
        <!-- Morenizr -->
        <script type="text/javascript" src="{% static 'alkaline/assets/plugins/modernizr.min.js' %}"></script>
    {% endblock %}
    {% block extrahead_js %}

    {% endblock %}

    {% block backbone_template %}{% endblock %}

</head>

<!-- Body content -->

<body>
{% include 'menu.html' %}

<div id="wrapper">

    <div class="sparkle-features-container sparkle-container sparkle-container-gray-bg" id="sparkle">
        <div class="container">
            <div class="col-sm-6">
                {% block breadcrumb_heading %}

                {% endblock %}
            </div>
            <div class="col-sm-6 text-right">
                {% block breadcrumb_right %}

                {% endblock %}
            </div>

        </div>
    </div>



    <div id="middle" class="container">

        {%  block alert %}
            {% nevercache %}
                {% if messages %}

                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}

                {% endif %}
            {% endnevercache %}
        {%  endblock %}
        {% block main %} {% endblock %}
    </div>
    {#    {% include 'footer.html' %}#}


</div>



{% block callout_bottom %}

{% endblock %}


<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 footer-social">
                <a href="http://facebook.com/mbgorilla/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/mbgorilla" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://plus.google.com/108333649265809298254" target="_blank"><i class="fa fa-google-plus"></i></a>
                <a href="https://www.linkedin.com/company/madebygorilla/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://in.pinterest.com/madebygorilla/" target="_blank"><i class="fa fa-pinterest"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 footer-copyright text-left">
                <a href="{% url 'home' %}">Home</a> | <a href="/about/">About Us</a> | <a href="{% url 'cms' 'all' %}">Explore</a>  | <a href="/privacy/"> Privacy & Policy</a>

            </div>
            <div class="col-md-6 footer-copyright text-right">
                &copy; {% now 'Y' %} Krunk Systems Pvt Ltd
            </div>
        </div>
    </div>
</footer>

{% block js %}
    <!-- JAVASCRIPT FILES -->
    <script type="text/javascript" src="{% static 'alkaline/assets/plugins/jquery-2.0.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'alkaline/assets/plugins/jquery.easing.1.3.js' %}"></script>
    <script type="text/javascript" src="
    {% static 'alkaline/assets/plugins/jquery.appear.js' %}"></script>
    <script type="text/javascript" src="{% static 'alkaline/assets/plugins/jquery.isotope.js' %}"></script>
    <script type="text/javascript" src="{% static 'alkaline/assets/plugins/jquery.nicescroll.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'alkaline/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'alkaline/assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'alkaline/assets/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'alkaline/assets/plugins/knob/js/jquery.knob.js' %}"></script>


    <!-- MAXIMAGE SLIDER -->
    <script type="text/javascript" src="{% static 'alkaline/assets/plugins/maximage/js/jquery.cycle.all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'alkaline/assets/plugins/maximage/js/jquery.maximage.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'alkaline/assets/js/scripts.js' %}"></script>
    {#    <script type="text/javascript" src="{% static 'alkaline/assets/plugins/styleswitcher/styleswitcher.js' %}"></script><!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT -->#}
    <script src="{% static 'bigthing/assets/js/jquery.flexslider.js' %}"></script>
    <script src="{% static 'bigthing/assets/js/jquery.scrollTo-1.4.3.1-min.js' %}"></script>
    <script src="{% static 'bigthing/assets/js/jquery.localscroll-1.2.7-min.js' %}"></script>

    {#    <script type="application/javascript" src="{% static 'bigthing/assets/js/big-thing.js' %}"></script>#}


{% endblock %}
{% block extra_js %}
{% endblock %}
</body>
</html>
