{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			This is title
		</title>

		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
		 <link rel = "stylesheet" href = "{% static 'bootstrap/css/bootstrap-responsive.css' %}">
		 <script type="text/javascript" src="/static/js/jquery.min.js"></script>
		 <script type="text/javascript" src="/static/js/bootstrap.js"></script>

		 {% block head %}
		 {% endblock %}
	</head>
	<body>
		<div class="navbar navbar-static-top">
			<div class="navbar-inner">
				<a class="brand" href="{% url 'home' %}">Caffelatte</a>
				<ul class="nav divider-vertical">
					<li><a href="{% url 'cms' %}">explore CMS</a></li>
					<li><a href="{% url 'home' %}">Features</a></li>
					<li><a href="{% url 'home' %}#pricing">Pricing</a></li>
				</ul>
				<ul class="nav pull-right">
					{% if user.is_authenticated %}
					<li><a href="{% url 'logout' %}?next={% url 'home' %}"> logout</a></li>
					{% else %}
					<li><a href="{% url 'login' %}"> login </a></li>
					<li><a href="{% url 'signup' %}"> Sign up </a></li>
					{% endif %}
				</ul>
			</div>
		</div>
		{% block main %}
		{% endblock %}
	</body>

</html>

