{% extends "base.html" %}

{% block meta_title %}Unsubscribe {% endblock %}

{% block main %}

{% block head %}
<section class="slice color-one">
	<div class="w-section inverse">
    	<div class="container">
        	<div class="row">
                <div class="col-md-12">
                	<div class="text-center">
                    	<h4><i class="fa fa-4x">:(</i></h4>
                        <p>
                        <h3>We are sorry to find you are not any longer
                        interested in our newsletter. To help us improve our
                        services, we would be grateful if you could tell us
                        why</h3>
                        </p>
                        <span class="clearfix"></span>
                       <!-- 
                        <div class="text-center">
                            <a href="#" class="btn btn-lg btn-two margin-t-20">Whatch our video</a>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

    {% block data %}
    {% endblock %}

{% endblock %}
