<!-- begins footer -->
<div class = "foot">
    <section class="full-width newsletter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="heading">Join Our Newsletter</h3>
                    <p class="description">Stay up to date with the latest news by subscribing to our newsletter.</p>
                </div>
                <div class="col-md-6" id="form-class">
                    <div class="alert">
                        <button type="button" class="close"></button>
                        <p></p>
                    </div>
                    <form class="form-inline pull-right">
                        {#                <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" placeholder="youremail@domain.com">#}
                        {#                <input type="button" id="submit"  value="Subscribe Now" class="btn btn-primary" data-loading-text="Loading...">#}
                        <input type="email" id="subscribe_email" name="email" placeholder="youremail@domain.com">
                        <input type="button" id="submit" class="btn btn-primary" value="Subscribe Now">
                    </form>
                </div>
            </div>
    </section>
    <footer class="full-width footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 copyright">Copyright {% now 'Y '%} Krunk Systems pvt Ltd. All Rights Reserved.</div>
                <div class="col-md-6 socialmain">
                    <ul>
                        <li><a href="https://www.facebook.com/MBGorilla/" target="_blank"><i class="socicon facebookcircle"></i></a></li>
                        <li><a href="https://twitter.com/mbgorilla/" target="_blank"><i class="socicon twittercircle"></i></a></li>
                        {#                <li><a href="#"><i class="socicon dribbblecircle"></i></a></li>#}
                        {#                <li><a href="#"><i class="socicon googlecircle"></i></a></li>#}
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
