{% load static mezzanine_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> MadebyGorilla.com - Smarter Website Better eCommerce</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="{%  static  'marco/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%  static  'marco/assets/typicons/typicons.min.css' %}">
    <link rel="stylesheet" href="{%  static  'marco/assets/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{%  static  'marco/assets/css/animate.css' %}">
    <link rel="stylesheet" href="{%  static  'marco/assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{%  static  'marco/assets/css/form-elements.css' %}">
    <link rel="stylesheet" href="{%  static  'marco/assets/css/style.css' %}">
    <link rel="stylesheet" href="{%  static  'marco/assets/css/media-queries.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="{%  static 'assets/ico/favicon.png'  %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{%  static  'marco/assets/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{%  static  'marco/assets/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{%  static  'marco/assets/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{%  static  'marco/assets/ico/apple-touch-icon-57-precomposed.png' %}">

    <link href="{% static 'caffelatte/assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="http://localhost/~cliste/mbg/custom.css" rel="stylesheet" type="text/css">

    <script type="application/template" id="email_sent_to_activate">
        <%= r.activate_message %>
    </script>

</head>

<body>

<!-- Loader -->
<div class="loader">
    <div class="loader-img"></div>
</div>

{% comment %}<!-- Top menu -->
		<nav class="navbar navbar-xs navbar-inverse navbar-fixed-top navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-xs navbar-brand" href="/">MBGorilla</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="top-navbar-1">
					<ul class="nav navbar-nav navbar-right">
{#						<li><a class="scroll-link" href="#top-content">Top</a></li>#}
						<li><a class="scroll-link" href="#features">Features</a></li>
						<li><a class="scroll-link" href="#how-it-works">How it works</a></li>
{#						<li><a class="scroll-link" href="#pricing">Price</a></li>#}
						<li><a  href="{% url 'cms' 'all' %}">Explore</a></li>
                         {% if request.user.is_authenticated %}
                                <li><a  href="{% url 'caffelatte-dashboard' %}">My Dashboard</a></li>
                            {% else %}
                                <li><a  href="{% url 'signup' %}">Sign Up</a></li>
                                <li><a  href="{% url 'login' %}">Sign in</a></li>
                            {% endif %}




					</ul>
				</div>
			</div>
		</nav>
{% endcomment %}

{% include 'menu.html' with with_bg='navbar-no-bg' %}

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                {% if not user.is_authenticated %}

                    <div class="col-sm-7 text" >
                {% else %}
                    <div class="col-sm-12 text" >
                {% endif %}


                {#                    background-color: #000; opacity: .3; padding-top: 10px; padding-bottom: 20px; #}
                <div style="">
                    <h1 class="wow fadeInLeftBig"><strong style="text-shadow: 1px 1px 6px #888;"> Create Next Generation Websites</strong></h1>
                    <div class="description wow fadeInLeftBig">
                        <h3 style="text-shadow: 0px 0px 3px #000;color: #FFFFFF;">
                            Design and Set Up your Business Website and Go Live in Minutes.

                        </h3>
                    </div>
                    <div class="top-big-link wow fadeInUp cross-point">
                        <a class="btn btn-lg btn-link-2 scroll-link video" href="https://www.youtube.com/watch?v=nE-zKei06Mo"><i class="fa fa-play "> </i></a>

                        <a class="btn btn-link-2" href="{% url 'cms' 'all' %}">Explore more</a>
                    </div>
                </div>

                </div>

                {% if not user.is_authenticated %}
                    <div class="col-sm-5 form-box wow fadeInUp" id="user_create">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Sign up now</h3>
                                <p>Fill in the form below to get instant access:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </div>
                        <div class="form-bottom" id="form-body">
                            <form role="document" method="post">
                                {% comment %}<div class="form-group">
			                    		<label class="sr-only" for="form-first-name">First name</label>
			                        	<input type="text" name="form-first-name" placeholder="First name..." class="form-first-name form-control" id="form-first-name">
			                        </div>

			                        <div class="form-group">
			                        	<label class="sr-only" for="form-last-name">Last name</label>
			                        	<input type="text" name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name">
			                        </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Username</label>
                                <input type="text" name="form-username" placeholder="Username..." class="form-email form-control" id="form-username">
                                <label  class="display-none" id="err_username"></label>
                            </div>
{% endcomment %}
                                <div class="form-group">
                                    <label class="sr-only" for="form-email">Email</label>
                                    <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
                                    <label class="display-none" id="err_email"></label>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">Password</label>
                                    <input type="password" name="form-password" placeholder="Password" class="form-email form-control" id="form-password">
                                    <label class="display-none" id="err_password"></label>
                                </div>
                                {% comment %} <div class="form-group">
			                        	<label class="sr-only" for="form-email">Email</label>
			                        	<input type="password" name="form-email" placeholder="Verify Password" class="form-email form-control" id="form-email">
			                        </div>{% endcomment %}
                                {% comment %}

			                     <div class="form-group">
			                        	<label class="sr-only" for="form-about-yourself">About yourself</label>
			                        	<textarea name="form-about-yourself" placeholder="About yourself..."
			                        				class="form-about-yourself form-control" id="form-about-yourself"></textarea>
			                        </div>{% endcomment %}
                                <button id="create" class="btn" type="button">Sign me up!</button>
                                <div class="form-links">
                                    <a href="/privacy/">Privacy Policy</a> -
                                    <a href="#" class="launch-modal" data-modal-id="modal-faq">FAQ</a>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}



                <div style="margin-top: 482px;"></div>
                </div>
            </div>
        </div>

    </div>

    <!-- Features -->
    <div class="features-container section-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 features section-description wow fadeIn">
                    <h2>What's included</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 features-box features-box-gray wow fadeInUp">
                    <div class="features-box-icon">
                        <i class="fa fa-eye"></i>
                    </div>
                    <h3>Responsive</h3>
                    <p>Every website made on MBGorilla is multi-screen friendly for the mobile first generation. </p>
                </div>
                <div class="col-sm-4 features-box wow fadeInDown">
                    <div class="features-box-icon">
                        <i class="fa fa-thumbs-o-up"></i>
                    </div>
                    <h3>Free Upgrade</h3>
                    <p>All the upgrades for tool and application are free for life. Stay compliant with technology changes.</p>
                </div>
                <div class="col-sm-4 features-box features-box-gray wow fadeInUp">
                    <div class="features-box-icon">
                        <i class="fa fa-cog"></i>
                    </div>
                    <h3>Dedicated Hosting</h3>
                    <p>We've got Rackspace, world's most reliable hosting for your sites. No more worrying about shady local hosting.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 features-box wow fadeInUp">
                    <div class="features-box-icon">
                        <i class="fa fa-video-camera"></i>
                    </div>
                    <h3>HTML/Bootstrap Compatible</h3>
                    <p>Latest in the web technology, MBGorilla is a step over the php based web building tools.</p>
                </div>
                <div class="col-sm-4 features-box features-box-gray wow fadeInDown">
                    <div class="features-box-icon">
                        <i class="fa fa-mobile"></i>
                    </div>
                    <h3>Custom Development Support</h3>
                    <p>Break all limits and get the perfect website for your business with our custom development.</p>
                </div>
                <div class="col-sm-4 features-box wow fadeInUp">
                    <div class="features-box-icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <h3>Client Management</h3>
                    <p>Grow your web development business with our client management system.</p>
                </div>
            </div>

            {% if not user.is_authenticated %}
                <div class="row">
                    <div class="col-sm-12 section-bottom-button wow fadeInUp">
                        <a class="btn btn-link-1 scroll-link" href="#top-content">Sign up now</a>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

    <!-- More features -->
    <div class="more-features-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 more-features section-description wow fadeIn">
                    <h2>More features</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 more-features-box wow fadeInLeft">
                    <img src="{% static 'marco/assets/img/can_remove/more_features3.png' %}" alt="">
                </div>
                <div class="col-sm-7 more-features-box wow fadeInUp">
                    <div class="more-features-box-text">
                        <div class="more-features-box-text-icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <h3>Email Solution Inbuilt</h3>
                        <div class="more-features-box-text-description">
                            Don't worry about creating your company emails. Webmail inboxes come fully built in with every site you create with MBGorilla. Give out business email ID to your employees.
                        </div>
                    </div>
                    <div class="more-features-box-text">
                        <div class="more-features-box-text-icon">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <h3> Integration with Disqus, Google Analytics and Facebook</h3>
                        <div class="more-features-box-text-description">
                            All websites have great feature integration with some of the best third party applications for site comments, analytics and social APIs. .
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Always beautiful -->
    <div class="always-beautiful-container section-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 always-beautiful section-description wow fadeIn">
                    <h2>Always beautiful</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7 always-beautiful-box wow fadeInLeft">
                    <div class="always-beautiful-box-text always-beautiful-box-text-left">
                        <h2>For Simple Websites</h2>
                        <p>
                            Sign up, Select, Drag and Drop, Save. That's how we like to describe creating a website on MBG. We take the "no coding involved"
                            process to another level because now it does not limit your customizability.
                            MBG offers one of the best DIY website solutions in the world.

                        </p>
                    </div>
                </div>
                <div class="col-sm-5 always-beautiful-box wow fadeInUp">
                    <img src="{% static 'marco/assets/img/can_remove/simple5.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- Always beautiful -->
    <div class="always-beautiful-container section-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 always-beautiful section-description wow fadeIn">
                </div>
            </div>
            <div class="row">

                <div class="col-sm-5 always-beautiful-box wow fadeInUp">
                    <img src="{% static 'marco/assets/img/can_remove/not_simple4.png' %}" alt="">
                </div>

                <div class="col-sm-7 always-beautiful-box wow fadeInLeft">
                    <div class="always-beautiful-box-text always-beautiful-box-text-left">
                        <h2>For The Not So Simple Websites</h2>
                        <p>
                            No matter how simple we make it for the end-user to set up his or her own website,
                            it's always better to leave the task to someone specialized in it.
                            MBG is the simplest DIY web design tool but come to think of it, an entrepreneur,
                            a freelancer or a business should spend more time on active marketing than on creating and maintaining their websites.
                            Hiring web designers should be a more enriching experience. MBG empowers web designers who want to build better websites for their clients in lesser time.

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Always beautiful -->
    <div class="always-beautiful-container section-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 always-beautiful section-description wow fadeIn">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7 always-beautiful-box wow fadeInLeft">
                    <div class="always-beautiful-box-text always-beautiful-box-text-left">
                        <h2>For The Simply Astonishing Websites</h2>
                        <p>
                            With MBG your websites become living, breathing habitats for your business plans.
                            The state of the art integrated hosting takes away the complication of managing multiple web hosting accounts and solves the issues of scaling up.
                            All your sites load 20% faster too. MBG is the first platform which lets you develop websites that fit into your online business models - be it eCommerce, news/blogging, job portals or crowdfunding sites.
                            It's more secure to build sites on MBG too.
                        </p>
                    </div>
                </div>
                <div class="col-sm-5 always-beautiful-box wow fadeInUp">
                    <img src="{% static 'marco/assets/img/can_remove/astonishing4.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>



    <!-- How it works -->
    <div class="more-features-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 how-it-works section-description wow fadeIn">
                    <h2>Ready in 4 steps</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInUp">
                    <div class="how-it-works-box-icon">
                        {#                    <i class="fa fa-pencil"></i>#}
                        <img src="{% static 'marco/assets/img/can_remove/signup1.png' %}" alt="" style="max-width: 50%;">
                        {#                    <span aria-hidden="true" class="how-it-works-step">1</span>#}
                    </div>
                    <h3>Sign up</h3>
                    <p>Get started with a simple registration and activation.</p>
                </div>
                <div class="col-sm-4 col-sm-offset-2 how-it-works-box wow fadeInDown">
                    <div class="how-it-works-box-icon">
                        {#                    <i class="fa fa-ticket"></i>#}
                        <img src="{% static 'marco/assets/img/can_remove/chose_webapps2.png' %}" alt="" style="max-width: 50%;">
                        {#                    <span aria-hidden="true" class="how-it-works-step">2</span>#}
                    </div>
                    <h3>Choose Web Apps</h3>
                    <p>Pick the Web Apps that fits your business model. See preview.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInUp">
                    <div class="how-it-works-box-icon">
                        {#                    <i class="fa fa-key"></i>#}
                        <img src="{% static 'marco/assets/img/can_remove/features1.png' %}" alt="" style="max-width: 50%;">
                        {#                    <span aria-hidden="true" class="how-it-works-step">3</span>#}
                    </div>
                    <h3>Select Features </h3>
                    <p>Simple drag and drop widgets and enable other features you want.</p>
                </div>
                <div class="col-sm-4 col-sm-offset-2 how-it-works-box wow fadeInDown">
                    <div class="how-it-works-box-icon">
                        {#                    <i class="fa fa-thumbs-up"></i>#}

                        <img src="{% static 'marco/assets/img/can_remove/live1.png' %}" alt="" style="max-width: 50%;">
                        {#                    <span aria-hidden="true" class="how-it-works-step">4</span>#}
                    </div>
                    <h3>Go Live </h3>
                    <p>Check final preview and deploy site with one click.</p>
                </div>
            </div>

            {% comment %}<div class="row">
            <div class="col-sm-12 section-bottom-button wow fadeInUp">
                <a class="btn btn-link-1 scroll-link" href="#top-content">Sign up now</a>
            </div>
        </div>{% endcomment %}


        </div>
    </div>

    <!-- Pricing -->
    <div class="pricing-container section-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 pricing section-description wow fadeIn">
                    <h2>Pricing</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 pricing-box wow fadeInUp">

                    {% comment %}                		<div class="pricing-box-inner">
		                	<div class="pricing-box-price"><span>$ </span><strong>12</strong><span> / month</span></div>
		                    <h3>Basic</h3>
		                    <h4>Freelancer</h4>
		                    <div class="pricing-box-features">
		                    	<ul>
		                    		<li>1000 video lessons</li>
		                    		<li>Normal speed</li>
		                    		<li>500 solved exercises</li>
		                    		<li>300MB to save your code</li>
		                    		<li>750 hours of support</li>
		                    	</ul>
		                    </div>
		                    <div class="pricing-box-sign-up">
		                    	<a class="btn btn-link-1 scroll-link" href="#top-content">Sign up</a>
		                    </div>
	                    </div>{% endcomment %}

                </div>
                <div class="col-sm-4 pricing-box pricing-box-best wow fadeInDown">
                    <div class="pricing-box-inner">
                        <div class="pricing-box-price">
                            <span>$ </span><strong>35</strong><span> / month</span>
                            <div class="pricing-box-icon">
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <h3>Ultimate</h3>
                        <h4>Best value</h4>
                        <div class="pricing-box-features">
                            <ul>
                                <li>3000 video lessons</li>
                                <li>2x speed</li>
                                <li>2000 solved exercises</li>
                                <li>500MB to save your code</li>
                                <li>900 hours of support</li>
                            </ul>
                        </div>

                        {% if not user.is_authenticated %}
                            <div class="pricing-box-sign-up">
                                <a class="btn btn-link-1 scroll-link" href="#top-content">Sign up</a>
                            </div>
                        {% endif %}

                    </div>
                </div>
                <div class="col-sm-4 pricing-box wow fadeInUp">
                    {% comment %}<div class="pricing-box-inner">
		                	<div class="pricing-box-price"><span>$ </span><strong>75</strong><span> / month</span></div>
		                    <h3>Platinum</h3>
		                    <h4>Big company</h4>
		                    <div class="pricing-box-features">
		                    	<ul>
		                    		<li>5000 video lessons</li>
		                    		<li>4x speed</li>
		                    		<li>4000 solved exercises</li>
		                    		<li>900MB to save your code</li>
		                    		<li>Unlimited hours of support</li>
		                    	</ul>
		                    </div>
		                    <div class="pricing-box-sign-up">
		                    	<a class="btn btn-link-1 scroll-link" href="#top-content">Sign up</a>
		                    </div>
		                </div>{% endcomment %}
                </div>
            </div>
        </div>
    </div>

    {% comment %} <!-- Call to action -->
        <div class="call-to-action-container section-container section-container-image-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 call-to-action section-description wow fadeInLeftBig">
	                    <h2>Call to action</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                    <p>
	                    	Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut 
	                    	aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud.
	                    </p>
	                </div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-12 section-bottom-button wow fadeInUp">
                        <a class="btn btn-link-1 scroll-link" href="#top-content">Sign up now</a>
	            	</div>
	            </div>
	        </div>
        </div>
        <!-- About us -->
        <div class="about-us-container section-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 about-us section-description wow fadeIn">
	                    <h2>About us</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-4 about-us-box wow fadeInUp">
		                <div class="about-us-photo">
		                	<img src="{% static 'marco/assets/img/about/1.jpg' %}" alt="" data-at2x="{% static 'marco/assets/img/about/1.jpg' %}">
		                	<div class="about-us-role">Marketing</div>
		                </div>
	                    <h3>John Doe</h3>
	                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
	                    <div class="about-us-social">
		                	<a href="#"><i class="fa fa-facebook"></i></a>
		                	<a href="#"><i class="fa fa-dribbble"></i></a>
		                    <a href="#"><i class="fa fa-twitter"></i></a>
		                </div>
	                </div>
	                <div class="col-sm-4 about-us-box wow fadeInDown">
		                <div class="about-us-photo">
		                	<img src="{% static 'marco/assets/img/about/2.jpg' %}" alt="" data-at2x="{% static 'marco/assets/img/about/2.jpg' %}">
		                	<div class="about-us-role">Designer</div>
		                </div>
	                    <h3>Tim Brown</h3>
	                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
	                    <div class="about-us-social">
		                	<a href="#"><i class="fa fa-facebook"></i></a>
		                	<a href="#"><i class="fa fa-dribbble"></i></a>
		                    <a href="#"><i class="fa fa-twitter"></i></a>
		                </div>
	                </div>
	                <div class="col-sm-4 about-us-box wow fadeInUp">
		                <div class="about-us-photo">
		                	<img src="{% static 'marco/assets/img/about/3.jpg' %}" alt="" data-at2x="{% static 'marco/assets/img/about/3.jpg' %}">
		                	<div class="about-us-role">Developer</div>
		                </div>
	                    <h3>Sarah Red</h3>
	                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
	                    <div class="about-us-social">
		                	<a href="#"><i class="fa fa-facebook"></i></a>
		                	<a href="#"><i class="fa fa-dribbble"></i></a>
		                    <a href="#"><i class="fa fa-twitter"></i></a>
		                </div>
	                </div>
	            </div>
	        </div>
        </div>

        {% endcomment %}


    <!-- Testimonials -->
    <div class="testimonials-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 testimonials section-description wow fadeIn">
                    <h2>Testimonials</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 testimonial-list wow fadeInUp">
                    <div role="tabpanel">
                        <!-- Tab panes -->
                        <div class="tab-content">

                            {% for testimonial in testimonials %}
                                <div role="tabpanel" class="tab-pane fade {% if forloop.first %}in active{% endif %}" id="tab{{ testimonial.id }}">

                                    <div class="testimonial-image">
                                        {% if testimonial.image %}
                                            <img src="{{ MEDIA_URL }}{% thumbnail testimonial.image 150 150 %}" alt="" data-at2x="{{ MEDIA_URL }}{% thumbnail testimonial.image 150 150 %}">
                                            <div class="testimonial-icon">
                                                <i class="fa fa-thumb-tack"></i>
                                            </div>

                                        {% else %}
                                            {#                                    <img src="{% static 'marco/assets/img/testimonials/2.jpg' %}" alt="" data-at2x="{% static 'marco/assets/img/testimonials/2.jpg' %}">#}
                                        {% endif %}


                                    </div>


                                    <div class="testimonial-text">
                                        {{ testimonial.msg_from|safe }}

                                        <p>
                                            - {{ testimonial.name }}
                                            {% if testimonial.designation %}
                                                ,{{ testimonial.designation }}
                                            {% endif %}
                                            {% if testimonial.company_name and testimonial.company_website %}
                                                <a href="{{ testimonial.company_website }}" target="_blank">{{ testimonial.company_name }}</a>
                                            {% elif testimonial.company_name %}
                                                ,{{ testimonial.company_name }}
                                            {% endif %}
                                        </p>


                                    </div>
                                </div>
                            {% endfor %}

                            {% comment %}
	                			<div role="tabpanel" class="tab-pane fade in active" id="tab1">
	                				<div class="testimonial-image">
	                					<img src="{% static 'marco/assets/img/testimonials/1.jpg' %}" alt="" data-at2x="{% static 'marco/assets/img/testimonials/1.jpg' %}">
	                					<div class="testimonial-icon">
	                						<i class="fa fa-thumb-tack"></i>
	                					</div>
	                				</div>
	                				<div class="testimonial-text">
		                                <p>
		                                	"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
		                                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
		                                	Lorem ipsum dolor sit amet, consectetur..."<br>
		                                	<a href="#">Lorem Ipsum, dolor.co.uk</a>
		                                </p>
	                                </div>
	                			</div>

	                			<div role="tabpanel" class="tab-pane fade" id="tab3">
	                				<div class="testimonial-image">
	                					<img src="assets/img/testimonials/3.jpg" alt="" data-at2x="assets/img/testimonials/3.jpg">
	                					<div class="testimonial-icon">
	                						<i class="fa fa-thumb-tack"></i>
	                					</div>
	                				</div>
	                				<div class="testimonial-text">
		                                <p>
		                                	"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
		                                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
		                                	Lorem ipsum dolor sit amet, consectetur..."<br>
		                                	<a href="#">Lorem Ipsum, dolor.co.uk</a>
		                                </p>
	                                </div>
	                			</div>
	                			<div role="tabpanel" class="tab-pane fade" id="tab4">
	                				<div class="testimonial-image">
	                					<img src="assets/img/testimonials/4.jpg" alt="" data-at2x="assets/img/testimonials/4.jpg">
	                					<div class="testimonial-icon">
	                						<i class="fa fa-thumb-tack"></i>
	                					</div>
	                				</div>
	                				<div class="testimonial-text">
		                                <p>
		                                	"Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
		                                	ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
		                                	lobortis nisl ut aliquip ex ea commodo consequat..."<br>
		                                	<a href="#">Minim Veniam, nostrud.com</a>
		                                </p>
	                                </div>
	                			</div>{% endcomment %}
                        </div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            {% for testimonial in testimonials %}
                                <li role="presentation"  {% if forloop.first %}class="active"{% endif %}>
                                    <a href="#tab{{ testimonial.id }}" aria-controls="tab{{ testimonial.id }}" role="tab" data-toggle="tab"></a>
                                </li>
                            {% endfor %}


                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 footer-social">
                    <a href="http://facebook.com/mbgorilla/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/mbgorilla" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://plus.google.com/108333649265809298254" target="_blank"><i class="fa fa-google-plus"></i></a>
                    <a href="https://www.linkedin.com/company/madebygorilla/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://in.pinterest.com/madebygorilla/" target="_blank"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 footer-copyright text-left">
                    <a href="{% url 'home' %}">Home</a> | <a href="/about/">About Us</a> | <a href="{% url 'cms' 'all' %}">Explore</a>  | <a href="/privacy"> Privacy & Policy</a>
                </div>
                <div class="col-md-6 footer-copyright text-right">
                    &copy; {% now 'Y' %} Krunk Systems Pvt Ltd
                </div>
            </div>
        </div>
    </footer>


    <!-- MODAL: Privacy policy -->
    <div class="modal fade" id="modal-privacy" tabindex="-1" role="dialog" aria-labelledby="modal-privacy-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h2 class="modal-title" id="modal-privacy-label">Privacy policy</h2>
                </div>
                <div class="modal-body">
                    <h3>1. Dolor sit amet</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                    </p>
                    <ul>
                        <li>Easy To Use</li>
                        <li>Awesome Design</li>
                        <li>Cloud Based</li>
                    </ul>
                    <p>
                        Ut wisi enim ad minim veniam, <a href="#">quis nostrud exerci tation</a> ullamcorper suscipit lobortis nisl ut aliquip ex ea
                        commodo consequat nostrud tation.
                    </p>
                    <h3>2. Sed do eiusmod</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                    </p>
                    <h3>3. Nostrud exerci tation</h3>
                    <p>
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                        commodo consequat nostrud tation.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL: Frequent questions -->
    <div class="modal fade" id="modal-faq" tabindex="-1" role="dialog" aria-labelledby="modal-faq-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h2 class="modal-title" id="modal-faq-label">Frequent questions</h2>
                </div>
                <div class="modal-body">
                    {% for f in faq %}
                        <h3>{{ f.question }}</h3>
                        <p>{{ f.answer|safe }}</p>
                    {% endfor %}

                    {% comment %}<h3>1. Lorem ipsum dolor?</h3>
        				<p>
	                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
	                    	labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	                    </p>
	                    <h3>2. Ut wisi enim ad minim?</h3>
	                    <p>
	                    	Ut wisi enim ad minim veniam, <a href="#">quis nostrud exerci tation</a> ullamcorper suscipit lobortis nisl ut aliquip ex ea
	                    	commodo consequat nostrud tation.
	                    </p>
	                    <h3>3. Sed do eiusmod tempor?</h3>
	                    <p>
	                    	Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	                    </p>
	                    <h3>4. Nostrud exerci tation?</h3>
	                    <p>
	                    	Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
	                    	commodo consequat nostrud tation.
	                    </p>
	                    <h3>5. Consectetur adipisicing elit?</h3>
	                    <p>
	                    	Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
	                    	labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	                    </p>{% endcomment %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                    <a href="{% url 'faq_list' %}"  target="_blank"><button type="button" class="btn">More</button></a>
                </div>
            </div>
        </div>
    </div>


    <!-- Javascript -->
    <script src="{%  static  'marco/assets/js/jquery-1.11.1.min.js' %}"></script>
    <script src="{%  static  'marco/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{%  static  'marco/assets/js/jquery.backstretch.min.js' %}"></script>
    <script src="{%  static  'marco/assets/js/wow.min.js' %}"></script>
    <script src="{%  static  'marco/assets/js/retina-1.1.0.min.js' %}"></script>
    <script src="{%  static  'marco/assets/js/waypoints.min.js' %}"></script>
    <script src="{%  static  'marco/assets/js/scripts.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
    <!--[if lt IE 10]>
            <script src="{%  static  'marco/assets/js/placeholder.js' %}"></script>
        <![endif]-->

    <script type="application/javascript">

        $('.video').magnificPopup({
                    type: 'iframe',

                    iframe: {
                        markup: '<div class="mfp-iframe-scaler">' +
                        '<div class="mfp-close"></div>' +
                        '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>' +
                        '</div>', // HTML markup of popup, `mfp-close` will be replaced by the close button

                        patterns: {
                            youtube: {
                                index: 'youtube.com/', // String that detects type of video (in this case YouTube). Simply via url.indexOf(index).

                                id: 'v=', // String that splits URL in a two parts, second part should be %id%
                                // Or null - full URL will be returned
                                // Or a function that should return %id%, for example:
                                // id: function(url) { return 'parsed id'; }

                                src: '//www.youtube.com/embed/%id%?autoplay=1' // URL that will be set as a source for iframe.
                            },
                            vimeo: {
                                index: 'vimeo.com/',
                                id: '/',
                                src: '//player.vimeo.com/video/%id%?autoplay=1'
                            },
                            gmaps: {
                                index: '//maps.google.',
                                src: '%id%&output=embed'
                            }

                            // you may add here more sources

                        },

                        srcAction: 'iframe_src', // Templating object key. First part defines CSS selector, second attribute. "iframe_src" means: find "iframe" and set attribute "src".
                    }

                }
        );


    </script>


    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
    <script src="{% static 'js/models.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/application.js' %}" type="application/javascript"></script>


</body>

</html>