{% load static %}
<!-- Top menu -->
<nav class="navbar navbar-xs navbar-inverse navbar-fixed-top {{ with_bg }} effect1" role="navigation">

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-xs navbar-brand" href="{% url 'home' %}"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a  href="{% url 'cms' 'all' %}">Explore</a></li>
                {% if not request.user.is_authenticated %}
                    <li><a  href="{% url 'caffeauth:signup' %}">Signup</a></li>
                {% endif %}

                <li class="dropdown dropdown-large">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span><i class="fa fa-th-large"></i> </span></a>
                    <ul class="dropdown-menu dropdown-menu-large row" style="background-color: #6e548d;">
                        <li class="col-sm-4 text-center">
                            <ul>
                                {% if request.user.is_authenticated %}
                                    <li>
                                        <a href="{% url 'caffelatte-dashboard' %}">
                                            <i class="fa fa-th-large fa-4x" ></i>
                                            <p>Dashboard</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "knowledge_index" %}">
                                            <i class="fa fa-home fa-4x" ></i>
                                            <p>Help</p>
                                        </a>
                                    </li>

                                {% else %}
                                    <li>
                                        <a  href="{% url 'caffeauth:login' %}">
                                            <i class="fa fa-sign-in fa-4x"></i>
                                            <p>Sign in</p>
                                        </a>
                                    </li>
                                {% endif %}

                                <li>
                                    <a  href="{% url 'faq_list' %}">
                                        <i class="fa fa-question fa-4x"></i>
                                        <p>FAQ</p>
                                    </a>
                                </li>


                            </ul>

                        </li>

                        <li class="col-sm-4 text-center">
                            <ul>
                                <li>
                                    <a  href="/about/">
                                        <i class="fa fa-users fa-4x"></i>
                                        <p> About Us</p>
                                    </a>

                                </li>

                                <li>
                                    <a  href="{% url 'contact_create' %}">
                                        <i class="fa fa-user fa-4x"></i>
                                        <p>Contact </p>
                                    </a>
                                </li>

                            </ul>

                        </li>
                        <li class="col-sm-4 text-center">
                            <ul>
                                <li>
                                    <a  href="{% url 'blog_post_list' %}">
                                        <i class="fa fa-pencil fa-4x"></i>
                                        <p> Blog</p>
                                    </a>

                                </li>
                                {% if request.user.is_authenticated %}

                                    <li>
                                        <a  href="{% url 'caffeauth:logout' %}">
                                            <i class="fa fa-sign-out fa-4x"></i>
                                            <p>Sign Out</p>
                                        </a>
                                    </li>
                                {% else %}

                                    <li>
                                        <a  href="{% url "knowledge_index" %}">
                                            <i class="fa fa-user fa-4x"></i>
                                            <p>Knowledge</p>
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>

                        </li>


                    </ul>
                </li>

                {% comment %}
                <li class="dropdown dropdown-large">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Large Dropdown <b class="caret"></b></a>

                    <ul class="dropdown-menu dropdown-menu-large row">
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">
                                    Glyphicons
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Available glyphs</a>
                                </li>
                                <li class="disabled">
                                    <a href="javascript:void(0);">How to use</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Examples</a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">
                                    Dropdowns
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Example</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Aligninment options</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Headers</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Disabled menu items</a>
                                </li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">
                                    Button groups
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Basic example</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Button toolbar</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Sizing</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Nesting</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Vertical variation</a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">
                                    Button dropdowns
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Single button dropdowns</a>
                                </li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">
                                    Input groups
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Basic example</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Sizing</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Checkboxes and radio addons</a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">
                                    Navs
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Tabs</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Pills</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Justified</a>
                                </li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">
                                    Navbar
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Default navbar</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Buttons</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Text</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Non-nav links</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Component alignment</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Fixed to top</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Fixed to bottom</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Static top</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Inverted navbar</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </li>{% endcomment %}


            </ul>
        </div>
    </div>
</nav>


{% comment %}<!-- HEADER -->

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,700' rel='stylesheet' type='text/css'>

<header class="header">
    <nav id = "top-nav" class= "navbar navbar-default " role="navigation" >
        <div id="inner">
            <div class = "container">
                <button type="button" class="btn navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="nav-brand" data-section="body"  href="{% url 'home' %}" class="logo"></a>
                <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                    <h2 class="hide">Main Navigation</h2>
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'home' %}"> Home </a> </li>
                        <li><a href="{% url 'home' %}#features-section">Features</a></li>
{#                        <li><a href="{% url 'home' %}#testimonials-section">TESTIMONIALS</a></li>#}
{#                        <li><a href="{% url 'home' %}#pricing-head">PRICING</a></li>#}
                            {% url 'cms' 'all'  as url %}
                            <li><a href="{{ url }}">Explore</a></li>
                        {% if request.user.is_authenticated %}
                            <li><a class="btn btn-primary" href="{% url 'caffelatte-dashboard' %}">My Dashboard</a></li>
                        {% else %}
                            <li><a  href="{% url 'signup' %}">Sign Up</a></li>
                            <li><a class ="btn btn-primary" href="{% url 'login' %}">Sign in</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>

</header>
<!-- /HEADER -->{% endcomment %}
