{% extends "base_subscribe.html" %}

{% block head %}

<section class="slice color-one">
	<div class="w-section inverse">
    	<div class="container">
        	<div class="row">
                <div class="col-md-12">
                	<div class="text-center">
                    	<h4><i class="fa fa-4x">:(</i></h4>
                        <h3>You are not subscribed for newsletters service </h3>
                        <span class="clearfix"></span>
                        <p style="margin-top:20px;">
                    	<!--
                        <a href="#" class="btn btn-lg btn-one" style="margin-right:10px;">Learn more</a>
                        -->
                        <a href="{% url 'home' %}" class="btn btn-lg
                        btn-two">Subscribe me again</a>
                        </p>
                       <!-- 
                        <div class="text-center">
                            <a href="#" class="btn btn-lg btn-two margin-t-20">Whatch our video</a>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

