{% extends "base_subscribe.html" %}


{% block data %}
<section class="slice ">
	<div class="w-section inverse">
    	<div class="container">
            <div class="row">
            	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="w-section inverse">                       
                        <div class="w-box dark sign-in-wr">
                        	<span class="form-icon color-two">
                            	<i class="fa fa-users"></i>
                            </span>
                            <form role="form" class="form-light padding-15" method="post" action="." >
                                {% csrf_token %}
                                <div class="form-group">
                                    {% if form.email %}
                                        <input type="email" class="form-control" value="{{ form.email.value }}" id="id_email" placeholder="Enter email">
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% if form.unsubscribe_reason %}
                                        <textarea class="form-control" value="{{ form.unsubscribe_reason.value }}" id="id_unsubscribe_reason" placeholder="why do you want to unsubsribe "></textarea>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-three pull-right" value="unsubscribe">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

{% endblock %}
