{% extends "base_alkaline.html" %}

{% load static %}

{% block meta_title %}Contact Us{% endblock %}


{% block breadcrumb_heading %}
    <h3><em><strong>Contact</strong> Us</em></h3>

{% endblock %}

{% block breadcrumb_right %}
{% endblock %}

{% block main %}
    <div class="white">

        {##}
        {#        <div id="gmap"><!-- google map --></div>#}
        <script type="text/javascript">
            var	$googlemap_latitude 	= 30.509172,
                    $googlemap_longitude	= 77.834631,
                    $googlemap_zoom			= 13;
        </script>

        <hr class="half-margins invisible" />

        <div class="row">

            <!-- FORM -->
            <div class="col-md-8">
                {{ success }}
                <form action="{% url 'contact_create' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>{{ form.subject.label }} *</label>
                                {{ form.subject }}
                                {#                                <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject">#}
                            </div>
                            {% if form.subject.errors %}
                                <div class="alert alert-mbg"><i class="fa fa-exclamation-triangle"></i>
                                    {{ form.subject.errors|removetags:"ul li" }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>{{ form.name.label }} *</label>
                                {#                                <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name">#}
                                {{ form.name }}
                                {% if form.name.errors %}
                                    <div class="alert alert-mbg"><i class="fa fa-exclamation-triangle"></i>
                                        {{ form.name.errors|removetags:"ul li" }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <label>{{ form.email.label }} *</label>
                                {#                                <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email">#}
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <div class="alert alert-mbg"><i class="fa fa-exclamation-triangle"></i>
                                        {{ form.email.errors|removetags:"ul li" }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>{{ form.message.label }} *</label>
                                {#                                <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message"></textarea>#}
                                {{ form.message }}
                                {% if form.message.errors %}
                                    <div class="alert alert-mbg"><i class="fa fa-exclamation-triangle"></i>
                                        {{ form.message.errors|removetags:"ul li" }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="Send Message" class="btn btn-primary btn-lg" data-loading-text="Loading...">
                        </div>
                    </div>

                </form>

            </div>
            <!-- /FORM -->


            <!-- INFO -->
            <div class="col-md-4">

                <h3><strong>Visit</strong> Us</h3>

                <p>
                    Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.
                </p>

                <div class="divider half-margins"><!-- divider 30px --></div>

                {#                        <h4 class="font400">Business Hours</h4>#}


                <p>
                    <span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> Krunk Systems pvt Ltd, Nehru Market Dakpathar, Dehradun, Uttrakhand, India</span>
                    <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong>+91-971-717-9975</span>
                    <span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@krunksystems.com">info@krunksystems.com</a></span>
                </p>

                <div class="divider half-margins"><!-- divider 30px --></div>

                <h4 class="font400">Business Hours</h4>
                <p>
                    <span class="block"><strong>Monday - Friday:</strong> 10am to 6pm</span>
                    <span class="block"><strong>Saturday:</strong> 10am to 2pm</span>
                    <span class="block"><strong>Sunday:</strong> Closed</span>
                </p>

            </div>
            <!-- /INFO -->

        </div>


    </div>
{% endblock %}

{% block callout_bottom %}

    <hr class="half-margins invisible">


    <div class="marco always-beautiful-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 always-beautiful section-description wow fadeIn">
                    <h2>Get in touch</h2>

                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 always-beautiful-box wow fadeInUp">
                    <img src="{% static 'marco/assets/img/can_remove/contactus4.png' %}" alt="" style="max-width: 70%; margin-top: -35px;">
                </div>
                <div class="col-sm-8 always-beautiful-box wow fadeInLeft">
                    <div class="always-beautiful-box-text always-beautiful-box-text-left">
                        <p class="medium-paragraph text-left" >
                            Use this form to get in touch with our office for enquiries related to business opportunities, copyrights related matters, advertising etc.
                            We'll appreciate your feedback and testimonials too. You can also share your experience with our website and services. We'll be very eager to hear from you.
                            If you want to submit support request then please go to the support section(Link).

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock %}