{%  load caffelatte_tags %}
<div class="collapse navbar-collapse navbar-inverse">
    <ul class="nav navbar-nav">
        {% url 'caffelatte-domain-information' domain.id as info %}
        <li {% is_active info %}>
            <a href="{{ info }}">Information</a>
        </li>

        {% url 'caffelatte-update-domain' domain.id as public_domain%}
{#        <li {% is_active public_domain %}>#}
{#            <a href="{{ public_domain }}">Domains</a>#}
{#        </li>#}

{% comment %}
        {% url 'caffelatte-update-mail' domain.id  as update_email %}
        <li {% is_active update_email %}>
            <a href="{{ update_email }}"> Email Configuration</a>
        </li>
{% endcomment %}

         {% url 'caffelatte-update-project' domain.id as proj %}
        <li {% is_active proj %}>
            <a href="{{ proj }}">Project Settings</a>
        </li>


        {% url 'caffelatte-update-emails' domain.id  as email_accounts %}
        <li {% is_active email_accounts %}>
            <a href="{{ email_accounts }}"> Email Accounts</a>
        </li>



        {% url 'caffelatte-update-plan' domain.id as plan %}
        <li {% is_active plan %}>
            <a href="{{ plan }}">Upgrade My plan</a>
        </li>

        {% url 'domain-invoices' domain.id as invoices %}
        <li {%  is_active invoices %}>
            <a href="{{ invoices }}">Invoices</a>
        </li>

    </ul>
</div>
