{% load static %}
<div class="row">

    <div class="col-sm-12">

        <div class="well well-light">

            <h1>Service, <small> Plans</small></h1>
            <div class="row">

                {% for p in plan %}
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="panel panel-success pricing-big">

                            <div class="panel-heading">
                                <h3 class="panel-title">{{ p.name }}</h3>
                            </div>
                            <div class="panel-body no-padding text-align-center">
                                <div class="the-price">
                                    <h1>
                                        {% if p.name == 'Demo' %}
                                            <strong>Free</strong></h1>
                                        {% else %}
                                            ${{ p.get_price }}<span class="subscript">/ mo</span></h1>
                                        {% endif %}
                                </div>
                                <div class="price-features">
                                    <ul class="list-unstyled text-left">

                                        {% for f in p.features.all %}
                                            <li><i class="fa fa-check text-success"></i>&nbsp;{{ f.feature }}</li>
                                        {% endfor %}

                                        {#							  <li><i class="fa fa-times text-danger"></i> <strong>Allowed</strong> to be exclusing per sale</li>#}
                                    </ul>
                                </div>
                            </div>
                            <form method='POST' action="{% url 'caffelatte-update-planchange' object.id %}">
                                {% csrf_token %}
                                <input type="hidden" value='{{ p.id }}' name='plan' id='id_plan'>
                                {% if object.plan.plan_seq < p.plan_seq %}
                                    <div class="panel-footer text-align-center">
                                        <button class="btn btn-primary btn-block" type="submit" >Upgrade via <span> Paypal</span></button>
                                    </div>
                                {% elif object.plan.plan_seq > p.plan_seq %}
                                    <div class="panel-footer text-align-center">
                                        <button class="btn btn-primary btn-block" type="submit" disabled >Download <span> now!</span></button>
                                    </div>

                                {% elif object.plan.plan_seq == p.plan_seq %}
                                    <div class="panel-footer text-align-center">
                                        {%  if object.status == 'DISABLED' %}
                                            {%  if object.plan.name == 'DEMO' %}
                                                <button class="btn btn-primary btn-block" type="submit" > <span> now!</span></button>
                                            {%  else %}
                                                <button class="btn btn-primary btn-block" type="submit">Renew <span> now!</span></button>
                                            {%  endif %}
                                        {%  else %}
                                            <button class="btn btn-primary btn-block" type="submit" disabled >Your current plan <span> now!</span></button>
                                        {%  endif %}
                                        <div>
                                            <a href="#"><i>We accept all major credit cards</i></a>
                                        </div>
                                    </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                {% endfor %}

                {% comment %}
			<div class="col-xs-12 col-sm-6 col-md-3">
			    <div class="panel panel-teal pricing-big">
				
				<div class="panel-heading">
				    <h3 class="panel-title">
					Personal Project</h3>
				</div>
				<div class="panel-body no-padding text-align-center">
				    <div class="the-price">
					<h1>
					    $99<span class="subscript">/ mo</span></h1>
				    </div>
							<div class="price-features">
								<ul class="list-unstyled text-left">
							  <li><i class="fa fa-check text-success"></i> 2 years access <strong> to all storage locations</strong></li>
							  <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> storage</li>
							  <li><i class="fa fa-check text-success"></i> Superbig <strong> download quota</strong></li>
							  <li><i class="fa fa-check text-success"></i> <strong>Cash on Delivery</strong></li>
							  <li><i class="fa fa-check text-success"></i> All time <strong> updates</strong></li>
							  <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> access to all files</li>
							  <li><i class="fa fa-check text-success"></i> <strong>Allowed</strong> to be exclusing per sale</li>
							</ul>
							</div>
				</div>
				<div class="panel-footer text-align-center">
				    <a href="javascript:void(0);" class="btn btn-primary btn-block" role="button">Purchase <span>via Paypal</span></a>
					<div>
						<a href="javascript:void(0);"><i>We accept all major credit cards</i></a>
					</div>
				</div>
			    </div>
			</div>
			
			<div class="col-xs-12 col-sm-6 col-md-3">
			    <div class="panel panel-primary pricing-big">
				    <img src="{% static 'dashboard/img/ribbon.png' %}" class="ribbon" alt="">
				<div class="panel-heading">
				    <h3 class="panel-title">
					Developer Bundle</h3>
				</div>
				<div class="panel-body no-padding text-align-center">
				    <div class="the-price">
					<h1>
					    $350<span class="subscript">/ mo</span></h1>
				    </div>
							<div class="price-features">
								<ul class="list-unstyled text-left">
							  <li><i class="fa fa-check text-success"></i> 2 years access <strong> to all storage locations</strong></li>
							  <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> storage</li>
							  <li><i class="fa fa-check text-success"></i> Superbig <strong> download quota</strong></li>
							  <li><i class="fa fa-check text-success"></i> <strong>Cash on Delivery</strong></li>
							  <li><i class="fa fa-check text-success"></i> All time <strong> updates</strong></li>
							  <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> access to all files</li>
							  <li><i class="fa fa-check text-success"></i> <strong>Allowed</strong> to be exclusing per sale</li>
							</ul>
							</div>
				</div>
				<div class="panel-footer text-align-center">
				    <a href="javascript:void(0);" class="btn btn-primary btn-block" role="button">Purchase <span>via Paypal</span></a>
					<div>
						<a href="javascript:void(0);"><i>We accept all major credit cards</i></a>
					</div>
				</div>
			    </div>
			</div>
			
			<div class="col-xs-12 col-sm-6 col-md-3">
			    <div class="panel panel-darken pricing-big">
				
				<div class="panel-heading">
				    <h3 class="panel-title">
					Premium Package</h3>
				</div>
				<div class="panel-body no-padding text-align-center">
				    <div class="the-price">
					<h1>
					    $999<span class="subscript">/ mo</span></h1>
				    </div>
							<div class="price-features">
								<ul class="list-unstyled text-left">
							  <li><i class="fa fa-check text-success"></i> Lifetime access <strong> to all storage locations</strong></li>
							  <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> storage</li>
							  <li><i class="fa fa-check text-success"></i> Superbig <strong> download quota</strong></li>
							  <li><i class="fa fa-check text-success"></i> <strong>Cash on Delivery</strong></li>
							  <li><i class="fa fa-check text-success"></i> All time <strong> updates</strong></li>
							  <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> access to all files</li>
							  <li><i class="fa fa-check text-success"></i> <strong>Allowed</strong> to be exclusing per sale</li>
							</ul>
							</div>
				</div>
				<div class="panel-footer text-align-center">
				    <a href="javascript:void(0);" class="btn btn-primary btn-block" role="button">Purchase <span>via Paypal</span></a>
					<div>
						<a href="javascript:void(0);"><i>We accept all major credit cards</i></a>
					</div>
				</div>
			    </div>
		    </div>		    	
		    {% endcomment %}
            </div>
        </div>
    </div>

