<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false" data-widget-custombutton="false">
	<!-- widget options:
		usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
		
		data-widget-colorbutton="false"	
		data-widget-editbutton="false"
		data-widget-togglebutton="false"
		data-widget-deletebutton="false"
		data-widget-fullscreenbutton="false"
		data-widget-custombutton="false"
		data-widget-collapsed="true" 
		data-widget-sortable="false"
		
	-->
	<header>
		<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
		<h2>Email Configuration</h2>
		
	</header>

	<!-- widget div-->
	<div>
		
		<!-- widget edit box -->
		<div class="jarviswidget-editbox">
			<!-- This area used as dropdown edit box -->
			
		</div>
		<!-- end widget edit box -->
		
		<!-- widget content -->
		<div class="widget-body no-padding">
			
			<form id="review-form" class="smart-form" method="POST">
				{% csrf_token %}
				<header>
                    Email Configuration
				</header>
				<fieldset>
					<section>
					<label class="label">
						<strong>Email Backend: </strong>{{ email.email_backend }}
					</label>
					</section>
					<section>
					<label class="label">
						<strong>Email Host: </strong>{{ email.email_host }}
					</label>
					</section>
                    					<section>
					<label class="label">
						<strong>Email Hosting User: </strong>{{ email.email_host_user }}
					</label>
					</section>
                    <section>
					<label class="label">
						<strong>Email Hosting Password: </strong>{{ email.email_host_password }}
					</label>
					</section>
                    					<section>
					<label class="label">
						<strong>Email Port : </strong>{{ email.email_port }}
					</label>
					</section>
                    					<section>
					<label class="label">
						<strong>Email Backend: </strong>{{ email.email_use_tls }}
					</label>
					</section>
				</fieldset>
				<footer>
				<a href="{% url 'djsaltstack:email_edit' email.id %}" class="btn btn-primary">
						Edit
					</a>
				</footer>

			</form>						
			
		</div>
		<!-- end widget content -->
		
	</div>
	<!-- end widget div -->
	
</div>
