<articale>
	<!-- Widget ID (each widget will need unique ID)-->
	<div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
		<!-- widget options:
		usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

		data-widget-colorbutton="false"
		data-widget-editbutton="false"
		data-widget-togglebutton="false"
		data-widget-deletebutton="false"
		data-widget-fullscreenbutton="false"
		data-widget-custombutton="false"
		data-widget-collapsed="true"
		data-widget-sortable="false"

		-->
		<header>
			<ul class="nav nav-tabs pull-left in">

				<li class="active">

				<a  href="{% url 'caffelatte-update-domain' domain.id %}"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> Domain Name</span> </a>

				</li>

				<li>
				<a  href="{% url 'caffelatte-update-dns' domain.id %}"> <i class="fa fa-lg fa-arrow-circle-o-up"></i> <span class="hidden-mobile hidden-tablet"> DNS <span class="label bg-color-blue txt-color-white"> label <i class="fa fa-exclamation"></i> </span> </span> </a>
					</li>
					<li><a href="{% url 'caffelatte-update-mail' domain.id %}">Email Configuration</a></li>
					<li><a href="{% url 'caffelatte-update-project' domain.id %}">Project</a></li>
					<li><a href="{% url 'caffelatte-update-plan' domain.id %}">Upgrade my plan</a></li>
					<li><a href="{% url 'domain-invoices' domain.id %}">Invoices</a></li>


			</ul>
		</header>

		<!-- widget div-->
		<div>

			<!-- widget edit box -->
			<div class="jarviswidget-editbox">
				<!-- This area used as dropdown edit box -->

			</div>
			<!-- end widget edit box -->

			<!-- widget content -->
			<div class="widget-body">

				<div class="tab-content">
					<div class="tab-pane active" id="hr1">
						<h3>Domain</h3>
					</div>
					<div class="tab-pane" id="hr2">

					</div>
				</div>

			</div>
			<!-- end widget content -->

		</div>
		<!-- end widget div -->

	</div>
	<!-- end widget -->

</article>
<!-- WIDGET END -->

