{% load blog_tags keyword_tags mezzanine_tags i18n future %}

{% block blog_recent_posts %}

    <div class="widget">
        <!-- TABS -->
        <div class="tabs nomargin-top">
            <!-- tabs -->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab1" data-toggle="tab" aria-expanded="true">Popular</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab1" class="tab-pane active">
                    {% blog_recent_posts 5 as recent_posts %}
                    {% if recent_posts %}
                        {#                        <h3>{% trans "RECENT POSTS" %}</h3>#}
                        <ul>
                            {% for recent_post in recent_posts %}
                                <li>
                                    {% spaceless %}
                                        <a href="{{ recent_post.get_absolute_url }}">
{#                                            <i class="fa fa-arrow-circle-right"></i>#}
                                            {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
                                                <img src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 24 24 %}">
                                            {% endif %}
                                            {{ recent_post.title }}
                                        </a>
                                    {% endspaceless %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block blog_categories %}
    <div class="widget">
        {% blog_categories as categories %}
        {% if categories %}
            <h4>{% trans "CATEGORIES" %}</h4>
            <ul class="nav nav-list">
                {% for category in categories %}
                    <li><a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>
                        {#    <i class="fa fa-circle-o"></i> {{ category }}</a> ({{ category.post_count }})#}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
{% comment %}



{% block blog_months %}
    {% blog_months as months %}
    {% if months %}
        <h3>{% trans "ARCHIVE" %}</h3>
        {% for month in months %}
            {% ifchanged month.date.year %}
                {% if not forloop.first %}</ul>{% endif %}
                <h6> {{ month.date.year }}</h6><ul class="list-unstyled">
            {% endifchanged %}
            <li><a href="{% url "blog_post_list_month" year=month.date.year month=month.date.month %}"
                    ><i class="fa fa-archive"></i>{{ month.date|date:"F" }}</a> ({{ month.post_count }})</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}


{% block blog_keywords %}
    {% keywords_for blog.blogpost as tags %}
    {% if tags %}
        <h3>{% trans "TAGS" %}</h3>
        <ul class="list-inline tag-cloud">
            {% for tag in tags %}
                <li>
                    <a href="{% url "blog_post_list_tag" tag.slug %}"
                       class="tag-weight-{{ tag.weight }}"><i class="fa fa-tags"></i> {{ tag }}</a>
                    ({{ tag.item_count }})
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block blog_authors %}
    {% blog_authors as authors %}
    {% if authors %}
        <h4>{% trans "AUTHORS" %}</h4>
        <ul class="list-unstyled">
            {% for author in authors %}
                <li><a href="{% url "blog_post_list_author" author.username %}"
                        ><i class="fa fa-user"></i> {{ author.get_full_name|default:author.username }}</a>
                    ({{ author.post_count }})</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}



{% block blog_feeds %}
    <h3>{% trans "FEEDS" %}</h3>
    {% if tag %}
        <a href="{% url "blog_post_feed_tag" tag.slug "rss" %}">{% trans "RSS" %}</a> /
        <a href="{% url "blog_post_feed_tag" tag.slug "atom" %}">{% trans "Atom" %}</a>
    {% endif %}
    {% if category %}
        <a href="{% url "blog_post_feed_category" category.slug "rss" %}">{% trans "RSS" %}</a> /
        <a href="{% url "blog_post_feed_category" category.slug "atom" %}">{% trans "Atom" %}</a>
    {% endif %}
    {% if author %}
        <a href="{% url "blog_post_feed_author" author.username "rss" %}">{% trans "RSS" %}</a> /
        <a href="{% url "blog_post_feed_author" author.username "atom" %}">{% trans "Atom" %}</a>
    {% endif %}
    {% if not tag and not category and not author %}
        <a href="{% url "blog_post_feed" "rss" %}">{% trans "RSS" %}</a> /
        <a href="{% url "blog_post_feed" "atom" %}">{% trans "Atom" %}</a>
    {% endif %}
{% endblock %}{% endcomment %}
