{% load static i18n caffelatte_tags %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

    <title>{%  trans "Caffelatte Admin" %}  </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Use the correct meta names below for your web application
         Ref: http://davidbcalhoun.com/2010/viewport-metatag

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'dashboard/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'dashboard/css/font-awesome.min.css' %}">

    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'dashboard/css/smartadmin-production.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'dashboard/css/smartadmin-skins.css' %}">

    <!-- SmartAdmin RTL Support is under construction
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'dashboard/css/smartadmin-rtl.css' %}"> -->

    <!-- We recommend you use "your_style.css" to override SmartAdmin
		     specific styles this will also ensure you retrain your customization with each SmartAdmin update.
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'dashboard/css/your_style.css' %}"> -->

    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
{#    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'dashboard/css/demo.css' %}">#}

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="{% static 'dashboard/img/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'dashboard/img/favicon/favicon.ico' %}" type="image/x-icon">

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
    {%  block extrahead_js %}{% endblock %}
</head>
<body class="{% block body_id %} {% endblock %}">
<!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->
{% block header %}
    {% include 'dashboard/includes/top_menu.html' %}
{% endblock %}

{% block left-navigation %}
    {% include 'dashboard/includes/left_nevigation.html' %}
{% endblock %}

<!-- MAIN PANEL -->
<div id="main" role="main">
    {% block ribbon %}
        {% ribbon "Home" %}
    {% endblock %}

    <!-- MAIN CONTENT -->
    <div id="content">
        {%  block sparks %}
            {%  sparks %}
        {%  endblock %}

        {% block menu %}
        {%  endblock %}

        <!-- widget grid -->
        <section id="widget-grid" class="">
            <!-- row -->
            <div class="row">
                {%  block content %}
                    <!-- NEW WIDGET START -->
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    </article>
                {%  endblock %}
            </div>
        </section>

    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN PANEL -->

{% block shortcut %}
    {% include 'dashboard/includes/shortcuts.html' %}
{% endblock %}

{% include 'dashboard/includes/js/base.html' %}

{% block extra_js %}
{% endblock %}

{% include 'dashboard/includes/js/google.html' %}

</body>

</html>
