{% extends 'dashboard/base.html' %}

{%  load caffelatte_tags %}

{% block ribbon %}
<!-- RIBBON -->
<div id="ribbon">

	<span class="ribbon-button-alignment"> <span id="refresh" class="btn btn-ribbon" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true"><i class="fa fa-refresh"></i></span> </span>

	<!-- breadcrumb -->
	<ol class="breadcrumb">
		<li>Home</li><li>Dashboard</li>
	</ol>
	<!-- end breadcrumb -->

	<!-- You can also add more buttons to the
	ribbon for further usability

	Example below:

	<span class="ribbon-button-alignment pull-right">
	<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
	<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
	<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
	</span> -->

</div>
<!-- END RIBBON -->
{% endblock %}
{% block content %}
<!-- MAIN CONTENT -->
<div id="content">

    {%  sparks %}

	<!-- widget grid -->
	<section id="widget-grid" class="">

		<!-- row -->
		<div class="row">
			<article class="col-sm-12">
				{% include 'dashboard/includes/widgets/livefeeds.html' %}
			</article>
		</div>

		<!-- end row -->

		<!-- row -->
		<div class="row">

			<article class="col-sm-12 col-md-12 col-lg-6">
				{% include 'dashboard/includes/widgets/smartchat.html' %}
				{% include 'dashboard/includes/widgets/myevents.html' %}

			</article>

			<article class="col-sm-12 col-md-12 col-lg-6">
				{% include 'dashboard/includes/widgets/birdeye.html' %}
				{% include 'dashboard/includes/widgets/todo.html' %}
			</article>

		</div>
		<!-- end row -->

	</section>
	<!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
{% endblock %}

{% block extra_js %}
{% include 'dashboard/includes/js/dashboard.html' %}
{% endblock %}
