{% extends 'dashboard/base.html' %}
{% block menu %}
    <div class="row">
        <article class="col-sm-12">
            {% include 'dashboard/includes/navbars.html' %}
        </article>
    </div>
{% endblock %}

{% block content %}
        <br>
{% comment %}
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false" data-widget-custombutton="false"
         xmlns="http://www.w3.org/1999/html">
        <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

        -->
        <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
            <h2>Review form </h2>

        </header>

        <!-- widget div-->
        <div>

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->

            <!-- widget content -->
            <div class="widget-body no-padding">
                {{  form.errors }}
                <form class="smart-form" method="POST" action=".">
                    {% csrf_token %}
                    <header>
                        User Info
                    </header>

                    <fieldset>
                        <section class="col col-6">
                            <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
                                {{ form.email_backend }}
                                <div class="note"> {{ form.email_backend.help_text }}</div>
                            </label>
                        </section>

                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-append fa fa-envelope-o"></i>
                                {{ form.email_host }}
                                <div class="note"> {{ form.email_host.help_text }}</div>
                            </label>
                        </section>

                        <section class="col col-6">
                            <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
                                {{ form.email_host_password }}
                                <div class="note"> {{ form.email_host_password.help_text }}</div>
                            </label>
                        </section>

                        <section class="col col-6">
                            <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
                                {{ form.email_host_user }}
                                <div class="note"> {{ form.email_host_user.help_text }}</div>
                            </label>
                        </section>

                        <section class="col col-6">
                            <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
                                {{ form.email_port }}
                                <div class="note"> {{ form.email_port.help_text }}</div>
                            </label>
                        </section>

                        <section class="col col-6">
                            <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
                                {{ form.email_subject_prefix }}
                                <div class="note"> {{ form.email_subject_prefix.help_text }}</div>
                            </label>
                        </section>

                        <section class="col col-6">
                            <label class="checkbox">
                                {{ form.email_use_tls.label }}
                                {{ form.email_use_tls }}<i></i>
                                <div class="note">{{ form.email_use_tls.help_text }}</div>

                            </label>
                        </section>


                    </fieldset>
                    <footer>
                        <input type="submit" value="Save" class="btn btn-primary"/>
                    </footer>

                </form>

            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
    </article>

{% endcomment %}
    {% with heading='Email configuration'  %}
        {% include 'dashboard/includes/forms/custom_form.html' %}
    {% endwith %}
{% endblock %}



{% block extra_js %}
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function() {

            pageSetUp();
        });
    </script>
{% endblock %}