{% extends 'dashboard/base.html' %}

{%  load caffelatte_tags i18n static %}

    {% block ribbon %}
        {% ribbon "Home,Domain" %}
    {% endblock %}


{% block sparks %}
{% sparks sparks_head=domain.get_sld sparks_tail="Project Settings" %}
{% endblock %}


{% block extrahead_js %}

    <script type="application/template" id="email_setting_template">
                            <form id="checkout-form" class="smart-form" novalidate="novalidate">


							<fieldset>

                                <div class="row" style="display: none">
                                    <input type="hidden" class="form-control" id='uwi' value="{{ domain.id }}"required />
                                    <input type="hidden" class="form-control" id='email_conf_id' value="{{ email_conf.id }}"required />
                                    <input type="hidden" class="form-control" id='core_setting_uri' value="<%= r.settings %>"required />
                                </div>
                                    <section>
                                        <div class="note note-error" id='err_settings'></div>
                                    </section>


									<section >
										<label class="input" id="label_email_backend"> <i class="icon-prepend fa fa-user"></i>
											<input type="text" name="email_backend" id="email_backend" placeholder="Email Backend" value="<%= r.email_backend %>">
										</label>
                                        <div class="note note-error" id='err_first_name'></div>

									</section>


                                 <section>
									<label class="input" id="label_email_host">
										<input type="text" name="email_hostname" id="email_hostname" placeholder="Email hostname" value="<%= r.email_host %>">
									</label>
                                     <div class="note note-error" id="err_email_host"></div>

								</section>

                                <div class="row">
                                    <section class="col col-6">
                                        	<label class="input" id="label_email_host_user">
										<input type="text" name="email_username" id="email_username" placeholder="Email Username" value="<%= r.email_host_user %>">
									</label>
                                     <div class="note note-error" id="err_email_host_user"></div>
                                    </section>

                                     <section class="col col-6">
                                        	<label class="input" id="label_email_host_password">
										<input type="text" name="email_password" id="email_password" placeholder="Password" value="<%= r.email_host_password %>">
									</label>
                                     <div class="note note-error" id="err_email_host_password"></div>
                                    </section>
                                </div>

                                <div class="row">
                                    <section class="col col-6">
                                        <label class="input" id="label_email_subject_prefix">
                                            <input type="text" name="email_subject_prefix" id="email_subject_prefix" placeholder="Subject Prefix" value="<%= r.email_subject_prefix %>">
                                        </label>
                                        <div class="note note-error" id="err_email_subject_prefix"></div>
                                    </section>

                                    <section class="col col-3">
                                        <label class="input" id="label_email_port">
                                            <input type="text" name="email_port" id="email_port" placeholder="Port" value="<%= r.email_port %>">
                                        </label>
                                        <div class="note note-error" id="err_email_port"></div>
                                    </section>

                                    <section class="col col-3">

{#                                        <label class="label">Radios</label>#}
                                        <div class="row">
                                            <div class="col col-3">
                                                <label class="checkbox" id="lable_email_use_tls">
                                                <input type="checkbox" name="email_use_tls" id="email_use_tls" "<% if (r.email_use_tls)  { %> checked <% } %>" ><i></i>TSL/SSL</label>
                                            </div>
                                        </div>
                                        <div class="note note-error" id="err_email_use_tls">


                                        </div>

                                    </section>


                                </div>
							</fieldset>
						</form>
    </script>

    <script type="application/template" id="email_setting_template_after_update">

                            <div class="col-sm-4 col-sm-offset-1">
                                <h5><i class="fa fa-desktop"></i> &nbsp;Email backend:</h5>
                                <span><%= r.email_backend %></span>
                                <h5><i class="fa fa-tag"></i> &nbsp;Hostname:</h5>
                                <span><%= r.email_host %></span>
                                <h5><i class="fa fa-external-link"></i> &nbsp;User:</h5>
                                <span><%= r.email_host_user %></span>
                            </div>
                            <div class="col-sm-4 text-align-left">
                                <h5><i class="fa fa-rocket"></i>&nbsp; Password:</h5>
                                <span><%= r.email_host_password %></span>
                                <h5><i class="fa fa-calendar"></i> &nbsp; Port </h5><span><%= r.email_port %></span>
                                <h5><i class="fa fa-calendar"></i> &nbsp;Subject prefix:</h5><span><%= r.email_subject_prefix %></span>


                            </div>
                            <div class="col-sm-3 text-align-left">
                                <h5>TLS/SSL:</h5>
                                    <span><%= r.email_use_tls %></span>
                            </div>

    </script>

    <script type="application/template" id="core_setting_template">

        <form id="checkout-form" class="smart-form" novalidate="novalidate">
            <div class="row">
                <input type="hidden" class="form-control" id='uwi' value="{{ domain.id }}"required />
                <input type="hidden" class="form-control" id='core_setting' value="{{ site.id }}"required />

            </div>

            <fieldset>
                <section>
                    <label class="input" id="label_allowed_host">
                        <input type="text" name="allowed_domain" id="allowed_domain" placeholder="Allowed domain" value="<%= r.allowed_host %>">
                    </label>
                    <div class="note note-error" id="err_allowed_host"></div>
                    <div class="note note-help-dialog">Allowed host are which you want </div>

                </section>
            </fieldset>

        </form>

    </script>

    <script type="application/template" id="core_setting_template_after_update">
        <hr>
        <div class="col-sm-4 col-sm-offset-1">
            <h5>Allowed domain:</h5>
            <span><%= r.allowed_host %></span>
        </div>

        <div class="col-sm-4 text-align-left">
        </div>

        <div class="col-sm-3 text-align-left">
        </div>

    </script>

{% endblock %}


{% block menu %}
	<div class="row">
		<article class="col-sm-12">
		{% include 'dashboard/includes/navbars.html' %}
		</article>
	</div>
	{% endblock %}


{% block content %}

    <div id="setting_main">
        <button style="display: none;" type="button" id="alert_coresetting_update_success" class="btn btn-default"></button>
        <button style="display: none;" type="button" id="alert_emailconf_update_success" class="btn btn-default"></button>

    <button style="display: none;" id='show_core_setting'  data-toggle="modal" data-target="#setting_core"> Core</button>
        <button style="display: none;" id="show_email_setting"  data-toggle="modal" data-target="#setting_email"> email</button>

        <div class="modal fade" id="setting_core" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h3 class="modal-title" id="myModalLabel">Core Configuration</h3>
                        {% api_key %}
                    </div>
                    <div class="modal-body" id="core_setting_form">




                        {% comment %}<div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>{{ domain.get_sld  }}</strong></label>
                                    <input type="hidden" class="form-control" id='uwi' value="{{ domain.id }}"required />
                                </div>

                                <div class="form-group">
                                    <div class="alert alert-danger"></div>
                                    <label class="input"> <i class="icon-prepend fa fa-user"></i>
                                    <input type="text" class="form-control" id='first_name' placeholder="First Name" required />
                                        </label>
                                    <div class="note note-error">This is a required field.</div>

                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='last_name' placeholder="Last Name" required />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='username' placeholder="Username " required />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='password' placeholder="Password" required />
                                </div>
                            </div>
                        </div>{% endcomment %}

                    </div>
                    <div class="modal-footer">
                       <button id="cancel_update_core_setting" type="button" class="btn btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                        <button id="update_core_setting" type="button" class="btn btn-primary">
                            Create
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div class="modal fade" id="setting_email" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h3 class="modal-title" id="myModalLabel">Project Email Configuration</h3>
                        {% api_key %}
                    </div>
                    <div class="modal-body" id="email_setting_form">



                        {% comment %}<div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>{{ domain.get_sld  }}</strong></label>
                                    <input type="hidden" class="form-control" id='uwi' value="{{ domain.id }}"required />
                                </div>
                                <div class="form-group">
                                    <div class="alert alert-danger"></div>
                                    <label class="input"> <i class="icon-prepend fa fa-user"></i>
                                    <input type="text" class="form-control" id='first_name' placeholder="First Name" required />
                                        </label>
                                    <div class="note note-error">This is a required field.</div>

                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='last_name' placeholder="Last Name" required />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='username' placeholder="Username " required />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='password' placeholder="Password" required />
                                </div>
                            </div>
                        </div>{% endcomment %}

                    </div>
                    <div class="modal-footer">
                        <button id="cancel_updated_email_setting" type="button" class="btn btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                        <button id="update_email_setting" type="button" class="btn btn-primary">
                            Create
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->






       <br/>
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false">
            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
            <header>
                <span class="widget-icon"> <i class="fa fa-barcode"></i> </span>
                <h2>Item #44761 </h2>

            </header>

            <!-- widget div-->
            <div>

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body no-padding">
                    <div class="widget-body-toolbar">

                        <div class="row">

                            <div class="col-sm-12">
                                 <div class="pull-right">
                                <h1 class="font-200">Project settings</h1>

                        </div>

{% comment %}
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Type invoice number or date...">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i> Search
                                        </button>
                                    </div>
                                </div>{% endcomment %}
                            </div>

                            <div class="col-sm-8 text-align-right">
{% comment %}
                                <div class="btn-group">
                                    <a href="javascript:void(0)" class="btn btn-sm btn-primary"> <i class="fa fa-edit"></i> {%  trans "Download" %} </a>
                                </div>

                                <div class="btn-group">
{#                                    <a href="javascript:void(0)" class="btn btn-sm btn-success"> <i class="fa fa-plus"></i>{%  trans "Email me" %} </a>#}
                                    <a href="{% url 'djsaltstack:domain_edit' domain.pk  %}" class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i>{%  trans " Edit" %} </a>

                                </div>{% endcomment %}

                            </div>

                        </div>

                    </div>

                    <div class="padding-10">


                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="semi-bold"><i class="fa fa-bookmark"></i>&nbsp;Core Configuration</h4>
                                <input type="hidden" class="form-control" id='core_setting_id' value="{{ site.id }}" required />

                            </div>
                            <div class="col-sm-8 text-align-right">

                                <div class="btn-group">
{#                                    <a href="{% url 'djsaltstack:projectsetting_edit' site.id %}" class="btn btn-primary"> <i class="fa fa-plus"></i>{%  trans " Edit" %} </a>#}
{#                                    <button id='coresetting_popup' class="btn btn-primary"> <i class="fa fa-plus"></i>{%  trans " Edit" %}</button>#}
                                    <button class="btn btn-primary"  id="ShowCoreSetting" > <i class="fa fa-plus"></i>{%  trans " Edit" %}</button>

                                </div>

                            </div>
                        </div>

                        <div class="row" id="core_setting_after_update">
                            <hr>
                            <div class="col-sm-4 col-sm-offset-1">
                                <h5>Allowed domain:</h5>
                                <span>{{ site.allowed_host }}</span>
                            </div>
                            <div class="col-sm-4 text-align-left">


                            </div>
                            <div class="col-sm-3 text-align-left">
                            </div>

                        </div>
                        <br>
                        <br>


                    {% with email=site.email_conf %}
                     <div class="row">
                            <div class="col-sm-4">
{#                                <h4 class="semi-bold"><i class="fa fa-bookmark"></i>&nbsp;Information</h4>#}
                                <h4 class="padding-10 semi-bold"><i class="fa fa-bookmark"></i>&nbsp;Email Configuration </h4>
                                <input type="hidden" class="form-control" id='email_conf_id' value="{{ email_conf.id }}"required />

                            </div>
                            <div class="col-sm-8 text-align-right">


                                <div class="btn-group">
                                    {#                                    <a href="javascript:void(0)" class="btn btn-sm btn-success"> <i class="fa fa-plus"></i>{%  trans "Email me" %} </a>#}
{#                                    <a href="{% url 'djsaltstack:email_edit' email.id %}" class="btn btn-primary"> <i class="fa fa-plus"></i>{%  trans " Edit" %} </a>#}
                                    <button class="btn btn-primary"  id="ShowEmailSetting" > <i class="fa fa-plus"></i>{%  trans " Edit" %}</button>


                                </div>

                            </div>
                        </div>
                        <hr>

                      <div class="row" id="email_setting_after_update">
                            <div class="col-sm-4 col-sm-offset-1">
                                <h5><i class="fa fa-desktop"></i> &nbsp;Email backend:</h5>
                                <span>{{ email.email_backend|safe }}</span>
                                <h5><i class="fa fa-tag"></i> &nbsp;Hostname:</h5>
                                <span>{{ email.email_host|safe }}</span>
                                <h5><i class="fa fa-external-link"></i> &nbsp;User:</h5>
                                <span>{{ email.email_host_user }}</span>
                            </div>
                            <div class="col-sm-4 text-align-left">
                                <h5><i class="fa fa-rocket"></i>&nbsp; Password:</h5>
                                <span>{{ email.email_host_password }}</span>
                                <h5><i class="fa fa-calendar"></i> &nbsp; Port </h5><span>{{ email.email_port }}</span>
                                <h5><i class="fa fa-calendar"></i> &nbsp;Subject prefix:</h5><span>{{ email.email_subject_prefix }}</span>


                            </div>
                            <div class="col-sm-3 text-align-left">
                                <h5>TLS/SSL:</h5>
                                    <span>{{ email.email_use_tls }}</span>
                            </div>

                        </div>
                        <br>
                        <br>
                    {% endwith %}


                    </div>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>
        <!-- end widget -->

    </article>
    <!-- WIDGET END -->
    </div>





{% comment %}
            <br>
            <article class="col-sm-12 col-md-12">
                {% if site %}
                    {% include 'dashboard/includes/projectsetting_conf.html' with site=site %}
{#                {% else %}#}
{#                    {%  include 'dashboard/includes/does_not_exists.html' %}#}
                {% endif %}
            </article>

    <article class="col-sm-12 col-md-12">
                {% if site.email_conf %}
                    {% include 'dashboard/includes/psetting_email_conf.html' with email=site.email_conf %}
{#                {% else %}#}
{#                    {%  include 'dashboard/includes/does_not_exists.html' %}#}
                {% endif %}
            </article>{% endcomment %}



{% endblock %}

{% block extra_js %}
<script type="text/javascript">

		// DO NOT REMOVE : GLOBAL FUNCTIONS!

		$(document).ready(function() {

			pageSetUp();

            	$('#alert_coresetting_update_success').click(function() {

				$.smallBox({
					title : "Core setting updated successfully",
					content : "<i class='fa fa-clock-o'></i> <i>now</i>",
					color : "#296191",
					iconSmall : "fa fa-thumbs-up bounce animated",
					timeout : 4000
				});

			});

            $('#alert_emailconf_update_success').click(function() {

				$.smallBox({
					title : "Email configuration updated successfully",
					content : "<i class='fa fa-clock-o'></i> <i>now</i>",
					color : "#296191",
					iconSmall : "fa fa-thumbs-up bounce animated",
					timeout : 4000
				});

			});


        });
</script>


    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
    <script src="{% static 'js/models.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/application.js' %}" type="application/javascript"></script>


{% endblock %}