{% extends 'dashboard/base.html' %}
{%  load caffelatte_tags i18n static %}

{% block ribbon %}
    {% ribbon "Home,Domain"  %}
{% endblock %}



{% block sparks %}
    {% sparks sparks_head=domain.get_sld sparks_tail="Information" %}
{% endblock %}


{% block menu %}
    <div class="row" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <article class="col-sm-12">
            {% include 'dashboard/includes/navbars.html' %}
        </article>
    </div>
{% endblock %}

{% block extrahead_js %}



    <script type="application/template" id="custom_domain_template">

        {#         <div class="widget-body">#}

        <form id="checkout-form" class="smart-form">
            <div class="row">
                <input type="hidden" class="form-control" id='uwi' value="{{ domain.id }}" />

                <fieldset>
                    <section>
                        <label class="input" id="label_domain"><i class="icon-append fa fa-globe"></i>
                            <input type="text" name="domain" id="domain" placeholder="custom domain" value="<%= r.domain %>">
                            <b class="tooltip tooltip-bottom-right">Needed to enter the website</b> </label>

                        <div class="note note-error" id="err_domain">Enter your domain name</div>
                    </section>
                </fieldset>

            </div>


        </form>

{% comment %}

        <form class="form-horizontal">



            <fieldset>
                <section>
                    <div class="form-group">

                        <div class="col-md-12">
                            <div class="input-group input-group-sm">
                                <div class="icon-addon addon-sm">
                                    <input type="text" placeholder="Email" class="form-control">
                                    <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="" data-original-title="email"></label>
                                </div>
						                    <span class="input-group-btn">
						                        <button class="btn btn-default" type="button">@demo.krunksystems.com</button>
						                    </span>
                            </div>
                            <div class="note note-error" id="err_domain"></div>

                        </div>

                    </div>
                </section>

            </fieldset>

        </form>
{% endcomment %}


        {#    </div>#}


    </script>

    <script type="application/template" id="custom_domain_template_after_update">
        <%= r.domain %>
    </script>

    <script type="application/template" id="master_admin_template_after_update">
        <div class="col-sm-6 text-align-left">
            <h5><i class="fa fa-user"></i> &nbsp; User name:</h5><span><%= r.admin %></span> <br>
            <h5><i class="fa fa-user"></i> &nbsp;Password</h5><span><%= r.password %></span> <br>
            <h5><i class="fa fa-user"></i> &nbsp;email</h5><span><%= r.email %></span> <br>
        </div>
    </script>



    <script type="application/template" id="master_admin_template">

        {#         <div class="widget-body">#}

        <form id="checkout-form" class="smart-form">
            <div class="row">
                <input type="hidden" class="form-control" id='uwi' value="{{ domain.id }}" />

                <fieldset>

                    <section>
                        <label class="input" id="label_admin"><i class="icon-append fa fa-user"></i>
                            <input type="text" name="admin" id="admin" placeholder="master admin" value="<%= r.admin %>">
                            <b class="tooltip tooltip-bottom-right">Needed to enter the master username</b>
                        </label>
                        <div class="note note-error" id="err_admin">Master username</div>
                    </section>

                    <section>
                        <label class="input" id="label_password"><i class="icon-append fa fa-user"></i>
                            <input type="text" name="password" id="master_password" placeholder="master admin password" value="<%= r.password %>">
                            <b class="tooltip tooltip-bottom-right">Needed to enter the master password</b>
                        </label>

                        <div class="note note-error" id="err_password">Master password</div>
                    </section>

                    <section>
                        <label class="input" id="label_email"><i class="icon-append fa fa-user"></i>
                            <input type="text" name="email" id="master_email" placeholder="master admin email" value="<%= r.email %>">
                            <b class="tooltip tooltip-bottom-right">Needed to enter the master emal</b>
                        </label>

                        <div class="note note-error" id="err_email">Master email address</div>
                    </section>

                </fieldset>

            </div>


        </form>




    </script>




{% endblock %}


{% block content %}

    <div id="app_info">
        <button style="display: none;" type="button" id="domain_update_success" class="btn btn-default"></button>
        <button style="display: none;" type="button" id="masteruser_update_success" class="btn btn-default"></button>

        <button style="display: none;" id='show_custom_domain'  data-toggle="modal" data-target="#custom_domain"> Core</button>

        <div class="modal fade" id="custom_domain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h3 class="modal-title" id="myModalLabel">Custom Domain</h3>
                        {% api_key %}
                        <input type="hidden" value="{{ domain.id }}" id="uwi">

                    </div>
                    <div class="modal-body" id="custom_domain_form">




                        {% comment %}<div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>{{ domain.get_sld  }}</strong></label>
                                    <input type="hidden" class="form-control" id='uwi' value="{{ domain.id }}"required />
                                </div>

                                <div class="form-group">
                                    <div class="alert alert-danger"></div>
                                    <label class="input"> <i class="icon-prepend fa fa-user"></i>
                                    <input type="text" class="form-control" id='first_name' placeholder="First Name" required />
                                        </label>
                                    <div class="note note-error">This is a required field.</div>

                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='last_name' placeholder="Last Name" required />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='username' placeholder="Username " required />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='password' placeholder="Password" required />
                                </div>
                            </div>
                        </div>{% endcomment %}

                    </div>
                    <div class="modal-footer">
                        <button id="cancel_update_custom_domain" type="button" class="btn btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                        <button id="update_custom_domain" type="button" class="btn btn-primary">
                            Create
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <button style="display: none;" id='show_master_admin'  data-toggle="modal" data-target="#master_admin"> Core</button>

        <div class="modal fade" id="master_admin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h3 class="modal-title" id="myModalLabel">Master Admin Configuration</h3>
                        {% api_key %}
                        <input type="hidden" value="{{ domain.id }}" id="uwi">
                        <input type="hidden"  id='core_setting_id' value="{{ site.id }}">

                    </div>
                    <div class="modal-body" id="master_admin_form">




                        {% comment %}<div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>{{ domain.get_sld  }}</strong></label>
                                    <input type="hidden" class="form-control" id='uwi' value="{{ domain.id }}"required />
                                </div>

                                <div class="form-group">
                                    <div class="alert alert-danger"></div>
                                    <label class="input"> <i class="icon-prepend fa fa-user"></i>
                                    <input type="text" class="form-control" id='first_name' placeholder="First Name" required />
                                        </label>
                                    <div class="note note-error">This is a required field.</div>

                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='last_name' placeholder="Last Name" required />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='username' placeholder="Username " required />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='password' placeholder="Password" required />
                                </div>
                            </div>
                        </div>{% endcomment %}

                    </div>
                    <div class="modal-footer">
                        <button id="cancel_update_master_admin" type="button" class="btn btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                        <button id="update_master_admin" type="button" class="btn btn-primary">
                            Create
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->






        <br/>
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editCbutton="false" data-widget-colorbutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-barcode"></i> </span>
                    <h2>Item #44761 </h2>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="widget-body-toolbar">

                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="pull-right">
                                        <h1 class="font-200">Application Deployment </h1>

                                    </div>

                                    {% comment %}
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Type invoice number or date...">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i> Search
                                        </button>
                                    </div>
                                </div>{% endcomment %}
                                </div>

                                <div class="col-sm-8 text-align-right">
                                    {% comment %}
                                <div class="btn-group">
                                    <a href="javascript:void(0)" class="btn btn-sm btn-primary"> <i class="fa fa-edit"></i> {%  trans "Download" %} </a>
                                </div>

                                <div class="btn-group">
{#                                    <a href="javascript:void(0)" class="btn btn-sm btn-success"> <i class="fa fa-plus"></i>{%  trans "Email me" %} </a>#}
                                    <a href="{% url 'djsaltstack:domain_edit' domain.pk  %}" class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i>{%  trans " Edit" %} </a>

                                </div>{% endcomment %}

                                </div>

                            </div>

                        </div>

                        <div class="padding-10">

                            <div class="pull-left">

                            </div>

                            <div class="clearfix"></div>


                            <div class="row">
                                <div class="col-lg-12">
                                    <a href="javascript:void(0);" rel="popover" data-placement="top" data-original-title="<h5>Quick Help center</h5>" data-content="{% include 'dashboard/includes/popovers/domain_information_1.html' %}" data-html="true"><i class="fa fa-question-circle"></i></a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <h4 class="semi-bold"><i class="fa fa-bookmark"></i>&nbsp;Information</h4>
                                </div>


                                <div class="col-sm-8 text-align-right">

                                    <div class="btn-group">
                                        {#                                    <a href="javascript:void(0)" class="btn btn-sm btn-success"> <i class="fa fa-plus"></i>{%  trans "Email me" %} </a>#}
                                        {#                                    <a href="{% url 'djsaltstack:domain_edit' domain.pk  %}" class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i>{%  trans " Edit" %} </a>#}

                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <hr>

                                <div class="col-sm-4 col-sm-offset-1">
                                    <h5><i class="fa fa-desktop"></i> &nbsp;Gorilla Apps:</h5>
                                    <span>{{ domain.webdesign.get_popover|safe }}</span>
                                    <h5><i class="fa fa-tag"></i> &nbsp;Version:</h5>
                                    <span>{{ domain.webdesign.tag }}</span>
                                    <h5><i class="fa fa-external-link"></i> &nbsp;Demo Url:</h5><span>{{ domain.webdesign.demo_url }}</span>
                                </div>
                                <div class="col-sm-4 text-align-left">
                                    <h5><i class="fa fa-rocket"></i>&nbsp; Deployment Plan:</h5>
                                    <span>{{ domain.plan.get_popover|safe }}</span>
                                    <h5><i class="fa fa-calendar"></i> &nbsp; Start Date: </h5><span>{{ domain.period_start_at|date:"Y-m-d" }}</span>
                                    <h5><i class="fa fa-calendar"></i> &nbsp;End Date:</h5><span>{{ domain.period_end_at }}</span>


                                </div>
                                <div class="col-sm-3 text-align-left">
                                    <h5>Site Status:</h5>
                                    {% if domain.can_disable %}
                                        <i class="fa fa-2x fa-arrow-circle-down txt-color-red"></i>

                                        {#                        <span class="label-danger"><i class="fa fa-globe txt-color-red"></i></span>#}
                                    {% else %}
                                        <i class="fa fa-2x fa-check-circle txt-color-green"></i>
                                        {#                        <span class="label-danger">Active</span>#}
                                    {% endif %}

                                    </span>


                                </div>

                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    {#                                <h4 class="semi-bold"><i class="fa fa-bookmark"></i>&nbsp;Information</h4>#}
                                    <h4 class="padding-10 semi-bold"><i class="fa fa-bookmark"></i>&nbsp;Configuration Details</h4>

                                </div>
                                <div class="col-sm-8 text-align-right">


                                    <div class="btn-group">
                                        {#                                    <a href="javascript:void(0)" class="btn btn-sm btn-success"> <i class="fa fa-plus"></i>{%  trans "Email me" %} </a>#}
                                        {#                                    <a href="{% url 'djsaltstack:domain_edit' domain.pk  %}" class="btn btn-sm btn-primary" id="ShowCustomDomain"> <i class="fa fa-plus"></i>{%  trans " Edit" %} </a>#}
                                        {%  if not domain.is_demo %}
                                            <button class="btn btn-primary"  id="ShowCustomDomain" ><i class="fa fa-plus"></i> {%  trans "Domain" %}</button>
                                        {% endif %}
                                        <button class="btn btn-primary"  id="ShowMasterAdmin" > {%  trans "User" %}</button>

                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <hr>
                                <div class="col-sm-5 col-sm-offset-1">
                                    <h5><i class="fa fa-desktop"></i> &nbsp;Domain Name    <a href="#" rel="tooltip" data-placement="top" data-original-title="You can have domain information detail here" data-html="true"><i class="fa fa-question-circle"></i></a>
                                    </h5>
                                    <span id="domain_name_after_update">{{ domain.domain }}</span>

                                    <h5><i class="fa fa-external-link"></i> &nbsp;Admin Url</h5>
                                    {%  if domain.get_sld_admin_url %}
                                        <span><a href="{{ domain.get_sld_admin_url }}" target="_blank">{{ domain.get_sld_admin_url }}</a></span>
                                    {% endif %}


                                    {%  if domain.get_application_admin_url %}
                                        </br>OR</br>
                                        <span><a href="{{ domain.get_application_admin_url }}" target="_blank">{{ domain.get_application_admin_url }}</a></span>
                                    {% endif %}

                                    {%  if domain.get_domain_admin_url %}
                                        </br>OR</br>
                                        <span><a href="{{ domain.get_domain_admin_url }}" target="_blank">{{ domain.get_domain_admin_url }}</a> </span>
                                    {%  endif %}


                                    <h5><i class="fa fa-external-link"></i> &nbsp;Application url :</h5>
                                    {% if domain.get_sld_url %}
                                        <span><a href="{{ domain.get_sld_url }}" target="_blank">{{ domain.get_sld_url }}</a></span>
                                    {% endif %}
                                </div>
                                <div id="master_admin_after_update">
                                    <div class="col-sm-6 text-align-left">
                                        <h5><i class="fa fa-user"></i> &nbsp; User name:</h5><span>{{ domain.get_adi.projectsetting.admin }}</span> <br>
                                        <h5><i class="fa fa-user"></i> &nbsp;Password</h5><span>{{ domain.get_adi.projectsetting.password }}</span> <br>
                                        <h5><i class="fa fa-user"></i> &nbsp;email</h5><span>{{ domain.get_adi.projectsetting.email }}</span> <br>
                                    </div>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <h4 class="padding-10 semi-bold"><i class="fa fa-bookmark"></i>&nbsp;DNS Details </h4>
                                <hr>
                                <div class="col-sm-5 col-sm-offset-1">
                                    <h5><i class="fa fa-cog"></i>&nbsp;Primary DNS </h5>
                                    <span>192.168.1.1</span>
                                    <h5><i class="fa fa-cog"></i>&nbsp;Secondary DNS</h5><span>192.168.1.122</span>
                                </div>
                                <div class="col-sm-6 text-align-left">
                                </div>
                            </div>

                        </div>


                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->




        </article>
        <!-- WIDGET END -->
    </div>
{% endblock %}

{% block extra_js %}
    {% include 'dashboard/includes/js/update.html' %}
    {#	{% include 'dashboard/includes/js/forms-template.html' %}#}


    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
    <script src="{% static 'js/models.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/application.js' %}" type="application/javascript"></script>

{% endblock %}