{% extends 'dashboard/base.html' %}

	{% block menu %}
	<div class="row">
		<article class="col-sm-12">
		{% include 'dashboard/includes/navbars.html' %}
		</article>
	</div>
	{% endblock %}


{% block main %}
DNS Setting
    {{  dns_conf }}
{% endblock %}