{% extends 'dashboard/base.html' %}

{%  load caffelatte_tags static %}

{% block ribbon %}
    {% ribbon 'Home,Domain' %}
{% endblock %}

{% block sparks %}
    {% sparks sparks_head=domain.get_sld sparks_tail="Email accounts" %}
{% endblock %}

{% block extrahead_js %}
    <script type="application/template" id="new_account_row_template">

        <tr>
            {#            <td>1</td>#}
            <td><%= r.first_name %></td>
            <td><%=r.last_name %></td>
            <td><%= r.email %></td>
            <td><%= r.password %></td>
            <td><%= r.created_at  %></td>
            <td><%= r.updated_at  %></td>
        </tr>

    </script>
{% endblock %}

{% block menu %}

    <button style="display: none;" id="add_new_email"  data-toggle="modal" data-target="#emailcreateModal"></button>
    <button style="display: none;" type="button" id="account_add_success" class="btn btn-default"></button>

    <!-- Modal -->
    <div id="accountcreate">
        <div class="modal fade" id="emailcreateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Account Creation</h4>
                        {% api_key %}
                    </div>
                    <div class="modal-body">








                        <form id="checkout-form" class="smart-form" novalidate="novalidate">
                            <div class="note note-error" id='err_limit_exceded'></div>


                            <fieldset>
                                <div class="row">
                                    {% comment %}<section class="col col-3">

                                        <label class="label">Domain Name:</label>
                                    </section>{% endcomment %}
                                    <section class="col col-9">
                                        {% comment %}<label class="label">
                                            {{ domain.get_sld }}

                                        </label>{% endcomment %}
                                        <input type="hidden" id='uwi' value="{{ domain.id }}"/>
                                        <input type="hidden" id='domain_sld' value="{{ domain.get_sld }}"/>
                                    </section>
                                </div>

                                <div class="row">
                                    <section class="col col-6">
                                        <label class="input" id="label_first_name"> <i class="icon-prepend fa fa-user"></i>
                                            <input type="text" name="first_name" id="first_name" placeholder="First name">
                                        </label>
                                        <div class="note note-error" id='err_first_name'></div>

                                    </section>
                                    <section class="col col-6">
                                        <label class="input" id="label_last_name"> <i class="icon-prepend fa fa-user"></i>
                                            <input type="text" name="last_name" id="last_name" placeholder="Last name">
                                        </label>
                                        <div class="note note-error" id="err_last_name"></div>
                                    </section>
                                </div>

                                {% comment %}  <section>
                                    <label class="input" id="label_email">
                                        <input type="text" name="email" id="email" placeholder="email account">
                                    </label>
                                    <div class="note note-error" id="err_email"></div>

                                </section>

                                <section>
                                    <label class="input" id="label_password">
                                        <input type="text" name="password" id="password" placeholder="password">
                                    </label>
                                    <div class="note note-error" id="err_password"></div>

                                </section>
                                {% endcomment %}
                            </fieldset>



                        </form>



                        <fieldset>
                            <section>
                                <div class="form-group">

                                    <div class="col-md-12 ">
                                        <div class="input-group input-group-sm">
                                            <div class="icon-addon addon-sm ">
                                                <input type="text" placeholder="Email" name="email" id="email"  class="form-control ">
                                                <label for="email" class="glyphicon glyphicon-user " rel="tooltip" title="" data-original-title="email"></label>
                                            </div>
						                    <span class="input-group-btn">
						                        <button  class="btn btn-default" type="button">@{{ domain.get_sld }}</button>
						                    </span>
                                        </div>
                                        <div class="note note-error" id="err_email"></div>


                                    </div>

                                </div>
                            </section>

                        </fieldset>

                        <form id="checkout-form" class="smart-form" novalidate="novalidate">
                            <fieldset>
                                <section>
                                    <label class="input" id="label_password">
                                        <input type="text" name="password" id="password" placeholder="password">
                                    </label>
                                    <div class="note note-error" id="err_password"></div>

                                </section>
                            </fieldset>
                        </form>
                        {% comment %}<div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>{{ domain.get_sld  }}</strong></label>
                                    <input type="hidden" class="form-control" id='uwi' value="{{ domain.id }}"required />
                                </div>
                                <div class="form-group">
                                    <div class="alert alert-danger"></div>
                                    <label class="input"> <i class="icon-prepend fa fa-user"></i>
                                    <input type="text" class="form-control" id='first_name' placeholder="First Name" required />
                                        </label>
                                    <div class="note note-error">This is a required field.</div>

                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='last_name' placeholder="Last Name" required />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='username' placeholder="Username " required />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='password' placeholder="Password" required />
                                </div>
                            </div>
                        </div>{% endcomment %}

                    </div>
                    <div class="modal-footer">
                        <button id="created" type="button" class="btn btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                        <button id="createnow" type="button" class="btn btn-primary">
                            Create
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>


    <div class="row">
        <article class="col-sm-12">
            {% include 'dashboard/includes/navbars.html' %}
        </article>
    </div>
{% endblock %}


{% block content %}
    <br>

    <article class="col-sm-12 col-md-12">
        {% include 'dashboard/includes/tables/email_list.html' with object_list=email_accounts %}
    </article>

{% endblock %}

{% block extra_js %}

    {% include 'dashboard/includes/js/datatables.html' %}

    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>

    <script src="{% static 'js/models.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/application.js' %}" type="application/javascript"></script>


{% endblock %}