{% extends 'dashboard/base.html' %}

{% load caffelatte_tags i18n %}

{% block menu %}
    <div class="row">
        <article class="col-sm-12">
            {% include 'dashboard/includes/navbars.html' %}
        </article>
    </div>
{% endblock %}

{% block content %}
    <br>
    {% with heading='DNS'  %}
        {% include 'dashboard/includes/forms/custom_form.html' %}
    {% endwith %}
{% endblock %}

{% block extra_js %}
    {% include 'dashboard/includes/js/update.html' %}
    {% include 'dashboard/includes/js/forms-template.html' %}
{% endblock %}
