{% extends 'dashboard/base.html' %}

{%  load caffelatte_tags %}

{% block ribbon %}
    {% ribbon 'Home,Domain' %}
{% endblock %}

{% block sparks %}
{% sparks sparks_head=domain.get_sld sparks_tail="Invoices" %}
{% endblock %}



{% block menu %}
    <div class="row">
        <article class="col-sm-12">
            {% include 'dashboard/includes/navbars.html' %}
        </article>
    </div>
{% endblock %}

{% block content %}
    <br>
            <article class="col-sm-12 col-md-12">
                {% include 'dashboard/includes/tables/invoice_list.html' with object_list=invoices %}
            </article>

{% endblock %}

{% block extra_js %}
    {% include 'dashboard/includes/js/datatables.html' %}
{% endblock %}