{% extends 'dashboard/base.html' %}

{% block menu %}
    <div class="row">
        <article class="col-sm-12">
            {% include 'dashboard/includes/navbars.html' %}
        </article>
    </div>
{% endblock %}



{% block content %}
    <br>
    {% include 'dashboard/includes/forms/custom_form.html' %}

{% endblock %}

{% block extra_js %}
    {% include 'dashboard/includes/js/update.html' %}
    {#	{% include 'dashboard/includes/js/forms-template.html' %}#}
{% endblock %}