{% extends 'dashboard/base.html' %}

{%  load caffelatte_tags %}

    {% block ribbon %}
        {% ribbon "Home,Domain,Email Settings" %}
    {% endblock %}


{% block menu %}
    <div class="row">
        <article class="col-sm-12">
            {% include 'dashboard/includes/navbars.html' %}
        </article>
    </div>
{% endblock %}

{% block content %}
    <br>
    <article class="col-sm-12 col-md-12">
        {% if email_conf %}
            {% include 'dashboard/includes/email_conf.html' with email_conf=email_conf %}
        {% else %}
            {%  include 'dashboard/includes/does_not_exists.html' %}
        {% endif %}
    </article>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function() {

            pageSetUp();
        });
    </script>
{% endblock %}