{% extends 'dashboard/base.html' %}

{%  load caffelatte_tags %}

{% block ribbon %}
    {% ribbon "Home,Domain" %}
{% endblock %}

{% block sparks %}
{% sparks sparks_head=domain.get_sld sparks_tail="Plan Update" %}
{% endblock %}

{% block menu %}
    <div class="row">
        <article class="col-sm-12">
            {% include 'dashboard/includes/navbars.html' %}
        </article>
    </div>
{% endblock %}

{% block content %}
    <br>
    <article class="col-sm-12 col-md-12">
        {%  if  object.plan %}
            {% include 'dashboard/includes/pricing-table.html' %}
        {%  else %}
            "This item is in Draft state
        {% endif %}
    </article>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function() {

            pageSetUp();
        });
    </script>
{% endblock %}
