{% extends 'dashboard/base.html' %}

{%  load caffelatte_tags i18n static %}


    {% block ribbon %}
        {% ribbon "Home,Domain,Public domain" %}
    {% endblock %}


{% block menu %}
	<div class="row">
		<article class="col-sm-12">
		{% include 'dashboard/includes/navbars.html' %}
		</article>
	</div>
	{% endblock %}

{% block content %}

{#		<article class="col-sm-12 col-md-12">#}
{#			{% include 'dashboard/includes/forms/domain.html' with form=form %}#}
{#        </article>#}

                        <div class="clearfix"></div>

   <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false">
            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
{#            <header>#}
{#                <span class="widget-icon"> <i class="fa fa-barcode"></i> </span>#}
{#                <h2>Item #44761 </h2>#}
{##}
{#            </header>#}

            <!-- widget div-->
            <div>

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body no-padding">
                    <div class="widget-body-toolbar">

                        <div class="row">

                            <div class="col-sm-4">
{% comment %}
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Type invoice number or date...">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i> Search
                                        </button>
                                    </div>
                                </div>{% endcomment %}
                            </div>

                            <div class="col-sm-8 text-align-right">

{#                                <div class="btn-group">#}
{#                                    <a href="javascript:void(0)" class="btn btn-sm btn-primary"> <i class="fa fa-edit"></i> {%  trans "Download" %} </a>#}
{#                                </div>#}

                                <div class="btn-group">

                                    <a href="{% url 'djsaltstack:domain_edit' domain.pk  %}" class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i>{%  trans " Edit" %} </a>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="padding-10">

{#                        <div class="pull-left">#}
{##}
{#                        </div>#}

                        <div class="pull-right">
                            <h1 class="font-200"><i class="fa fa-bookmark"></i>&nbsp;Domain Information</h1>

                        </div>
                        <div class="clearfix"></div>

                        <div class="row">
                            <h4 class="padding-10 semi-bold"><i class="fa fa-bookmark"></i>&nbsp;Information</h4>
                            <hr>
                            <div class="col-sm-4 col-sm-offset-1">
                                <h5><i class="fa fa-desktop"></i> &nbsp;Domain:</h5>
                                <span>{{ domain.domain }}</span>
                            </div>


                        </div>
                        <br>
                        <br>
                                            <div class="clearfix"></div>

                    </div>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>
        <!-- end widget -->

    </article>
    <!-- WIDGET END -->


{% endblock %}

{% block extra_js %}
    	{% include 'dashboard/includes/js/update.html' %}
{#	{% include 'dashboard/includes/js/forms-template.html' %}#}
{% endblock %}