{% extends 'dashboard/base.html' %}
{% load caffelatte_tags i18n static %}

{% block ribbon %}
    {% ribbon "Home,User" %}
{% endblock %}

{% block sparks %}
{% sparks  sparks_tail="Profile" %}
{% endblock %}



{%  block extrahead_js %}

    <script type="application/template" id="billing_add_template">
        <form id="checkout-form" class="smart-form" novalidate="novalidate">

            <fieldset>

                <section>
                    <div class="note note-error" id='err_settings'></div>
                </section>

                <div class="row">

                    <section class="col col-6">
                        <label class="input" id="label_full_name"> <i class="icon-prepend fa fa-user"></i>
                            <input type="text" name="full_name" id="full_name" placeholder="Full name" value="<%= r.full_name %>">
                        </label>
                        <div class="note note-error" id='err_full_name'></div>
                    </section>

                    <section class="col col-6">
                        <label class="input" id="label_mobile"> <i class="icon-prepend fa fa-user"></i>
                            <input type="text" name="mobile" id="mobile" placeholder="Mobile" value="<%= r.mobile %>">
                        </label>
                        <div class="note note-error" id='err_mobile'></div>
                    </section>

                </div>


                <section>
                    <label class="input" id="label_address_line_1">
                        <input type="text" name="address_line_1" id="address_line_1" placeholder="Address line 1" value="<%= r.address_line_1 %>">
                    </label>
                    <div class="note note-error" id="err_address_line_1"></div>

                </section>

                <section>
                    <label class="input" id="label_address_line_2">
                        <input type="text" name="address_line_2" id="address_line_2" placeholder="Address line 2" value="<%= r.address_line_2 %>">
                    </label>
                    <div class="note note-error" id="err_address_line_2"></div>

                </section>

                <div class="row">
                    <section class="col col-6">
                        <label class="input" id="label_city">
                            <input type="text" name="city" id="city" placeholder="City" value="<%= r.city %>">
                        </label>
                        <div class="note note-error" id="err_city"></div>
                    </section>

                    <section class="col col-6">
                        <label class="input" id="label_state">
                            <input type="text" name="state" id="state" placeholder="State" value="<%= r.state %>">
                        </label>
                        <div class="note note-error" id="err_state"></div>
                    </section>
                </div>

                <div class="row">
                    <section class="col col-6">
                        <label class="input" id="label_country">
                            <input type="text" name="country" id="country" placeholder="Country" value="<%= r.country %>">
                        </label>
                        <div class="note note-error" id="err_country"></div>
                    </section>
                    <section class="col col-6">
                        <label class="input" id="label_pincode">
                            <input type="text" name="pincode" id="pincode" placeholder="Pincode" value="<%= r.pincode %>">
                        </label>
                        <div class="note note-error" id="err_pincode"></div>
                    </section>
                </div>


            </fieldset>
        </form>

    </script>

    <script type="application/template" id="billing_add_template_after_update">
        <div class="col-sm-4 col-sm-offset-1">
            <h5><i class="fa fa-desktop"></i> &nbsp;Full Name:</h5>
            <span><%= r.full_name %></span>
            <h5><i class="fa fa-tag"></i> &nbsp;address line 1 :</h5>
            <span><%= r.address_line_1 %></span>
            <h5><i class="fa fa-external-link"></i> &nbsp;Address line 2:</h5>
            <span><%= r.address_line_2 %></span>
            <h5><i class="fa fa-rocket"></i>&nbsp; city:</h5><span><%= r.city %></span>
        </div>
        <div class="col-sm-4 text-align-left">
            <h5><i class="fa fa-calendar"></i> &nbsp; state </h5><span><%= r.state %></span>
            <h5><i class="fa fa-calendar"></i> &nbsp;pincode:</h5><span><%= r.pincode %></span>
            <h5><i class="fa fa-calendar"></i> &nbsp;country:</h5><span><%= r.country %></span>


        </div>
        <div class="col-sm-3 text-align-left">
            <h5>Mobile:</h5>
            <span><%= r.mobile %></span>
        </div>

    </script>

    <script type="application/template" id="user_info_template">
        <form id="checkout-form" class="smart-form" novalidate="novalidate">


            <fieldset>

                <div class="row">
                    <section class="col col-6">
                        <label class="input" id="label_first_name"> <i class="icon-prepend fa fa-user"></i>
                            <input type="text" name="first_name" id="first_name" placeholder="First name" value="<%= r.first_name %>">
                        </label>
                        <div class="note note-error" id='err_first_name'></div>
                    </section>

                    <section class="col col-6">
                        <label class="input" id="label_last_name"> <i class="icon-prepend fa fa-user"></i>
                            <input type="text" name="last_name" id="last_name" placeholder="Last name" value="<%= r.last_name %>">
                        </label>
                        <div class="note note-error" id='err_last_name'></div>
                    </section>

                </div>


                <section>
                    <label class="input" id="label_email">
                        <input type="text" name="email" id="email" placeholder="Email" value="<%= r.email %>">
                    </label>
                    <div class="note note-error" id="err_email"></div>

                </section>




            </fieldset>
        </form>

    </script>

    <script type="application/template" id="user_info_template_after_update">
        <div class="col-sm-4 col-sm-offset-1">
            <h5>First name:</h5>
            <span><%= r.first_name %></span>
            <h5>Last name:</h5>
            <span><%= r.last_name %></span>
            <h5>Username:</h5>
            <span>{{ user.username }}</span>

        </div>
        <div class="col-sm-4 text-align-left">
            <h5>email:</h5>
            <span><%= r.email %></span>


        </div>
        <div class="col-sm-3 text-align-left">
        </div>
    </script>
{% endblock %}



{% block content %}
{% comment %}
    <article class="col-sm-12 col-md-12">
        {% include 'dashboard/includes/forms/user.html' %}
    </article>{% endcomment %}



    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="user_info">



            <button style="display: none;" id='show_user_info'  data-toggle="modal" data-target="#model_user_info"> User info</button>
            <button style="display: none;" id='show_billing_add'  data-toggle="modal" data-target="#model_billing_add"> Billing info</button>


            <div class="modal fade" id="model_user_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h3 class="modal-title" id="myModalLabel">User Information</h3>
                        <input type="hidden" value="{{ domain.id }}" id="uwi">
                                            {% api_key %}
                    </div>
                    <div class="modal-body" id="user_info_form">




                        {% comment %}<div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>{{ domain.get_sld  }}</strong></label>
                                    <input type="hidden" class="form-control" id='uwi' value="{{ domain.id }}"required />
                                </div>

                                <div class="form-group">
                                    <div class="alert alert-danger"></div>
                                    <label class="input"> <i class="icon-prepend fa fa-user"></i>
                                    <input type="text" class="form-control" id='first_name' placeholder="First Name" required />
                                        </label>
                                    <div class="note note-error">This is a required field.</div>

                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='last_name' placeholder="Last Name" required />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='username' placeholder="Username " required />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='password' placeholder="Password" required />
                                </div>
                            </div>
                        </div>{% endcomment %}

                    </div>
                    <div class="modal-footer">
                       <button id="cancel_updateuserinfo" type="button" class="btn btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                        <button id="updateuserinfo" type="button" class="btn btn-primary">
                            Create
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
            <div class="modal fade" id="model_billing_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h3 class="modal-title" id="myModalLabel">Billing Information</h3>
                        <input type="hidden" value="{{ domain.id }}" id="uwi">
                        {% api_key %}
                    </div>
                    <div class="modal-body" id="billing_add_form">




                        {% comment %}<div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>{{ domain.get_sld  }}</strong></label>
                                    <input type="hidden" class="form-control" id='uwi' value="{{ domain.id }}"required />
                                </div>

                                <div class="form-group">
                                    <div class="alert alert-danger"></div>
                                    <label class="input"> <i class="icon-prepend fa fa-user"></i>
                                    <input type="text" class="form-control" id='first_name' placeholder="First Name" required />
                                        </label>
                                    <div class="note note-error">This is a required field.</div>

                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='last_name' placeholder="Last Name" required />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='username' placeholder="Username " required />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id='password' placeholder="Password" required />
                                </div>
                            </div>
                        </div>{% endcomment %}

                    </div>
                    <div class="modal-footer">
                       <button id="cancel_updatebillingaddress" type="button" class="btn btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                        <button id="updatebillingaddress" type="button" class="btn btn-primary">
                            Create
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false">
            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
            <header>
                <span class="widget-icon"> <i class="fa fa-barcode"></i> </span>
                <h2>Item #44761 </h2>

            </header>

            <!-- widget div-->
            <div>

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body no-padding">
                    <div class="widget-body-toolbar">

                        <div class="row">

                            <div class="col-sm-12">
                                 <div class="pull-right">
                                <h1 class="font-200">Account edit</h1>

                        </div>

{% comment %}
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Type invoice number or date...">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i> Search
                                        </button>
                                    </div>
                                </div>{% endcomment %}
                            </div>

                            <div class="col-sm-8 text-align-right">
{% comment %}
                                <div class="btn-group">
                                    <a href="javascript:void(0)" class="btn btn-sm btn-primary"> <i class="fa fa-edit"></i> {%  trans "Download" %} </a>
                                </div>

                                <div class="btn-group">
{#                                    <a href="javascript:void(0)" class="btn btn-sm btn-success"> <i class="fa fa-plus"></i>{%  trans "Email me" %} </a>#}
                                    <a href="{% url 'djsaltstack:domain_edit' domain.pk  %}" class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i>{%  trans " Edit" %} </a>

                                </div>{% endcomment %}

                            </div>

                        </div>

                    </div>

                    <div class="padding-10">

                        {% with user=object %}
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="semi-bold"><i class="fa fa-bookmark"></i>&nbsp;Users Detail</h4>
                            </div>
                            <div class="col-sm-8 text-align-right">

                                <div class="btn-group">
                                    <button id="showuserinfo" class="btn btn-primary"> <i class="fa fa-plus"></i>{%  trans " Edit" %} </button>

                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <hr>
                            <input type="hidden" value="{{ user.id }}" id="user_id"/>
                            <div id="user_info_after_update">
                                <div class="col-sm-4 col-sm-offset-1">
                                    <h5>First name:</h5>
                                    <span>{{ user.first_name }}</span>
                                    <h5>Last name:</h5>
                                    <span>{{ user.last_name }}</span>
                                    <h5>Username:</h5>
                                    <span>{{ user.username }}</span>
                                </div>
                                <div class="col-sm-4 text-align-left">
                                    <h5>email:</h5>
                                    <span>{{ user.email }}</span>


                                </div>
                                <div class="col-sm-3 text-align-left">
                                </div>
                            </div>
                        </div>
                            <br>
                        <br>
                    {% endwith %}

                    {% with bill=object.address %}
                     <div class="row">
                            <div class="col-sm-4">
{#                                <h4 class="semi-bold"><i class="fa fa-bookmark"></i>&nbsp;Information</h4>#}
                                <h4 class="padding-10 semi-bold"><i class="fa fa-bookmark"></i>&nbsp;Billing Address</h4>

                            </div>
                            <div class="col-sm-8 text-align-right">


                                <div class="btn-group">
                                    {#                                    <a href="javascript:void(0)" class="btn btn-sm btn-success"> <i class="fa fa-plus"></i>{%  trans "Email me" %} </a>#}
                                    <button class="btn btn-primary" id="showbillingaddress"> <i class="fa fa-plus"></i>{%  trans " Edit" %} </button>


                                </div>

                            </div>
                        </div>
                        <hr>

                      <div class="row">
                          <input type="hidden" value="{{ bill.id }}" id="user_billing_id"/>
<div id="billing_info_after_update">
                            <div class="col-sm-4 col-sm-offset-1">
                                <h5><i class="fa fa-desktop"></i> &nbsp;Full Name:</h5>
                                <span>{{ bill.full_name|safe }}</span>
                                <h5><i class="fa fa-tag"></i> &nbsp;address line 1 :</h5>
                                <span>{{ bill.address_line_1|safe }}</span>
                                <h5><i class="fa fa-external-link"></i> &nbsp;Address line 2:</h5>
                                <span>{{ bill.address_line_2 }}</span>
                                <h5><i class="fa fa-rocket"></i>&nbsp; city:</h5><span>{{ bill.city }}</span>
                            </div>
                            <div class="col-sm-4 text-align-left">
                                <h5><i class="fa fa-calendar"></i> &nbsp; state </h5><span>{{ bill.state }}</span>
                                <h5><i class="fa fa-calendar"></i> &nbsp;pincode:</h5><span>{{ bill.pincode }}</span>
                                <h5><i class="fa fa-calendar"></i> &nbsp;country:</h5><span>{{ bill.country }}</span>


                            </div>
                            <div class="col-sm-3 text-align-left">
                                <h5>Mobile:</h5>
                                    <span>{{ bill.mobile|safe }}</span>
                            </div>
</div>
                        </div>
                        <br>
                        <br>
                    {% endwith %}


                    </div>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>
        <!-- end widget -->

    </article>
    <!-- WIDGET END -->




{% endblock %}

{% block extra_js %}

    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function() {

            pageSetUp();
        });
    </script>



    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
    <script src="{% static 'js/models.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/application.js' %}" type="application/javascript"></script>

{% endblock %}


