{% extends 'dashboard/base.html' %}

{% block content %}
		<article class="col-sm-12 col-md-12">
			{% include 'dashboard/includes/forms/user_form.html' with form=form %}
		</article>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

		// DO NOT REMOVE : GLOBAL FUNCTIONS!

		$(document).ready(function() {

			pageSetUp();
        });
</script>
{% endblock %}