<ul id='popup-tab' class='nav nav-tabs bordered'>
    <li class='active'><a href='#pop-1' data-toggle='tab'>Gorilla Apps</a></li>
    <li><a href='#pop-2' data-toggle='tab'>Period Start </a></li>
</ul>

<div id='popup-tab-content' class='tab-content padding-10'>
    <div class='tab-pane fade in active' id='pop-1'>
        <p>I have six locks on my door all in a row. When I go out, I lock every other one. I figure no matter how long somebody stands there picking the locks, they are always locking three.
        </p>
    </div>
    <div class='tab-pane fade' id='pop-2'>
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. wes anderson artisan four loko farm-to-table craft beer twee.
        </p>
    </div>
</div>