{% extends 'django_knowledge/inner.html' %}

{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Support" %}{% endblock title %}


{% block breadcrumb_heading %}
    <h3><em>Support</em></h3>
{% endblock %}

{% block breadcrumb_right %}
{% endblock %}


{% comment %}
{% block knowledge_widgets %}

<div class="dk-widget">
  <h3>{% blocktrans with count=questions|length %}Top {{ count }} Questions{% endblocktrans %}</h3>
  <hr />

  {% include 'django_knowledge/question_list.html' %}

</div>

{% endblock knowledge_widgets %}{% endcomment %}



{% block knowledge_inner %}
    <div class="row">
        <div class="kb21 text-center" >

            {% for category in categories %}
                <div class="col-md-3 col-sm-4 kb21-inner">
                    <div class="features-box features-box-gray wow fadeInUp box">
                        <a href="{% url "knowledge_list_category" category.slug %}">
                            <p>{{ category.title }}</p>
                            {#								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>#}
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>


{% endblock %}