{% extends 'base_alkaline.html' %}

{% load i18n static %}
{% load url from future %}

{% block meta_title %}Knowldge Base{% endblock %}


{% block breadcrumb_heading %}
    <h3><em><strong>K</strong>nowldge <strong>B</strong>ase</em></h3>
{% endblock %}

{% block breadcrumb_right %}
{% endblock %}



{%  block main %}
    <hr class="half-margins invisible " />

    <div class="white">

        {#        <header class="page-header">#}
        {#            <h1>Right Sidebar</h1>#}
        <div class="text-center">
            {% include "django_knowledge/welcome.html" %}
            <div class="row">
                <form action="{% if category %}{% url "knowledge_list_category" category.slug %}{% else %}{% url "knowledge_list" %}{% endif %}" method="get">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" {% if search %}value="{{ search|force_escape }}"{% else %}placeholder="{% trans "Start typing your question here." %}"{% endif %} type="text" name="title"/>
                    </div>
                    <div class="col-md-2">
                        <input value="Search" type="submit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        {#        </header>#}

        <hr class="half-margins invisible">

        <div class="row">
            {% block knowledge_inner %}

                <aside class="col-md-3 kb21-side">

                    {% include "django_knowledge/sidebar.html" %}

                </aside>

                <div class="col-md-9 kb21-content" >
                    <dic class="col-md-12">
                        {% block knowledge_widgets %}

                        {% endblock knowledge_widgets %}
                    </dic>
                </div>



            {% endblock knowledge_inner %}

        </div>





    </div>
{% endblock %}



{% block callout_bottom %}

    <hr class="half-margins invisible">

    <div class="marco always-beautiful-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 always-beautiful section-description wow fadeIn">
                    <h2>It's a good thing to give feedback!</h2>



                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 always-beautiful-box wow fadeInUp">
                    <img src="{% static 'marco/assets/img/can_remove/feedback2.png' %}" alt="" style="max-width: 60%;">

                </div>
                <div class="col-sm-8 always-beautiful-box wow fadeInLeft">
                    <div class="always-beautiful-box-text always-beautiful-box-text-left">
                        <p class="medium-paragraph text-left" >

                            We often avoid giving feedback. It’s a tendency we try to overcome at MBGorilla.
                            We realize that your feedback is critical in improving our services that we offer you.
                            It's not a big deal! Just head on over to the contact page and write in a few lines about what you think of the tool and the web apps you've used.
                            Who knows you might just help us discover a vulnerability or a glitch we don't know about yet.

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
