{% load i18n %}
{% load url from future %}
{% comment %}
{% if my_questions %}

    <h4>{% trans "My Questions" %}</h4>
    <hr />

    <ul>
        {% for question in my_questions %}
            <li><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></li>
        {% endfor %}
    </ul>

    <br />

{% endif %}{% endcomment %}

{#<h4>{% trans "Categories" %}</h4>#}
<div class="kb21-side-button">
    <a href='{% url "knowledge_index" %}' class="btn btn-primary btn-mbg btn-lg">Help & Support</a>
</div>
{% for category in categories %}
    {#        <li><a href="{% url "knowledge_list_category" category.slug %}">{{ category.title }}</a></li>#}
    <h3><strong>{{ category.title }}</strong></h3>
    {% if category.question_set.all %}
        <ul class="nav nav-list">
            {% for question in category.question_set.all %}
                <li><a href="{{ question.get_absolute_url }}"> {{ question.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}





{% endfor %}

<br />
{% comment %}

    <h4>{% trans "Navigate" %}</h4>
    <hr />

    <ul>
        <li><a href="{% url "knowledge_ask" %}">{% trans "Ask a question or give suggestion." %}</a></li>
        <li><a href="{% url "knowledge_index" %}">{% trans "Return to homepage." %}</a></li>
    </ul>
    {% endcomment %}
