<!DOCTYPE html>
<head>
</head>
<body>
{% block main %}{% endblock %}

<br><a href="http://{{ request.get_host }}">http://{{ request.get_host }}</a>
<br>

This email was sent to {{ email }}. You are receiving this email because
you signed up for Krunk SEO and Marketing Tools through your web host control
panel, or at krunksystems.com.
<br>
<br>
Attracta has certified that we adhere to the Safe Harbor Privacy Principles
agreed by the U.S and E.U. For more information about Safe Harbor Privacy, visit
the U.S. Department of Commerce's Safe Harbor Web site at
safeharbor.export.gov/list.aspx. If you would like to contact Attracta directly
about the Safe Harbor program or our Email Privacy Policy, please send an e-mail
to privacy@attracta.com.
<br>
<br>
<strong>Krunk Systems</strong> | Nehru Market Dakpthar,Dehradun | Uttrakhand, IN 288125 | +91- 1360-222018
<br>
<br>
Copyright . 2014 krunk, Inc. All Rights Reserved.

</body>
</html>
