{% extends "base_alkaline.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags staticfiles %}

{%  block extra_css %}
    <link href="{% static 'alkaline/assets/css/blog.css' %}" rel="stylesheet" type="text/css" />
{%  endblock %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}



{% block title %}
    {% if page %}
        <h2>
            {% editable page.title %}{{ page.title }}{% endeditable %}
        </h2>
    {% else %}
        {% trans "Blog" %}
    {% endif %}
{% endblock %}


{% block breadcrumb_menu %}
    {{ block.super }}
    {% if tag or category or year or month or author %}
        <li>{% spaceless %}
            {% if tag %}
                {% trans "Tag:" %} {{ tag }}
                {% else %}{% if category %}
                    {% trans "Category:" %} {{ category }}
                    {% else %}{% if year or month %}
                        {% if month %}{{ month }}, {% endif %}{{ year }}
                        {% else %}{% if author %}
                            {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
                        {% endif %}{% endif %}{% endif %}{% endif %}
        {% endspaceless %}
        </li>
    {% endif %}
{% endblock %}



{% block breadcrumb_heading %}
    <h3><em>Inside</em> <strong><em>Stories</em></strong></h3>

{% endblock %}

{% block breadcrumb_right %}
{% endblock %}




{% block main %}
    {#<div id="middle" class="container">#}
    <hr class="half-margins invisible " />

    <div class="white">
        {#    <header class="page-header">#}
        {#        <h1>Blogs</h1>#}
        {#    </header>#}

        {% if tag or category or year or month or author %}
            {% block blog_post_list_filterinfo %}
                <p>
                {% if tag %}
                    {% trans "Viewing posts tagged" %} {{ tag }}
                    {% else %}{% if category %}
                        {% trans "Viewing posts for the category" %} {{ category }}
                        {% else %}{% if year or month %}
                            {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
                            {{ year }}
                            {% else %}{% if author %}
                                {% trans "Viewing posts by" %}
                                {{ author.get_full_name|default:author.username }}
                            {% endif %}{% endif %}{% endif %}{% endif %}
            {% endblock %}
        </p>
        {% else %}
            {% if page %}
                {% block blog_post_list_pagecontent %}
                    {% if page.get_content_model.content %}
                        {#                        {% editable page.get_content_model.content %}#}
                        {{ page.get_content_model.content|richtext_filters|safe }}
                        {#                        {% endeditable %}#}
                    {% endif %}
                {% endblock %}
            {% endif %}
        {% endif %}


        <div id="blog" class="row">
            <div class="col-md-9">

                {% for blog_post in blog_posts.object_list %}
                    <div class="item">

                        <div class="item-title">

                            {% block blog_post_list_post_title %}

                                {#                                {% editable blog_post.title %}#}
                                <h2>
                                    <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
                                </h2>
                                {#                                {% endeditable %}#}

                            {% endblock %}

                            {% block blog_post_list_post_metainfo %}
                                {#                                {% editable blog_post.publish_date %}#}

                                {% trans "Posted by" %}:
                                {% with blog_post.user as author %}
                                    <a href="{% url "blog_post_list_author" author %}" class="label label-default light"><i class="fa fa-user"></i> {{ author.get_full_name|default:author.username }}</a>
                                {% endwith %}
                                {% with blog_post.categories.all as categories %}
                                    {% if categories %}
                                        {% trans "in" %}
                                        {% for category in categories %}
                                            <a href="{% url "blog_post_list_category" category.slug %}" class="label label-default light"><i class="fa fa-dot-circle-o"></i> {{ category }}</a>{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                <span class="label label-default light">
    {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
    </span>
                                {#                                {% endeditable %}#}
                            {% endblock %}
                        </div>


                        {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                            {% block blog_post_list_post_featured_image %}

                                <a href="{{ blog_post.get_absolute_url }}">
                                    <figure>
                                        <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 803 0 %}">
                                    </figure>
                                </a>
                            {% endblock %}
                        {% endif %}

                        {% block blog_post_list_post_content %}
                            {#                            {% editable blog_post.content %}#}
                            {#                            <p>ddd#}
                            {{ blog_post.description_from_content|safe }}
                            {#                            </p>#}
                            {#                            {% endeditable %}#}
                        {% endblock %}

                        {% block blog_post_list_post_links %}
                            <div class="blog-list-detail">
                                {% keywords_for blog_post as tags %}
                                {% if tags %}
                                    <ul class="list-inline tags">
                                        {% trans "Tags" %}:
                                        {% spaceless %}
                                            {% for tag in tags %}
                                                <li><a href="{% url "blog_post_list_tag" tag.slug %}" class="tag">{{ tag }}</a></li>
                                            {% endfor %}
                                        {% endspaceless %}
                                    </ul>
                                {% endif %}
                                <p>
                                    <a href="{{ blog_post.get_absolute_url }}" class="btn btn-xs"><i class="fa fa-sign-out"></i> {% trans "READ MORE" %}</a>

                                    {% if blog_post.allow_comments %}
                                        {% if settings.COMMENTS_DISQUS_SHORTNAME %}
                                            <a href="{{ blog_post.get_absolute_url }}#disqus_thread"
                                               data-disqus-identifier="{% disqus_id_for blog_post %}">
                                                {% trans "Comments" %}
                                            </a>
                                        {% else %}
                                            <a href="{{ blog_post.get_absolute_url }}#comments" class="scrollTo label label-default light"><i class="fa fa-comment-o"></i>
                                                {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </p>


                            </div>
                        {% endblock %}


                    </div>
                {% endfor %}



                <div class="text-center">
                    {% pagination_for blog_posts %}
                </div>
                {% if settings.COMMENTS_DISQUS_SHORTNAME %}
                    {% include "generic/includes/disqus_counts.html" %}
                {% endif %}
            </div>

            <div class="col-md-3">
                {% block right_panel %}

                    {% include "blog/includes/filter_panel.html" %}

                {% endblock %}
            </div>

        </div>
    </div>
    {#</div>#}
{% endblock %}



{% block callout_bottom %}

    <hr class="half-margins invisible">


    <div class="marco always-beautiful-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 always-beautiful section-description wow fadeIn">
                    <h2>Want to be a part of our culture?</h2>



                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 always-beautiful-box wow fadeInUp">
                    <img src="{% static 'marco/assets/img/can_remove/blog.png' %}" alt="" style="max-width: 70%; margin-top: -45px;">
                </div>
                <div class="col-sm-8 always-beautiful-box wow fadeInLeft">
                    <div class="always-beautiful-box-text always-beautiful-box-text-left">
                        <p class="medium-paragraph text-left">
                            This blog is written by our members. This is one of the many ways we let our teams express themselves.
                            If you want to join one of our teams and become a part of our startup then please find out about the job opportunities at MBGorilla(link).
                            We are looking for fabulous, free thinking talent that can add to our culture. Can you bring something awesome to the table?

                        </p>
                        <h4 class="text-right">
                            <a href="#">Ask for <i class="fa fa-angle-double-right fa-2x"></i> </a>
                        </h4>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
