{%  extends "wizard/wizard_base.html" %}
{%  load i18n mezzanine_tags static %}
{%  block wizard_info %}

    <div class="col-md-6">
        <h4>Application  <strong>Information</strong>?</h4>
        <p>
            {{ design.desc|capfirst }}
        </p>

        {%  if design.features.all %}
            <ul class="list-icon check">
                {% for f in design.features.all %}
                    <li>{{ f.heading }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}


{% block form_title %}<h4>Select your  <strong>Template</strong></h4>{% endblock %}

{%  block exta_info %}
    <div class="row">
        <div class="col-md-6">
            <h4>{{ design.name|capfirst }}</h4>
            {{ design.short_desc }}
        </div>
        <div class="col-md-6">
            <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                {% for img in design.get_images %}
                    <div>
                        <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail img.image 555 370 %}" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}



{% block callout_bottom %}

    <hr class="half-margins invisible">



    <div class="marco always-beautiful-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 always-beautiful section-description wow fadeIn">
                    <h2>IMPORTANT INFORMATION</h2>



                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 always-beautiful-box wow fadeInUp">
                    <img src="{% static 'marco/assets/img/can_remove/more_webapps3.png' %}" alt="" style="max-width: 70%;">
                </div>
                <div class="col-sm-8 always-beautiful-box wow fadeInLeft">
                    <div class="always-beautiful-box-text always-beautiful-box-text-left">
                        <p class="text-left">

                            Please make sure that you've read and understood the terms of using this website before setting up this website.
                            By creating this site you are agreeing to the content policies of this website. Go to <a href="#">Terms of Use</a>
                        </p>

                        <p class="text-left">
                            The web app you have chosen is a SaaS (Software as a Service) provided by MBGorilla in addition to your account.
                            Specific terms and conditions apply to particular web apps.
                            Make sure that you've gone through the feature list provided in the web app's detail page before integrating it to you website.
                            Find more information on web apps in the <a href="#">FAQs</a>
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}