{%  extends "wizard/wizard_base.html" %}
{% load static i18n %}


{% block backbone_template %}


    {%  for p in plans %}

        <script id="plan_{{ p.id }}" type="application/template">
            <h4> You have select <strong>{{ p.name }}</strong>!</h4>

            {%  if p.short_desc %}
                <p>{{ p.short_desc }}</p>
            {% endif %}

            {%  if p.desc %}
                <p>{{ p.desc }}</p>
            {%  endif %}


            {%  if p.features.all %}
                <ul class="list-icon check">
                    {% for f in  p.features.all %}
                        <li>{{ f.feature }}</li>
                    {% endfor %}
                </ul>
            {%  endif %}

        </script>

    {% endfor %}


{% endblock %}


{%  block wizard_info %}
    <div class="col-md-6" id="plan_info">

        <h4>Choose your <strong>Plan</strong>?</h4>
        <p>
            Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo.
        </p>
        <ul class="list-icon check">
            <li>Buy, sell, and interact with other members.</li>
            <li>Save your favorite searches and get notified.</li>
            <li>Watch the status of up to 200 items.</li>
            <li>View your Atropos information from any computer in the world.</li>
            <li>Connect with the Atropos community.</li>
        </ul>
    </div>
{% endblock %}




{% block wizard_form %}
    <div class="col-md-6">
        <form action="" method="post">{% csrf_token %}



            <!-- INVOICE FOOTER -->
            <div class="row">

                <div class="col-sm-7">
                    <div >
                        <h4>Select your <strong>Plan</strong></h4>
                        {#                                    {% block form_title %}{% endblock %}#}
                    </div>

                </div>

                <div class="col-sm-5 ">
                    <div >
                        {% if wizard.steps.prev %}
                            <button class="pull-right btn-sm btn-info" name="wizard_goto_step" type="submit" value="{{ wizard.steps.next }}" >{% trans "Next step" %}</button>
                            <button class="btn-sm btn-info" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" >{% trans "Prev step" %}</button>
                        {% endif %}
                    </div>

                </div>

            </div>
            <!-- /INVOICE FOOTER -->
            <hr class="margin-top10 margin-bottom10" />
            {%  block exta_info %}
            {% endblock %}
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form }}
                {% endfor %}
            {% else %}

                {% with wizard.form as form %}
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>{{ form.name.label }}</label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="form-group">
                            {% if form.name.errors %}
                                <div class="alert alert-mbg">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    {{ form.name.errors|removetags:"ul li" }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    {% comment %}   <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                            Web Address:
                            </div>
                        </div>
                        <div class="form-group" style="border: 2px solid #ccc; margin-left: 18px; margin-right: 18px;">

                            <div class="col-md-6">
                                <input type="text" style="border: 0px; margin-top: 4px;" placeholder="Web addre ss."/>
                            </div>
                            <div class="col-md-6" style="padding-right: 0px;">
{#                                {{ form.tld }}#}
                                <select class="form-control" style="border: 0px solid #FFFFFF;">
                                <option >.deepakmalik.in</option>
                                <option>.krunksystems.com</option>
                            </select>
                            </div>
                        </div>
{#                        {{ form.tld.errors }}#}

                    </div>{% endcomment %}

                    <div class="row">
                        <div class="form-group" style="margin-bottom: 0px;">
                            <div class="col-md-12" >
                                <label>{{ form.sld.label }}</label>
                            </div>
                        </div>
                        <div class="form-group" style="border: 2px solid #e6e6e6; border-radius: 6px;  margin-left: 18px; margin-right: 18px;">
                            <div class="col-md-6">
                                {{ form.sld }}
                            </div>
                            <div class="col-md-6" style="padding-right: 0px;">
                                {{ form.tld }}
                            </div>

                        </div>

                        <div class="form-group">
                            {% if form.sld.errors %}
                                <div class="alert alert-mbg">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    {{ form.sld.errors|removetags:"ul li" }}
                                </div>
                            {% endif %}
                        </div>

                    </div>

                {% endwith %}

                {% comment %}


                            <div style="border: 1px solid #ccc;">
                            <input type="text" style="border: 0px;" placeholder="we"/>

                            <select style="border: 0px solid #FFFFFF;">
                                <option >.deepakmalik.in</option>
                                <option>.krunksystems.com</option>
                            </select>
                            </div>
                            {% for field in wizard.form %}
                                <div class="row">
                                    {%  if not field.is_hidden %}
                                    <div class="form-group">
                                        {% if field.errors %}
                                            <div class="alert alert-danger">
                                            {{ field.errors|removetags:"ul li" }}
                                            </div>
                                        {% endif %}
                                        <div class="col-md-12">

                                            <label>{{ field.label }}<
                                            {{ field }}
                                        </div>
                                    </div>
                                        {% else %}
                                        {{ field }}
                                    {%  endif %}
                                </div>
                            {% endfor %}{% endcomment %}

            {% endif %}
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <input class="btn btn-primary pull-right" type="submit" value="{% trans "Next" %}"/>
                </div>
            </div>




        </form>
    </div>
{%  endblock %}


{% block callout_bottom %}

    <hr class="half-margins invisible">



    <div class="marco always-beautiful-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 always-beautiful section-description wow fadeIn">
                    <h2>IMPORTANT INFORMATION</h2>



                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 always-beautiful-box wow fadeInUp">
                    <img src="{% static 'marco/assets/img/can_remove/more_webapps3.png' %}" alt="" style="max-width: 80%;">
                </div>
                <div class="col-sm-8 always-beautiful-box wow fadeInLeft">
                    <div class="always-beautiful-box-text always-beautiful-box-text-left">
                        <p class="text-left">

                            Please make sure that you've read and understood the terms of using this website before setting up this website.
                            By creating this site you are agreeing to the terms and conditions of this website. Go to <a href="#">Terms of Use </a>
                        </p>

                        <p class="text-left">
                            The hosting is provided by a third party provider which is a leader in cloud hosting technology.
                            Although their hosting is best in the world, MBGorilla can't guarantee 100% hosting compliance at all time.
                            We can only guarantee optimum performance within reasonable conditions.
                            To find out more about the hosting technology we use, visit our <a href="#">FAQs</a>.
                        </p>

                        <p class="text-left">
                            The pricing plans of MBGorilla are subjected to updates. Your account will be notified of any future changes in the plans.
                        </p>


                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}



{% block extra_js %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js" type="text/javascript"></script>
    <script src="{% static 'js/application.js' %}" type="application/javascript"></script>
{% endblock %}
