{%  extends "wizard/wizard_base.html" %}
{% load static %}

{%  block wizard_info %}
    <div class="col-md-6">
        <h4>Configure <strong>Condition</strong>?</h4>
        <p>
            You can update your custom domain if you have ready with you if you not. don't worry you can update later through Dashboard Admin Page
        </p>
        <ul class="list-icon check">
            <li>Buy, sell, and interact with other members.</li>
            <li>Save your favorite searches and get notified.</li>
            <li>Watch the status of up to 200 items.</li>
            <li>View your Atropos information from any computer in the world.</li>
            <li>Connect with the Atropos community.</li>
        </ul>
    </div>
{% endblock %}

{% block form_title %}<h4>Pre <strong>Configuration</strong></h4>{% endblock %}


{% block callout_bottom %}

    <hr class="half-margins invisible">



    <div class="marco always-beautiful-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 always-beautiful section-description wow fadeIn">
                    <h2>IMPORTANT INFORMATION</h2>



                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 always-beautiful-box wow fadeInUp">
                    <img src="{% static 'marco/assets/img/can_remove/more_webapps3.png' %}" alt="" style="max-width: 70%; margin-top: -45px;">
                </div>
                <div class="col-sm-8 always-beautiful-box wow fadeInLeft">
                    <div class="always-beautiful-box-text always-beautiful-box-text-left">
                        <p class="text-left">

                            Please make sure that you've read and understood the terms of using this website before setting up this website.
                            By creating this site you are agreeing to the content policies of this website. Go to <a href="#">Terms of Use</a>

                        </p>

                        <p class="text-left">
                            If you don't see the option to enter your custom domain name here then it is because you have chosen the demo plan in the previous step.
                            If you want to integrate custom domain then go back and choose a paid hosting plan.
                            You can find more information on this in our <a href="#">FAQs</a>

                        </p>
                        <ul class="list-icon check text-left">
                            <li>
                                This configuration applies only to the current site you are creating.
                            </li>
                            <li>Demo site configurations will be lost after 30 day expiry period unless you upgrade plan.</li>
                            <li>Your email will be used to send you admin notifications.</li>
                            <li>The configuration way take few minutes to take effect.</li>
                            <li>Go to Support> Manuals> Setting up to know more.</li>
                        </ul>








                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
