{%  extends "wizard/wizard_base.html" %}
{%  load mezzanine_tags static %}

{%  block wizard_info %}
    <div class="col-md-6">
        <h4>Confirm your <strong>Selection</strong>?</h4>
        <p>
            Please review the items in your order. If you want to change your order then please go back. After confirmation you'll be taken to your payment information.
        </p>
        <ul class="list-icon check">
            <li>Buy, sell, and interact with other members.</li>
            <li>Save your favorite searches and get notified.</li>
            <li>Watch the status of up to 200 items.</li>
            <li>View your Atropos information from any computer in the world.</li>
            <li>Connect with the Atropos community.</li>
        </ul>
    </div>
{% endblock %}

{% block form_title %}<h4><strong>Confirmation</strong></h4>{% endblock %}

{%  block exta_info %}
    <h5><strong>Template</strong></h5>
    <hr class="margin-top10 margin-bottom10">
    {#    <div class="col-md-12">#}
    <div class="row">
        <div class="col-md-6">
            <h4>{{ data.display.name|capfirst }}</h4>
            <p>{{ data.display.short_desc }}</p>
        </div>

        <div class="col-md-6">
            <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>

                {% for img in data.display.images.all %}
                    {#                    <div>#}
                    <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail img.image 555 370 %}" alt="">
                    {#                    </div>#}
                {% endfor %}

            </div>
        </div>
    </div>

    {#    </div>#}

    <h5><strong>Plan</strong></h5>
    <hr class="margin-top10 margin-bottom10">
    <div class="col-md-12">
        {# Plan Details #}
        <div class="row">

            <h4>{{ data.name.name }}</h4>
            <p>{{ data.name.short_desc }}</p>
        </div>
    </div>

    {%  if data.conditon %}
        <h4>Configuration</h4>
        <hr class="margin-top10 margin-bottom10">
        <div class="row">
            <div class="col-md-12">
                {#    configuration details #}
                <p>{{ data.domain_name }}</p>
            </div>
        </div>
    {%  endif %}

{% endblock %}



{% block callout_bottom %}

    <hr class="half-margins invisible">



    <div class="marco always-beautiful-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 always-beautiful section-description wow fadeIn">
                    <h2>IMPORTANT INFORMATION</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 always-beautiful-box wow fadeInUp">
                    <img src="{% static 'marco/assets/img/can_remove/more_webapps3.png' %}" alt="" style="max-width: 70%; margin-top: -45px;">
                </div>
                <div class="col-sm-8 always-beautiful-box wow fadeInLeft">
                    <div class="always-beautiful-box-text always-beautiful-box-text-left">
                        <p class="text-left">
                            Please make sure that you've read and understood the terms of using this website before setting up this website.
                            By confirming this order you are agreeing to the payment and refund policies of this website. Go to <a href="#">Terms of Use</a>
                        </p>

                        <p class="text-left">
                            If you have chosen auto renewal for your web app and hosting plan then you'll be billed automatically at the end of their respective billing cycles.
                            You can enable/disable auto renewal option at any time by going to your payment information in your dashboard.
                            For more information refer to our <a href="#">support documentation</a>
                        </p>

                        <p class="text-left">
                            These products come with automatic updates and free support. If your order includes custom development then your AMC(Annual Maintenance Contract) is included in the billing amount.
                            AMCs are only applicable on custom development. Please read our support documentation on AMCs to <a href="#">know more</a>
                        </p>


                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
