{% extends "wizard/wizard_base.html" %}
{% load accounts_tags static %}

{%  block wizard_info %}

    <div class="col-md-12">


        <div class="printable"><!-- note class 'printable' - this area is printable only! -->

            <!-- INVOICE HEADER -->
            <div class="row">

                <div class="col-sm-2">
                     <ul class="list-unstyled invoice-total-info text-center">
                        <li><strong>Total Amount</strong></li>
                        <li><strong>${{ product.total_price }}</strong> </li>
                    </ul>
{#                    <img class="img-responsive" src="{% static 'dashboard/img/logo.png' %}" alt="" />#}
                    <!--
                    todo: add a logo on checkoutwizard on paymnet section
                    -->
                </div>
                <div class="col-sm-1 text-center">
                    <h1>+</h1>
                    </div>
                <div class="col-sm-2">
                     <ul class="list-unstyled invoice-total-info text-center">
                        <li><strong>VAT</strong></li>
                        <li><strong> ${{ product.vat }}</strong></li>
                    </ul>
{#                    <img class="img-responsive" src="{% static 'dashboard/img/logo.png' %}" alt="" />#}
                    <!--
                    todo: add a logo on checkoutwizard on paymnet section
                    -->
                </div>
                <div class="col-sm-1 text-center">
                    <h1>=</h1>
                    </div>
                <div class="col-sm-2">
                     <ul class="list-unstyled invoice-total-info text-center">
                        <li><strong>Grand Total:</strong></li>
                        <li><strong> ${{ product.grand_total }}</strong></li>
                    </ul>
{#                    <img class="img-responsive" src="{% static 'dashboard/img/logo.png' %}" alt="" />#}
                    <!--
                    todo: add a logo on checkoutwizard on paymnet section
                    -->
                </div>

                <div class="col-sm-4 text-center">
                    {{ form.render }}
                    </p>
                </div>

            </div>
            <!-- /INVOICE HEADER -->

            <hr class="margin-top10 margin-bottom10" /><!-- separator -->

            <!-- DETAILS -->
            <div class="row">

                <div class="col-sm-6">

                    <h4><strong>Client</strong> Details</h4>
                    <address>
{#                        <strong>Username:{{ request.user }}</strong><br>#}
                        {% with invoice=product.invoice %}
                            <strong>{{ invoice.client.full_name }}</strong>
                            <br>
                            {{ invoice.client.address_line_1 }}
                            <br>
                            {{ invoice.client.address_line_2 }}
                            <br>
                            {% if invoice.client.city %}
                                {{ invoice.client.city }},
                            {% endif %}
                            {% if invoice.client.state %}
                                {{ invoice.client.state }},
                            {% endif %}
                            {% if invoice.client.country %}
                                {{ invoice.client.country }},
                            {% endif %}
                            {% if  invoice.client.pincode %}
                                Zipcode - {{ invoice.client.pincode }}
                            {% endif %}
                            <br>
                            <abbr title="Phone">P:</abbr> {{ invoice.client.mobile }}
                            <br>
                            Email: {{ request.user|username_or:"email" }}<br>

                        {% endwith %}

                    </address>


                </div>

                <div class="col-sm-6">

                    <h4><strong>Invoice</strong> Details</h4>
                    <strong>Payment Status</strong> : {% if invoice.payment_status %} Paid {% else %} Unpaid {% endif %}

                    <address>
                        {% with inv=product.invoice.invoice %}
                            <strong>Application ID</strong> : {{ inv.app_id|upper }}<br>
                            <strong>Invoice</strong> : {{ inv.id|upper }}<br> {# invoice_number #}
                            <strong>Invoice Date</strong> : {{ inv.invoice_date }}<br>
                            <strong>Invoice Due Date </strong>: {{ inv.invoice_due_date }}
                        {% endwith %}
                    </address>

                </div>

            </div>
            <!-- /DETAILS -->

            <hr class="half-margins invisible" /><!-- separator -->

            <!-- INVOICE BODY -->
            <div class="panel panel-default">

                <div class="panel-body">

                    <table class="table table-striped">
                        <!-- table head -->
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Item Name</th>
                            <th class="hidden-sm">Description</th>
                            <th>Price</th>
                        </tr>
                        </thead>

                        <!-- table items -->
                        <tbody>
                        {% with product.invoice.items as item %}
                            <tr><!-- item -->
                                <td>1</td>
                                <td>{{ item.cms }}</td>
                                <td class="hidden-sm"></td>
                                <td>{{ item.wdp }}</td>
                            </tr>
                            <tr><!-- item -->
                                <td>2</td>
                                <td>Application deployment Plan - {{ item.app_deployment_plan }}</td>
                                <td class="hidden-sm">{{ item.period }}</td>
                                <td>{{ item.adp }}</td>
                            </tr>
                        {% endwith %}

                        </tbody>
                    </table>

                    <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>

                </div>

            </div>
            <!-- INVOICE BODY -->
            <hr class="half-margins invisible" /><!-- separator -->

           <!-- INVOICE FOOTER -->
            <div class="row">

                <div class="col-sm-6">
                    <h4><strong>Contact</strong> Details</h4>

                    <address>
                        <strong>Krunk Systems </strong>
                        <br>
                        197, Nehru Market Dakpathar
                        <br>
                        Dehradun, Uttrakhand - 248125, India
                        <br>
                        <abbr title="Phone">P:</abbr> +91-1360-222018
                    </address>

                </div>

                <div class="col-sm-6 text-right">

                    <ul class="list-unstyled invoice-total-info">
                        <li><strong>Sub - Total Amount:</strong> ${{ product.total_price }}</li>
                        <li><strong>VAT (14.28%):</strong> ${{ product.vat }}</li>
                        <li><strong>Grand Total:</strong> ${{ product.grand_total }}</li>
                        {%  if product.adjustment_amount %}
                        <li><strong>Adjustment amount:</strong> - ${{ product.adjustment_amount }}</li>
                        <li><strong>Grand Total:</strong> ${{ product.grand_total_after_adjustment }}</li>
                        {% endif %}
                    </ul>

{#                    <div class="padding20">#}
{#                        <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button>#}
{#                        <button class="btn btn-primary">Invoice Submit</button>#}
{##}
{#                    </div>#}

                </div>

            </div>
            <!-- /INVOICE FOOTER -->


        </div>
    </div>



{%  endblock %}

{%  block wizard_form %}


{% endblock %}