{% extends "base_alkaline.html" %}
{% load i18n static %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}


{% block breadcrumb_heading %}
    <h3><em>{%  trans "Checkout" %}</em></h3>

{% endblock %}

{% block breadcrumb_right %}
{% endblock %}


{% block main %}
                            <hr class="half-margins invisible " />

    <div class="white" id="{% ifequal wizard.steps.step1 2 %}checkout_plan{% endifequal %}">

        <ul class='nav nav-wizard'>

            <li
                    {% ifequal wizard.steps.step1 1 %}
                        class="active"
                    {% endifequal %}
                    ><a data-toggle="tab">Design & Template </a></li>
            <li
                    {% ifequal wizard.steps.step1 2 %}
                        class="active"
                    {% endifequal %}
                    ><a href="#" data-toggle="tab">Choose your Plan</a> </li>
            <li
                    {% ifequal wizard.steps.step1 3 %}
                        class="active"
                    {% endifequal %}
                    ><a data-toggle="tab">Configure</a></li>
            <li
                    {% ifequal wizard.steps.step1 4 %}
                        class="active"
                    {% endifequal %}
                    ><a data-toggle="tab">Confirm</a></li>
            <li
                    {% ifequal wizard.steps.step1 5 %}
                        class="active"
                    {% endifequal %}
                    ><a data-toggle="tab">Payment</a></li>
        </ul>
        <div style="height: 20px;"></div>
        <div class="row">

            {% block wizard_info %}
                <div class="col-md-6" id="{% ifequal wizard.steps.step1 2 %}checkout_plan_info{% endifequal %}">
                </div>
            {% endblock %}


            {% block wizard_form %}
                <div class="col-md-6">
                    <form action="" method="post">{% csrf_token %}



                        <!-- INVOICE FOOTER -->
                        <div class="row">

                            <div class="col-sm-7">
                                <div >
                                    {% block form_title %}{% endblock %}
                                </div>

                            </div>

                            <div class="col-sm-5 ">
                                <div >
                                    {% if wizard.steps.prev %}
                                        <button class="pull-right btn-sm btn-info" name="wizard_goto_step" type="submit" value="{{ wizard.steps.next }}" >{% trans "Next step" %}</button>
                                        <button class="btn-sm btn-info" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" >{% trans "Prev step" %}</button>
                                    {% endif %}
                                </div>

                            </div>

                        </div>
                        <!-- /INVOICE FOOTER -->
                        <hr class="margin-top10 margin-bottom10" />
                        {%  block exta_info %}
                        {% endblock %}
                        {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                                {{ form }}
                            {% endfor %}
                        {% else %}

                            {% for field in wizard.form %}
                                <div class="row">
                                    {%  if not field.is_hidden %}
                                        <div class="form-group">

                                            <div class="col-md-12">
                                                <label>{{ field.label }}</label>
                                                {{ field }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {% if field.errors %}
                                                <div class="alert alert-mbg"><i class="fa fa-exclamation-triangle"></i>
                                                    {{ field.errors|removetags:"ul li" }}
                                                </div>
                                            {% endif %}

                                        </div>
                                    {% else %}
                                        {{ field }}
                                    {%  endif %}
                                </div>
                            {% endfor %}

                        {% endif %}
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <input class="btn btn-primary pull-right" type="submit" value="{% trans "Next" %}"/>
                            </div>
                        </div>




                    </form>
                </div>
            {%  endblock %}


        </div>
    </div>
{#                            <hr class="margin-top10 margin-bottom10 invisible " />#}
                                <hr class="half-margins invisible " />


{% endblock %}

{% block extra_js %}
{% endblock %}



{% block callout_bottom %}


<!-- More features -->
<div class="marco more-features-container section-container section-container-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 more-features section-description wow fadeIn">
                <h2>More features</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 more-features-box wow fadeInLeft">
                <img src="{% static 'marco/assets/img/devices/pc.png' %}" alt="">




            </div>
            <div class="col-sm-7 more-features-box wow fadeInUp">
                <div class="more-features-box-text">
                    <div class="more-features-box-text-icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <h3>Email Solution Inbuilt</h3>
                    <div class="more-features-box-text-description">
                        Don't worry about creating your company emails. Webmail inboxes come fully built in with every site you create with MBGorilla. Give out business email ID to your employees.
                    </div>
                </div>
                <div class="more-features-box-text">
                    <div class="more-features-box-text-icon">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <h3> Integration with Disqus, Google Analytics and Facebook</h3>
                    <div class="more-features-box-text-description">
                        All websites have great feature integration with some of the best third party applications for site comments, analytics and social APIs. .
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
