{% load i18n admin_list %}
{% include 'admin/edit_inline/tabular.html' %}

{% block after_inline %}
    <div class="result-list-container">
        {% with inline_admin_formset.formset.cl as cl %}
            {% if cl.paginator %}
                {% pagination cl %}
            {% endif %}
        {% endwith %}
    </div>

    <!-- Following javaScript is required if you have tabs,
         otherwise you can remove this JS code -->
    <script type="text/javascript">
        (function ($) {
            Suit.$('.pagination li a').on('click', function () {
                if (document.location.hash) {
                    $(this).attr('href', $(this).attr('href') +
                        '#' + document.location.hash.substr(1));
                }
            });
        }(Suit.$));
    </script>

{% endblock %}
