{% extends 'base_alkaline.html' %}

{% load static %}

{% comment %}

	{%  block styleswitcher_css %}
	{%  include 'alkaline/includes/styleswitcher_css.html' %}
	{% endblock %}


	{% block style_switcher %}
	{% include 'alkaline/includes/style_switcher.html' %}
	{% endblock %}	<!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT -->
{% endcomment %}
{% block meta_title %}{{ page.meta_title|capfirst }}{% endblock %}


{% block breadcrumb_heading %}
    <h3><em>About</em> <strong><em>Us</em></strong></h3>

{% endblock %}

{% block breadcrumb_right %}
{% endblock %}



{%  block main %}
    <hr class="half-margins invisible " />

    <div class="white">



        {#        <h3>Because <strong>you</strong> are the best!</h3>#}
        {##}
        {#        <p class="lead">#}
        {##}
        {#        </p>#}
        {##}
        {#        <div class="divider"><!-- divider --></div>#}



        {% comment %}<a class="pull-right inner img-thumbnail lightbox" href="{% static 'assets/images/demo/test_1.jpg' %}" data-plugin-options='{"type":"image"}'>
					<img class="img-responsive" src="{% static 'assets/images/demo/test_1_thumb.jpg' %}" alt="image" />
				</a>
				{% endcomment %}
        <p style="line-height: 24px; font-weight: 300;">
            Made by Gorilla is an online environment for building and hosting websites at remarkably less time and cost.
            The platform is built as an intelligent centralized tool that easily let's you create and manage multiple websites without having to worry about integrating complex features that otherwise involve significant expertise and man-hours.
            How it works is really quite simple.
            We love to explain it using the chaos theory.
            In any given system, its complexity determines the amount of entropy.
        </p>
        <p style="line-height: 24px; font-weight: 300;">


            Which means that more complex a system becomes, more are the chances of it breaking down. Same goes for a software.
            This is one of the main reasons that a custom made website becomes too cumbersome to manage eventually as it grows in size.
            Developers can often use non standard coding conventions, get lazy to index the html files or maintain error logs, even forget to test your site for security vulnerabilities.
            These are the most common reasons why a website client complains and all these are the causes for future chaos that may ensue. We are here to assist both end users and developers reduce their risk of website management.
        </p>


        <div class="divider half-margins"><!-- divider --></div>

        <div class="row">
            <div class="col-md-4">
                <h2>
                    <em>This is how MBG solves the <strong>complexity</strong> issue</em>
                </h2>
            </div>

            <div class="col-md-8">

                <p class="lead">
                    We realized that as the size of website projects increase, it becomes hard for a developer or a team of developers to maintain the code integrity. Debugging, updating and troubleshooting also becomes more time taking and in an event of site breakdown the client suffers critical loss of business. To solve this we tackle the problem of complexity in 3 different ways
                </p>
            </div>
        </div>
        <hr class="half-margins">
        <!-- FEATURED BOXES 1 -->
        <div class="row">
            <div class="col-md-4">
                <div class="featured-box nobg border-only">
                    <img src="{% static 'marco/assets/img/can_remove/proactive2.png' %}" alt="" style="max-width: 70%; margin-top: -35px;">

                    <div class="box-content">
                        <h3>Proactive Monitoring </h3>
                        <p>
                            Technology has its effects on the business but the reverse is also true. If your business suddenly attracts massive internet traffic then our technology will help you handle the rush. We proactively monitor a multitude of your requirements to plan ahead accordingly. Scaling infrastructure should be a simple task for you.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured-box nobg border-only">
                    <img src="{% static 'marco/assets/img/can_remove/automation2.png' %}" alt="" style="max-width: 70%; margin-top: -35px;">

                    <h3>Automation</h3>
                    <p>
                        Tasks that you don't want to do are best left on the computer. Often maintaining code integrity during updates and debugging involves boring repetitive work. So, we automated this aspect. You don't have to look into the code. Our intelligent agent will take care of the code while you build the site or add new features using the visual builder. The advanced tool is capable to self diagnose and adapt in the events such as sudden surge in traffic, site attacks, malicious links, spamming etc.

                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured-box nobg border-only">
                    <img src="{% static 'marco/assets/img/can_remove/consultant2.png' %}" alt="" style="max-width: 70%; margin-top: -35px;">

                    <h3>The Human Component</h3>
                    <p>
                        Although minimal human involvement is necessary in keeping your sites running, we are prepared for unforeseen situations. MBG has a SWAT team of experts who'll jump in whenever required. This is a commitment that most other web builders or CMSs are afraid to make. We will not leave you to deal with the site related problems on your own. You can count on our premium support.  

                    </p>
                </div>
            </div>

        </div>
        <!-- /FEATURED BOXES 1 -->





        <div class="divider half-margins"><!-- divider --></div>

        {% comment %}<a class="pull-right inner img-thumbnail lightbox" href="{% static 'assets/images/demo/test_2.jpg' %}" data-plugin-options='{"type":"image"}'>
					<img class="img-responsive" src="{% static 'assets/images/demo/test_2_thumb.jpg' %}" alt="image" />
				</a>{% endcomment %}

        <div class="row">


            <div class="col-md-8">
                <p class="#">
                    The idea is to constantly push the boundaries of web presence. We see web development evolve into a very diverse platform and device based application development field. Also website's will take shape of larger business infrastructure. This is due to the reason that businesses now make a majority of transactions online. Those selling services or products want to be able to give their customers a wholesome and functional experience on their websites as opposed to simply making people aware of their services or products.
                </p>
                <p>
                    At MBG we believe that user experience is more than a matter of design. It’s has to do with functionality and purpose. This is where Made by Gorilla's intelligent web agent steps in. It can help find out what the user really needs rather than us trying to guess it. The site's feedback system really interacts with the users as they use your site. This helps not only to design a better tool for the future but also understand what makes a design more effective.

                </p>
            </div>


            <div class="col-md-4 text-center">
                <br>
                <br>
                {#                <i class="fa fa-user fa-4x"></i>#}
                <h1><em>We Craft</em></h1>
                <h1><strong><em>User Experience</em></strong></h1>
            </div>

        </div>


        <div class="divider half-margins"><!-- divider --></div>


        <h2><em><strong>MBG Headquarter</strong> and Team</em></h2>

        <p class="lead">
            The headquarters of MBG are based in Dakpathar, a scenic town in the foothills of literal Himalayas, 40 kilometers north of the touristy city of Dehradun. For most people coming here, it might look like a getaway but unbeknownst to them it is the hub of all tech activities of MBG. The climate here gives us an unique advantage to run a state of the art data facility all year around.

        </p>



        {% comment %}
        <p>
            The guiding force behind Made by Gorilla's intelligent tool is Deepak Malik. He has previously worked with companies like Xerox and Credit Suisse and has extensive experience of web security implementation. This is one of the reasons that MBG pays extreme attention to site security at every level. Future of web development is changing very quickly and data privacy and security of information is the most challenging question. We have taken up this concern from the ground up.
        </p>

        <p>
            We have a great way to keep the systems working smoothly. Our proactive monitoring and troubleshooting is a part of sophisticated operations management which is helmed by Anu Malik. She is the head of operations at MBGorilla and brings her calm reserve to the whole process along with her expertise in development on multiple platforms like php, Python, Django and HTML5. Anu has made major contributions to our innovations in the intelligent application based templates and issue management.
        </p>
        <p>
            We offer a wide range of web development services. Pankaj Mor has the tough job as the head of services at MBGorilla. The customization features that we offer are unique and she takes care of all the complex requirements from our users. Pankaj is a techie as like most of the team and has specialization in process management and user compliance. Her keen grasp on MBGorilla's service delivery is very critical to our functioning.
        </p>

        <p>
            MBGorilla is committed to providing state of the art customer experience and that's where Koustubh Bhattacharya comes in. As a brand evangelist for MBGorilla he is the person you'll mostly hear speaking about our technology and innovations. He's out there to hear from you and understand your requirements for our constant evolution.
        </p>
{% endcomment %}

        <article>
            <div class="row">

                <div class="col-sm-3 col-md-3">
                    <div class=" text-center">
                        <div class="item-image">
                            <img class="img-responsive img-circle " src="{% static 'alkaline/assets/images/team/deepak_malik.jpg' %}" alt="">
                            {#                            <h3>#}
                            {#                                <span>Deepak Malik</span> <br>#}
                            {#                                <small>CVO</small>#}
                            {#                            </h3>#}
                        </div>
                        {#                        <div class="caption text-left">#}
                        {#                            <a href="#" class="social rounded fa fa-facebook"></a>#}
                        {#                            <a href="#" <clas></clas>s="social rounded fa fa-twitter"></a>#}
                        {#                            <a href="#" class="social rounded fa fa-google-plus"></a>#}
                        {#                        </div>#}
                    </div>
                </div>
                <div class="col-sm-9 col-md-9">
                    <h3><em>Deepak Malik</em></h3>
                    <p> <small>Chief visionary officer</small></p>
                    <p>The guiding force behind Made by Gorilla's intelligent tool is Deepak Malik. He has previously worked with companies like Xerox and Credit Suisse and has extensive experience of web security implementation. This is one of the reasons that MBG pays extreme attention to site security at every level. Future of web development is changing very quickly and data privacy and security of information is the most challenging question. We have taken up this concern from the ground up.</p>

                </div>

            </div>
            <hr class="half-margins">

            <div class="row">


                <div class="col-sm-9 col-md-9">
                    <h3><em>Pankaj Mor</em> </h3>
                    <p> <small>Service Delivery</small></p>

                    <p>
                        MBGorilla is committed to providing state of the art customer experience and that's where Koustubh Bhattacharya comes in. As a brand evangelist for MBGorilla he is the person you'll mostly hear speaking about our technology and innovations. He's out there to hear from you and understand your requirements for our constant evolution.

                    </p>

                </div>
                <div class="col-sm-3 col-md-3">
                    <div class=" text-center">
                        <div class="item-image">
                            <img class="img-responsive img-circle" src="{% static 'alkaline/assets/images/team/pankaj_mor.png' %}" alt="">

                            {#                            <h3>#}
                            {#                                <span>Deepak Malik</span> <br>#}
                            {#                                <small>CVO</small>#}
                            {#                            </h3>#}
                        </div>
                        {#                        <div class="caption text-left">#}
                        {#                            <a href="#" class="social rounded fa fa-facebook"></a>#}
                        {#                            <a href="#" class="social rounded fa fa-twitter"></a>#}
                        {#                            <a href="#" class="social rounded fa fa-google-plus"></a>#}
                        {#                        </div>#}
                    </div>
                </div>

            </div>
            <hr class="half-margins">

            <div class="row">

                <div class="col-sm-3 col-md-3">
                    <div class="text-center">
                        <div class="item-image">
                            <img class="img-responsive img-circle" src="{% static 'alkaline/assets/images/team/deepak_malik.jpg' %}" alt="">
                            {#                            <h3>#}
                            {#                                <span>Deepak Malik</span> <br>#}
                            {#                                <small>CVO</small>#}
                            {#                            </h3>#}
                        </div>
                        {#                        <div class="caption text-left">#}
                        {#                            <a href="#" class="social rounded fa fa-facebook"></a>#}
                        {#                            <a href="#" <clas></clas>s="social rounded fa <fa></fa>-twitter"></a>#}
                        {#                            <a href="#" class="social rounded fa fa-google-plus"></a>#}
                        {#                        </div>#}
                    </div>
                </div>
                <div class="col-sm-9 col-md-9">
                    <h3><em>Anu Malik</em></h3>
                    <p> <small>Operation Manager</small></p>
                    <p>The guiding force behind Made by Gorilla's intelligent tool is Deepak Malik. He has previously worked with companies like Xerox and Credit Suisse and has extensive experience of web security implementation. This is one of the reasons that MBG pays extreme attention to site security at every level. Future of web development is changing very quickly and data privacy and security of information is the most challenging question. We have taken up this concern from the ground up.</p>

                </div>

            </div>
            <hr class="half-margins">

            <div class="row">

                <div class="col-sm-9 col-md-9">
                    <h3><em>Koustubh Bhattacharya</em> </h3>
                    <p> <small>Brand Consultant</small></p>

                    <p>
                        MBGorilla is committed to providing state of the art customer experience and that's where Koustubh Bhattacharya comes in. As a brand evangelist for MBGorilla he is the person you'll mostly hear speaking about our technology and innovations. He's out there to hear from you and understand your requirements for our constant evolution.

                    </p>

                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="    text-center">
                        <div class="item-image">
                            <img class="img-responsive img-circle" src="{% static 'alkaline/assets/images/team/kb.jpg' %}" alt="">

                            {#                            <h3>#}
                            {#                                <span>Deepak Malik</span> <br>#}
                            {#                                <small>CVO</small>#}
                            {#                            </h3>#}
                        </div>
                        {#                        <div class="caption text-left">#}
                        {#                            <a href="#" class="social rounded fa fa-facebook"></a>#}
                        {#                            <a href="#" class="social rounded fa fa-twitter"></a>#}
                        {#                            <a href="#" class="social rounded fa fa-google-plus"></a>#}
                        {#                        </div>#}
                    </div>
                </div>

            </div>



            <hr class="half-margins invisible">
            {% comment %}<article>
                <div class="alert alert-default fade in">

                    <div class="row">

                        <div class="col-md-8 col-sm-8"><!-- left text -->
                            <h3 class="nomargin">Be part of <strong>MBGorilla Team</strong></h3>
                            <p class="nomargin">
                                MBGorilla is looking for tealented people! Join us now!
                            </p>
                        </div><!-- /left text -->


                        <div class="col-md-4 col-sm-4 text-right"><!-- right btn -->
                            <a href="#" class="btn btn-primary btn-lg">OK, LET'S DO IT</a>
                        </div><!-- /right btn -->

                    </div>

                </div>
            </article>
{% endcomment %}
        </article>



        {% comment %}

        <article>

            <div class="row team text-center">

                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail text-center">
                        <div class="item-image">
                            <img class="img-responsive" src="{% static 'alkaline/assets/images/team/deepak_malik.jpg' %}" alt="">
                            <h3>
                                <span>Deepak Malik</span> <br>
                                <small>CVO</small>
                            </h3>
                        </div>
                        <div class="caption text-left">
                            <p>            The guiding force behind Made by Gorilla's intelligent tool is Deepak Malik. He has previously worked with companies like Xerox and Credit Suisse and has extensive experience of web security implementation. This is one of the reasons that MBG pays extreme attention to site security at every level. Future of web development is changing very quickly and data privacy and security of information is the most challenging question. We have taken up this concern from the ground up.
                                .</p>
                            <a href="#" class="social rounded fa fa-facebook"></a>
                            <a href="#" class="social rounded fa fa-twitter"></a>
                            <a href="#" class="social rounded fa fa-google-plus"></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail text-center">
                        <div class="item-image">
                            <img class="img-responsive" src="{% static 'alkaline/assets/images/team/deepak_malik.jpg' %}" alt="">

                            <h3>
                                <span>Anu Malik</span> <br>
                                <small>Operation Manager</small>
                            </h3>
                        </div>
                        <div class="caption text-left">
                            <p>Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis.</p>
                            <a href="#" class="social rounded fa fa-facebook"></a>
                            <a href="#" class="social rounded fa fa-twitter"></a>
                            <a href="#" class="social rounded fa fa-google-plus"></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail text-center">
                        <div class="item-image">
                            <img class="img-responsive" src="{% static 'alkaline/assets/images/team/deepak_malik.jpg' %}" alt="">

                            <h3>
                                <span>Pankaj Mor</span> <br>
                                <small>Design</small>
                            </h3>
                        </div>
                        <div class="caption text-left">
                            <p>Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis omnis fugats vitaes you need this template amets sumon.</p>
                            <a href="#" class="social rounded fa fa-facebook"></a>
                            <a href="#" class="social rounded fa fa-twitter"></a>
                            <a href="#" class="social rounded fa fa-google-plus"></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail text-center">
                        <div class="item-image">
                            <img class="img-responsive" src="{% static 'alkaline/assets/images/team/kb.jpg' %}" alt="">

                            <h3>
                                <span>Koustubh Bh</span> <br>
                                <small>Brand Consultant</small>
                            </h3>
                        </div>
                        <div class="caption text-left">
                            <p>Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis omnis fugats vitaes you need this template amets sumon.</p>
                            <a href="#" class="social rounded fa fa-facebook"></a>
                            <a href="#" class="social rounded fa fa-twitter"></a>
                            <a href="#" class="social rounded fa fa-google-plus"></a>
                        </div>
                    </div>
                </div>


            </div>

        </article>


{% endcomment %}



    </div>

{%  endblock %}


{% block callout_bottom %}


    <div class="marco always-beautiful-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 always-beautiful section-description wow fadeIn">
                    <h2>People say we are awesome and so we believe that too </h2>


                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 always-beautiful-box wow fadeInUp">
                    <img src="{% static 'marco/assets/img/can_remove/like2.png' %}" alt="" style="max-width: 70%;">
                </div>
                <div class="col-sm-8 always-beautiful-box wow fadeInLeft">
                    <div class="always-beautiful-box-text always-beautiful-box-text-left">
                        <br>
                        <p class="medium-paragraph text-left" >
                            MBGorilla is an emerging global startup with expanding user base.
                            Businesses have found our high-end web development platform both reliable and easy to use. We have many stories to share too.
                            Also, we are hiring more talent to grow our teams. Find out more of our company's culture, customer opinions about us



                        </p>

                         <h3 class="text-right">
                            <a href="#">job opportunities at MBGorilla <i class="fa fa-angle-double-right"></i> </a>
                        </h3>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% comment %}
    <!-- Always beautiful -->
    <div class="marco always-beautiful-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 always-beautiful section-description wow fadeIn">
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 always-beautiful-box wow fadeInLeft">
                    <div class="always-beautiful-box-text always-beautiful-box-text-left">

                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>{% endcomment %}


{% endblock %}



{%  block extra_js %}
    <script type="text/javascript" src="{% static 'assets/plugins/styleswitcher/styleswitcher.js' %}"></script><!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT -->
{%  endblock %}