{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block breadcrumb_heading %}
    <h3><strong><em>{{ page.title|capfirst }}</em></strong></h3>
{% endblock %}


{% block main %}{{ block.super }}
                                    <hr class="half-margins invisible " />

    <div class="white">

        {% editable page.richtextpage.content %}
            {{ page.richtextpage.content|richtext_filters|safe }}
        {% endeditable %}
    </div>
{% endblock %}
