{% extends 'base_alkaline.html' %}
{% load static %}

{% block main %}
{% for object in object_list %}
<div class="container">
<div class="row">
	<div class="span6">
		<div class="row">
			<h4>{{ object.name }}</h4>
		</div>
		<div class="row">
		<p>
		 {{ object.short_desc }}
		</p>
		</div>
		<div class="row">
		<p>
		 {{ object.desc }}
		</p>
		</div>
		<div class="row">
			<div class="container">
			   	<div class="span2">
				<a href="{{ object.get_absolute_url }}" class="btn btn-primary btn-large">Item-Details</a>
				</div>
			   	<div class="span2">
				<a href="#" class="btn btn-danger btn-large">Live Demo</a>
				</div>
			   	<div class="span2">
				<a href="#" class="btn btn-success btn-large">Try free for 14 days</a>
				</div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="conatiner">
			{% for i in  object.get_images %}
				<img src="{{ i.image.url }}"/>
			{% endfor %}
		</div>
	</div>
</div>
<hr>
</div>
{% endfor %}

{% include "includes/_pagination.html" %}


{% endblock %}
