{% extends 'base.html' %}

{% block main %}
<h3>Caffelate Webdesign object</h3>
<div class="container">
<div class="row-fluid">
	<div class="span6">
		imags
	    {% for i in  object.images.all %} 
		{{ i }}
	    {% endfor %}
	</div>
	<div class="span6 well">
		{{ object.name }}
	<a href="{% url 'redirect-checkout' pk=object.id %}">Deploy this design</a>
	</div>
</div>
</div>
{% endblock %}
