{% extends 'base_alkaline.html' %}


{% load static i18n mezzanine_tags caffelatte_tags %}
{% block meta_title %}Gorilla Apps{% endblock %}




{% block backbone_template %}
    {% for l in object_list %}


        <script type="application/template" id="template_mobile_{{ l.id }}" xmlns="http://www.w3.org/1999/html">

            <div class="row mobile_item">
                <div class="col-md-7 center border34"><!--extra class added-->
                    <!--phone border--><img style="position: relative;" alt="image" class="img-responsive" src="/static/alkaline/assets/images/device/iphone11.png">
                    <div id="mobile_{{ l.id }}_owl" class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                        {% for img in l.get_mobile_images %}

                            <div>
                                {# <img class="img-responsive" src="{{ media_url }}{% thumbnail img.image 555 311 %}" width="555" height="311" alt="">#}
                                <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail img.image 350 570 %}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </script>

        <script type="application/template" id="template_tablet_{{ l.id }}">

            <div class="row tablet_item">
                <div class="col-md-8 center border34"><!--extra class added-->
                    <!--phone border--><img style="position: relative;" alt="image" class="img-responsive" src="/static/alkaline/assets/images/device/tablet11.png">
                    <div id="tablet_{{ l.id }}_owl" class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                        {% for img in l.get_tablet_images %}
                            <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail img.image 455 605 %}" alt="">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </script>


        {% comment %}        <script type="application/template" id="template_laptop_{{ l.id }}">
            <div class="row ">
                  <div class="col-md-12 center border34"><!--extra class added-->
{#                    <!--phone border--><img style="position: relative;" alt="image" class="img-responsive" src="/static/alkaline/assets/images/device/laptop3.png">#}
                    <div id="laptop_{{ l.id }}_owl" class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>

                        {% for img in l.get_laptop_images %}
{#                            <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail img.image 455 370 %}" alt="">#}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </script>{% endcomment %}


        <script type="application/template" id="template_desktop_{{ l.id }}">
            <div class="row desktop_item">
                <div class="col-md-12 center border34"><!--extra class added-->
                    <!--phone border--><img style="position: relative;" alt="image" class="img-responsive" src="/static/alkaline/assets/images/device/desktop11.png">
                    <div id="desktop_{{ l.id }}_owl" class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                        {% for img in l.get_images %}
                            <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail img.image 555 370 %}" alt="">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </script>

    {% endfor %}

{% endblock %}


{% block breadcrumb_heading %}
    <h3><em>Explore web application</em></h3>
{% endblock %}

{% block breadcrumb_right %}
    <div class="row" id="sub_tool">

        {%  if categories %}
            <form action="{% url 'cms' 1 %}" method="post">
                {%  csrf_token %}
                <select class="col-sm-6 pull-right" id="cms_id">
                    {% for c in categories %}
                        {% if forloop.first and active_category == 'all' %}
                            <option selected="selected" value="">Categories</option>
                        {% elif forloop.first %}
                            <option selected="selected" value="all">All</option>
                        {% endif %}
                        {%  if c.name == active_category %}
                            <option selected="selected" value="{{ c.name }}">{{ c.name|capfirst }}</option>
                        {% else %}
                            <option value="{{ c.name }}">{{ c.name|capfirst }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </form>
        {%  endif %}
    </div>
{% endblock %}


{% block main %}
    <div class="white" id="web_list">


    {% comment %}

        <header class="page-header" >
            <div class="row" id="sub_tool">
                <div class="col-md-6"></div>

                <div class="col-md-6">
                    <div class="row" id="sub_tool">

                        {%  if categories %}
                            <form action="{% url 'cms' 1 %}" method="post">
                                {%  csrf_token %}
                                <select class="col-sm-6 pull-right" id="cms_id">
                                    {% for c in categories %}
                                        {% if forloop.first and active_category == 'all' %}
                                            <option selected="selected" value="">Categories</option>
                                        {% elif forloop.first %}
                                            <option selected="selected" value="all">All</option>
                                        {% endif %}
                                        {%  if c.name == active_category %}
                                            <option selected="selected" value="{{ c.name }}">{{ c.name|capfirst }}</option>
                                        {% else %}
                                            <option value="{{ c.name }}">{{ c.name|capfirst }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </form>
                        {%  endif %}
                    </div>

                </div>
            </div>
        </header>
{% endcomment %}

    <!-- Why you should chose Alkaline? -->
    {% for l in object_list %}

        {% if forloop.first %}
            <hr class="invisible half-margins">
        {% endif %}


        {% if forloop.counter0|divisibleby:"2" %}
            <div class="row">

                <!-- left text -->
                <div class="col-md-6 col-sm-6">
                    <div class="row">
                        <div class="col-md-9">
                            <h2 style="padding-bottom: 0px;margin-bottom: 0px;"><em>{{ l.name|capfirst }}</em></h2>
                            <p style="margin-top: 0px;">
                                {% for c in l.category.all %}
                                    <a href="{% url 'cms' c.name %}" class="label label-default light"><i class="fa fa-dot-circle-o"></i> {{ c.name }}</a>
                                {% endfor %}
                                <span class="label label-default light"> <i class="fa fa-eye"></i> {{ l.viewed }}</span>
                            </p>

                        </div>
                        <div class="col-md-3">



                            {#                            <div class="price-box">#}
                            {#                                <div class="price-round price-purple">#}

                            <h3 style="padding-top: 12px;"><strong><em>${{ l.get_price }}</em></strong></h3>

                            {#                                </div>#}
                            {##}
                            {#                            </div>#}

                        </div>

                    </div>


                    {#                    <p>{{ l.short_desc|safe }}</p>#}
                    <p>{{ l.desc|truncatewords:'100'|safe }}</p>

                    {%  if l.get_features %}
                        <ul class="list-icon fa-ul">
                            {% for f in l.get_features %}
                                <li><i class="fa-li fa fa-check-square"></i>{{ f.heading }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <hr class="invisible half-margins">

                    <div class="row" id="button-row">
                        <div class="col-md-4 col-sm-4">
                            <a href="{{ l.get_absolute_url }}" class="btn btn-first"><i class="fa fa-lg fa-plus"></i>More features</a>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <a href="{{ l.demo_url }}" target="_blank" class="btn btn-second"><i class="fa fa-lg  fa-external-link"></i>Live Demo</a>
                        </div>
                        <div class="col-md-4  col-sm-4">

                            {% if not is_checkout_on_hold %}
                                {%  if user.is_authenticated %}
                                    {% if is_demo_enable %}
                                        <a href="{% url 'redirect-checkout' pk=l.id %}" class="btn btn-third"><i class="fa fa-lg fa-shopping-cart"></i>14 days free Trial</a>
                                    {% else %}
                                        <a href="{% url 'redirect-checkout' pk=l.id %}" class="btn btn-third"><i class="fa fa-lg fa-shopping-cart"></i>Deploy </a></a>
                                    {%  endif %}
                                {% else %}
                                    <a href="{% url 'redirect-checkout' pk=l.id %}" class="btn btn-third">Deploy this theme</a></a>
                                {%  endif %}
                            {% endif %}

                        </div>
                    </div>

                </div>
                <!-- /left text -->

                {% include "includes/responsive.html" %}


            </div>
            <!-- /Why you should chose Alkaline? -->

        {% else %}

            <!--  -->
            <div class="row">
                {% include "includes/responsive.html" %}

                <!-- text -->
                <div class="col-md-6">

                    <!-- text -->
                    {#                                                        <h4><strong>Alka<em>line</em></strong> gives you power!</h4>#}

                    <div class="row">
                        <div class="col-md-9">
                            <h2 style="padding-bottom: 0px;margin-bottom: 0px;"><em>{{ l.name|capfirst }}</em></h2>
                            <p style="margin-top: 0px;">
                                {% for c in l.category.all %}
                                    <a href="{% url 'cms' c.name %}" class="label label-default light"><i class="fa fa-dot-circle-o"></i> {{ c.name }}</a>
                                {% endfor %}
                                <span class="label label-default light"> <i class="fa fa-eye"></i> {{ l.viewed }}</span>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <h3 style="padding-top: 12px;"><strong><em>${{ l.get_price }}</em></strong></h3>

                        </div>

                    </div>
                    {% comment %}

                    <h2>{{ l.name|capfirst|change_color }}</h2>

                    <p>
                        {% for c in l.category.all %}
                            <a href="{% url 'cms' c.name %}" class="label label-default light"><i class="fa fa-dot-circle-o"></i> {{ c.name }}</a>
                        {% endfor %}
                        <span class="label label-default light"> <i class="fa fa-eye"></i> {{ l.viewed }}</span>

                    </p>
{% endcomment %}
                    {#                    <p>{{ l.short_desc|safe }}</p>#}
                    <p>{{ l.desc|truncatewords:60|safe }}</p>

                    {#                    <p>{{ l.desc|safe }}</p>#}

                    {%  if l.get_features %}
                        <ul class="list-icon fa-ul">
                            {% for f in l.get_features %}
                                <li><i class="fa-li fa fa-check-square"></i>{{ f.heading }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}


                    <hr class="invisible half-margins">
                    <div class="row">
                        <div class="col-md-4 ">
                            <a href="{{ l.get_absolute_url }}" class="btn btn-first"><i class="fa fa-lg fa-plus"></i> More features</a>
                        </div>
                        <div class="col-md-4">
                            <a href="{{ l.demo_url }}" target="_blank" class="btn btn-second"><i class="fa fa-lg fa-external-link"></i>Live Demo</i></a>
                        </div>
                        <div class="col-md-4">
                            {% if not is_checkout_on_hold %}
                                <a href="{% url 'redirect-checkout' pk=l.id %}" class="btn btn-third"><i class="fa fa-lg fa-shopping-cart"></i>14 days free trial</a>
                            {% endif %}
                        </div>
                    </div>


                </div>
                <!-- /text -->

            </div>
            <!-- /POWER -->
        {% endif %}

        {% if not forloop.last  %}
            {#            <div class="divider"><!-- divider --></div>#}
            <hr>

        {% endif %}

    {% endfor %}


    <hr class="half-margins" />





    <div class="row">
        {% comment %}
        {% if featured_sites %}
            <div class="col-md-8 col-sm-6 padding-top-15 border-right">

                <!-- CLIENTS/BRANDS -->
                <div class="owl-carousel" data-plugin-options='{"singleItem": false, "pagination": false, "autoPlay": true}'>
                    {% for featured_site in featured_sites %}
                        <div>
                            <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail featured_site.logo 137 77 %}" alt="">
                        </div>

                    {% endfor %}

                </div>
                <!-- /CLIENTS/BRANDS -->
            </div>

        {% endif %}
    {% endcomment %}

        <div class="col-md-12 text-center">

            {% include 'includes/_pagination.html' %}
        </div>


    </div>


    {#        <div class="divider half-margins"><!-- divider --></div>#}


    {% comment %}   <!-- CALLOUT -->
        <div class="alert alert-default fade in">

            <div class="row">

                <div class="col-md-9 col-sm-8"><!-- left text -->
                    <h4 class="nomargin">Need <strong>Assistance</strong></h4>
                    <p class="nomargin">
                        If you have more questions and you do not find them here, please contact us!
                    </p>
                </div><!-- /left text -->


                <div class="col-md-3 col-sm-4 text-right"><!-- right btn -->
                    <a href="{% url 'contact_create' %}" class="btn btn-primary btn-lg">CONTACT</a>
                </div><!-- /right btn -->

            </div>

        </div>
        <!-- /CALLOUT -->

{% endcomment %}

{% endblock %}


{% block callout_bottom %}

    <hr class="half-margins invisible">



    <div class="marco always-beautiful-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 always-beautiful section-description wow fadeIn">
                    <h2>Want More Web Apps?</h2>



                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 always-beautiful-box wow fadeInUp">
                    <img src="{% static 'marco/assets/img/can_remove/more_webapps3.png' %}" alt="" style="max-width: 70%; margin-top: -45px;">
                </div>
                <div class="col-sm-8 always-beautiful-box wow fadeInLeft">
                    <div class="always-beautiful-box-text always-beautiful-box-text-left">
                        <p class="medium-paragraph text-left">

                            None of our web apps in the current selection suite your needs?
                            Tell us about your business requirement and give us an idea on what are you looking for in the design.
                            We'll surely work on including the design and utility you want, in our next web app gallery update.

                        </p>
                        <h3 class="text-right">
                            <a href="{% url 'contact_create' %}">Ask for <i class="fa fa-angle-double-right"></i> </a>
                        </h3>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}


{% block extrahead_js %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>

{% endblock %}

{% block extra_js %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js" type="text/javascript"></script>
    <script src="{% static 'js/application.js' %}" type="application/javascript"></script>
    {#    {% javascript 'stats' %}#}
    <script>
        {#    $("#owl-example").owlCarousel();#}
    </script>
{% endblock %}



