{% extends 'base_alkaline.html' %}

{% load mezzanine_tags static caffelatte_tags %}

{% block meta_title %} {{ object.name|capfirst }} {% endblock %}


{% block breadcrumb_heading %}
    <h3><em>{{ object.name|capfirst }}</em></h3>
{% endblock %}

{% block breadcrumb_right %}
{% endblock %}



{% block main %}

    <div class="white">
        {#        <header class="page-header">#}
        {#            <h1>{{ object.name|capfirst }} <strong>Web Application</strong></h1>#}
        {#        </header>#}

        <p class="lead">{{ object.short_desc | safe }}</p>

        {% comment %}

				<div class="divider half-margins"><!-- divider --></div>


				<!-- FEATURED BOXES -->
				<div class="row">
					<div class="col-md-3">
						<div class="featured-box nobg border-only">
							<div class="box-content">
								<i class="fa fa-user"></i>
								<h4>Loved by Customers</h4>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="featured-box nobg border-only">
							<i class="fa fa-book"></i>
							<h4>Well Documented</h4>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="featured-box nobg border-only">
							<i class="fa fa-trophy"></i>
							<h4>Winner</h4>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="featured-box nobg border-only">
							<i class="fa fa-cogs"></i>
							<h4>Customizable</h4>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
						</div>
					</div>
				</div>
				<!-- /FEATURED BOXES -->
{% endcomment %}


        <hr class="half-margins" />


        <!-- MORE SERVICES -->
        {#        <h2><strong>More </strong> Key Features</h2>#}
        <div class="row">
            <div class="col-md-8">

                <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                    {% for f in object.get_images %}
                        <div>
                            <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail f.image 848 611 %}"alt="">
                        </div>
                    {% endfor %}
                </div>

                <p>{{ object.desc|safe }} </p>


            </div>



            <div class="col-md-4 col-sm-4">
                <div class="well text-center">
                    <img src="{{object.demo_url|qr:"130x140"}}" />
                    <p>
                        Scan the QR code above and
                        view the apps live on your device.
                    </p>

                </div>


                <div class="well purchase-panel">
                    <div class="purchase-panel-head">
                        <div class="purchase-heading pull-left">
                            <span>Regular License</span>
                        </div>
                        <div class="purchase-price pull-right">
                            <span>${{ object.get_price }}</span>
                        </div>
                    </div>
                    <div class="purchase-support">
                        <ul>
                            <li><i class="fa fa-check"></i><span>Quality checked by</span></li>
                            <li><i class="fa fa-check"></i><span>Future updates</span></li>
                            <li><i class="fa fa-check"></i><span>6 months support from</span></br>
                                <a  class="t-link " href="#">What does support include?</a>
                            </li>
                        </ul>
                    </div>

                    {% if object.get_save_price %}
                        <div class="purchase-upgrade">
                            {% comment %}
                        <div class="purchase-checkbox">
                            <input type="checkbox" value="bundle_12month" name="support" id="support" class="js-support__option">
                        </div>{% endcomment %}

                            <div class="purchase-upgrade-info">
                                {% comment %}
                            <label for="support" class="purchase-form__label">
                                Extend support to 12 months
                            </label>
							  <span class="purchase-form__price pull-right">
								<b class="t-currency">
                                    <span class="js-support__price">$17.70</span>
                                </b>
							  </span>{% endcomment %}
                                <p class="t-body -size-m">
                                    <a class="pricing-link" href="#">
                                        <i class="fa fa-tag fa-rotate-90"></i>Get it now and save up to <span>${{ object.get_save_price }}</span></a></p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="purchase-button">
                        <a href="{{ object.demo_url }}">
                            <button class=" btn btn-add">
                                <i class="fa fa-external-link"></i> <strong>Live Demo</strong>
                            </button>
                        </a>
                    </div>
                    <div class="purchase-button">
                        <a href="{% url 'redirect-checkout' pk=object.id %}">
                            <button value="Buy Now" name="buy_now_button" class="btn btn-buy">
                                <i class="fa fa-lg fa-shopping-cart"></i>
                                <strong>Deploy Apps </strong>
                            </button>
                        </a>
                    </div>
                </div>
                <!--total sales-->
                <div class="well total-sales">
                    <strong class="stats-number">
                        <i class="fa fa-shopping-cart"></i>
                        204
                    </strong>
                    <span class="stats__label">Sales</span>
                </div>
                <!--/total sales-->
                {% comment %}
                <!--client-comments-->
                <div class="well client-comments">
                    <a class="t-link" href="#">
                        <strong>
                            <span class="stats__icon"><i class="fa fa-commenting"></i></span>
                            109
                        </strong>
                        <span class="stats__label">Comments</span>
                    </a>
                </div>
                <!--/client-comments-->

                <!--ratings-->
                <div class="well bratings">
                    <div class="rating-header">
                        <strong class="rating-title">Buyer Rating:</strong>
                        <div class="rating-stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
									  <span class="rating-average">
										4.67 average based on 15 ratings.

										  (<a class="rating-exposer" href="#">more information</a>)
									  </span>
                    </div>

                </div>
                <!--/ratings-->

            {% endcomment %}
                <!--meta attributes-->
                <div class="well bratings">
                    <div class="meta-attributes">
                        <table cellspacing="0" cellpadding="0" border="0" class="meta-attributes__table">
                            <tbody>
                            {% for frontend_item in object.get_frontend_items %}
                                <tr>
                                    <td class="meta-attributes__attr-name">{{ frontend_item.property }}</td>
                                    <td class="meta-attributes__attr-detail">{{ frontend_item.values }}</td>
                                </tr>
                            {% endfor %}


                            {% comment %}
                            <tr>
                                <td class="meta-attributes__attr-name">Last Update</td>
                                <td class="meta-attributes__attr-detail">21 September 15</td>
                            </tr>

                            <tr>
                                <td class="meta-attributes__attr-name">High Resolution</td>
                                <td class="meta-attributes__attr-detail">
                                    <a href="#">Yes</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="meta-attributes__attr-name">Widget Ready</td>
                                <td class="meta-attributes__attr-detail">
                                    <a href="#">Yes</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="meta-attributes__attr-name">Compatible Browsers</td>
                                <td class="meta-attributes__attr-detail">
                                    <a href="#">IE11</a>, <a href="#">Firefox</a>, <a href="#">Safari</a>, <a href="#">Opera</a>, <a href="#">Chrome</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="meta-attributes__attr-name">Compatible With</td>
                                <td class="meta-attributes__attr-detail">
                                    <a href="#">WooCommerce 2.4.x</a>, <a href="#">bbPress 2.5.x</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="meta-attributes__attr-name">Software Version</td>
                                <td class="meta-attributes__attr-detail">
                                    <a href="#">WordPress 4.3</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="meta-attributes__attr-name">ThemeForest Files Included</td>
                                <td class="meta-attributes__attr-detail">
                                    <a href="#">PHP Files</a>, <a href="#">CSS Files</a>, <a href="#">JS Files</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="meta-attributes__attr-name">Columns</td>
                                <td class="meta-attributes__attr-detail">
                                    <a href="#">3</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="meta-attributes__attr-name">Documentation</td>
                                <td class="meta-attributes__attr-detail">
                                    <a href="#">Well Documented</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="meta-attributes__attr-name">Layout</td>
                                <td class="meta-attributes__attr-detail">
                                    <a href="#">Responsive</a>
                                </td>
                            </tr>

                            <tr>
                                <td class="meta-attributes__attr-name">Tags</td>
                                <td><span class="meta-attributes__attr-tags">
											  <a title="blog" href="#">blog</a>, <a title="clean" href="#">clean</a>, <a title="ecommerce" href="#">ecommerce</a>, <a title="gallery" href="#">gallery</a>, <a title="magazine" href="#">magazine</a>, <a title="news" href="#">news</a>, <a title="newspaper" href="#">newspaper</a>, <a title="rating" href="#">rating</a>, <a title="review" href="#">review</a>, <a title="seo" href="#">seo</a>, <a title="sports" href="#">sports</a>, <a title="tech" href="#">tech</a>, <a title="theme" href="#">theme</a>, <a title="wordpress" href="#">wordpress</a>
											</span></td>
                            </tr>{% endcomment %}
                            </tbody>
                        </table>
                    </div>

                </div>
                <!--/meta attributes-->
            </div>


            {% comment %}<div class="col-md-4">
                <div class="row">

                    {#                    <h2>{{ object.name|capfirst|change_color }}</h2>#}
                    {#                <h6 class="lead">{{ object.short_desc|safe }}</h6>#}
                    <div class=" col-md-12 text-center well">
                        <a href="#" target="_blank" class="btn btn-lg btn-primary"><i class="fa fa-lg fa-external-link"></i>Live Demo</a>
                        <hr class="invisible" />

                        <a href="{% url 'redirect-checkout' pk=object.id %}" class="btn btn-lg btn-primary"><i class="fa fa-lg fa-shopping-cart"></i> 14 days free trial</a>
                    </div>
                </div>

            </div>{% endcomment %}
        </div>
        <!-- /MORE SERVICES -->





        {#        <div class="divider half-margins"><!-- divider --></div>#}
        <hr class="half-margins" />


        <!-- FEATURES -->
        <h3> More <strong>Features</strong></h3>
        {#        <h2><strong>More </strong> Key Features</h2>#}

        <div class="row">

            <!-- left -->
            <div class="col-md-7">

                <div class="row featured-box-minimal">
                    {% for f in object.features.all %}

                        <div class="col-md-6">
                            <h4><i class="fa fa-group"></i>{{ f.heading }}</h4>
                            <p>{{ f.content }}</p>
                        </div>
                    {% endfor %}
                </div>


            </div>
            <!-- /left -->

            <!-- right -->
            <div class="col-md-5">

                <div class="toogle toogle-accordion">
                    {% for q in object.get_questions_answers %}
                        <div class="toggle {% if forloop.first %}active{% endif %}">
                            <label>{{ q.question }}</label>
                            <div class="toggle-content">
                                <p>{{ q.answer }}</p>
                            </div>
                        </div>
                    {% endfor %}


                </div>

            </div>
            <!-- /right -->

        </div>


        {%  if object.featured_sites.all %}
            <h3> Featured <strong>Sites</strong></h3>
            {#            <div class="divider half-margins"><!-- divider --></div>#}

            <hr class="half-margins" />


            <!-- CLIENTS/BRANDS -->
            <div class="owl-carousel" data-plugin-options='{"singleItem": false, "pagination": false, "autoPlay": true}'>
                {% for i in object.featured_sites.all %}
                    <div>
                        <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail i.logo 137 77 %}" alt="">
                    </div>
                {% endfor %}


                {% comment %}		<div>
						<img class="img-responsive" src="{% static 'alkaline/assets/images/demo/brands/2.jpg' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'alkaline/assets/images/demo/brands/3.jpg' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'alkaline/assets/images/demo/brands/4.jpg' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'alkaline/assets/images/demo/brands/5.jpg' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'alkaline/assets/images/demo/brands/6.jpg' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'alkaline/assets/images/demo/brands/7.jpg' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'alkaline/assets/images/demo/brands/8.jpg' %}" alt="">
					</div>{% endcomment %}
            </div>
            <!-- /CLIENTS/BRANDS -->
        {%  endif %}

        <hr class="half-margins" />

        <h3><strong>Related</strong> WebApplications</h3>

        <div class="row">
            {% for app in related_apps %}
                <div class="col-sm-6 col-md-4"><!-- item -->
                    <div class="item-box">
                        <figure>
                            <a class="item-hover" href="{{ app.get_absolute_url }}">
                                <span class="overlay"></span>
											<span class="inner">
												<strong>VIEW</strong> Details
											</span>
                            </a>
                            {#                        <a href="#" class="btn btn-primary add_to_cart item-hover"><i class="fa fa-shopping-cart"></i> ADD TO CART</a>#}
                            {% with app.get_images.first as image %}
                                <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail image.image 360 360 %}"  alt="">

                            {% endwith %}
                        </figure>

                        <div class="item-box-desc">
                            <div class="text-center">
                                <h3>{{ app.name|capfirst }}</h3>
                            </div>
                            <small class="styleColor">{{ app.short_desc|truncatewords:10 }}</small>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>

        <hr class="invisible half-margins"><!-- divider -->


    </div>
{% endblock %}


{% block callout_bottom %}

    <!-- More features -->
    <div class="marco more-features-container section-container section-container-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 features section-description wow fadeIn">
                    <h1>Features included</h1>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>
            <div class="feat21">
                <div class="row">
                    <div class="col-sm-3 features-box features-box-gray wow fadeInUp box">
                        <a href="#">
                            <div class="features-box-icon">
                                <i class="fa fa-envelope fa-3x"></i>
                            </div>
                            <p>Responsive</p>
                        </a>
                    </div>
                    <div class="col-sm-3 features-box wow fadeInDown">
                        <a href="#">
                            <div class="features-box-icon">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                            <p>Free Upgrade</p>
                        </a>
                    </div>
                    <div class="col-sm-3 features-box features-box-gray wow fadeInUp">
                        <a href="#">
                            <div class="features-box-icon">
                                <i class="fa fa-pencil fa-3x"></i>
                            </div>
                            <p>Dedicated Hosting</p>
                        </a>
                    </div>
                    <div class="col-sm-3 features-box features-box-gray wow fadeInUp">
                        <a href="#">
                            <div class="features-box-icon ">
                                <i class="fa fa-calendar fa-3x"></i>
                            </div>
                            <p>Dedicated Hosting</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 features-box features-box-gray wow fadeInUp box">
                        <a href="#">
                            <div class="features-box-icon">
                                <i class="fa fa-user fa-3x"></i>
                            </div>
                            <p>Responsive</p>
                        </a>
                    </div>
                    <div class="col-sm-3 features-box wow fadeInDown">
                        <a href="#">
                            <div class="features-box-icon">
                                <i class="fa fa-cloud fa-3x"></i>
                            </div>
                            <p>Free Upgrade</p>
                        </a>
                    </div>
                    <div class="col-sm-3 features-box features-box-gray wow fadeInUp">
                        <a href="#">
                            <div class="features-box-icon">
                                <i class="fa fa-lock fa-3x"></i>
                            </div>
                            <p>Dedicated Hosting</p>
                        </a>
                    </div>
                    <div class="col-sm-3 features-box features-box-gray wow fadeInUp">
                        <a href="#">
                            <div class="features-box-icon ">
                                <i class="fa fa-star fa-3x"></i>
                            </div>
                            <p>Dedicated Hosting</p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}