{#<td><a href="{% url 'caffelatte-domain-information' domain.id %}">View & Configure</a></td>#}
{##}

<td>
    {%  if url_has %}
        <a href="{{ next_action_url }}">
    {% endif %}

    {% if spinner %}
        <i class="fa fa-spinner fa-spin"></i>
    {% endif %}
    {{ next_action }}

    {%  if url_has %}
        </a>
    {% endif %}

</td>
