{%  load static i18n %}

<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {% if invoice %}


        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false">
            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
            <header>
                <span class="widget-icon"> <i class="fa fa-barcode"></i> </span>
                <h2>Item #44761 </h2>

            </header>

            <!-- widget div-->
            <div>

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body no-padding">
                    <div class="widget-body-toolbar">

                        <div class="row">

                            <div class="col-sm-4">

                                {% comment %}<div class="input-group">
											<input class="form-control" type="text" placeholder="Type invoice number or date...">
											<div class="input-group-btn">
												<button class="btn btn-default" type="button">
													<i class="fa fa-search"></i> Search
												</button>
											</div>
										</div>{% endcomment %}
                            </div>

                            <div class="col-sm-8 text-align-right">

                                <div class="btn-group">
                                    <a href="javascript:void(0)" class="btn btn-sm btn-primary"> <i class="fa fa-edit"></i> {%  trans "Download" %} </a>
                                </div>

                                <div class="btn-group">
                                    <a href="javascript:void(0)" class="btn btn-sm btn-success"> <i class="fa fa-plus"></i>{%  trans "Email me" %} </a>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="padding-10">
                        <br>
                        <div class="pull-left">
                            <img src="{% static 'alkaline/assets/images/CLW_Admin.png' %}" width="150" height="32" alt="invoice icon">

                            <address>
                                <br>
                                <strong>Krunk Systems </strong>
                                <br>
                                197, Nehru Market Dakpathar
                                <br>
                                Dehradun, Uttrakhand - 248125, India
                                <br>
                                <abbr title="Phone">P:</abbr> +91-1360-222018
                            </address>
                        </div>
                        <div class="pull-right">
                            <h1 class="font-400">invoice</h1>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-sm-9">
                                <h4 class="semi-bold">{{ request.user.name }}</h4>
                                <address>
                                    <strong>{{ invoice.client.full_name }}</strong>
                                    <br>
                                    {{ invoice.client.address_line_1 }}
                                    <br>
                                    {{ invoice.client.address_line_2 }}
                                    <br>
                                    {% if invoice.client.city %}
                                        {{ invoice.client.city }},
                                    {% endif %}
                                    {% if invoice.client.state %}
                                        {{ invoice.client.state }},
                                    {% endif %}
                                    {% if invoice.client.country %}
                                        {{ invoice.client.country }},
                                    {% endif %}
                                    {% if  invoice.client.pincode %}
                                        Zipcode - {{ invoice.client.pincode }}
                                    {% endif %}
                                    <br>
                                    <abbr title="Phone">P:</abbr> {{ invoice.client.mobile }}
                                </address>
                            </div>
                            <div class="col-sm-3">
                                <div>
                                    <div class="font-md">
                                        <strong>Application ID :</strong>
                                        <span class="pull-right"><a href="{{ invoice.userwebinfo.get_absolute_url }}">{{ invoice.invoice.app_id }}</a></span>
                                    </div>
                                    <br>
                                    <div>
                                        <strong>INVOICE NO :</strong>
                                        <span class="pull-right"># {{ invoice.invoice.id }}</span>
                                    </div>

                                </div>
                                <div>

                                    <div>
                                        <strong>INVOICE DATE :</strong>
                                        <span class="pull-right"> <i class="fa fa-calendar"></i> {{ invoice.invoice.invoice_date  }} </span>
                                        {#											</div>#}
                                    </div>
                                    <div>
                                        <strong>INVOICE DUE DATE :</strong>
                                        <span class="pull-right"> <i class="fa fa-calendar"></i> {{ invoice.invoice.invoice_due_date  }} </span>
                                        {#											</div>#}
                                    </div>

                                </div>
                                <br>
                                <div class="well well-sm  bg-color-darken txt-color-white no-border">
                                    <div class="fa-lg">
                                        Payment Status:
                                        <span class="pull-right"> {{ invoice.invoice.payment_status }}</span>
                                    </div>

                                </div>
                                <br>
                                <br>
                            </div>
                        </div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">QTY</th>
                                <th>ITEM</th>
                                <th>DESCRIPTION</th>
                                <th>PRICE</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center"><strong>1</strong></td>
                                {% with item=invoice.items %}
                                    <td><a href="">{{ item.cms|capfirst }}</a></td>
                                    <td>{{ item.short_desc }}</td>
                                    <td><strong>{{ item.wdp }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><strong>2</strong></td>
                                        <td><a href="javascript:void(0);">Application deployment Plan - {{ item.app_deployment_plan }}</a></td>
                                        <td>{{ item.period }}</td>
                                        <td><strong>{{ item.adp }}</strong></td>
                                    </tr>
                                {% endwith %}
                            {% with amount=invoice.amount %}
                                <tr>
                                    <td colspan="3">Total</td>
                                    <td><strong>{{ amount.sub_total }}</strong></td>
                                </tr>

                                <tr>
                                    <td colspan="3">Service Tax(14%)</td>
                                    <td><strong>{{ amount.total_tax }}</strong></td>
                                </tr>
                                </tbody>
                                </table>
                                <div class="invoice-footer">

                                <div class="row">

                                <div class="col-sm-7">
                                    {% with i=invoice.invoice_obj %}

                                        <div class="payment-methods">
                                            <h5>Payment Methods</h5>
                                            {% if i.payment_method == 'PAYPAL'  %}
                                                <img src="{% static 'dashboard/img/invoice/paypal.png' %}" width="64" height="64" alt="paypal">
                                            {% elif i.payment_method == 'MASTERCARD' %}
                                                <img src="{% static 'dashboard/img/invoice/mastercard.png' %}" width="64" height="64" alt="mastercard">
                                            {% elif i.payment_method == 'VISA' %}
                                                <img src="{% static 'dashboard/img/invoice/visa.png' %}" width="64" height="64" alt="visa">
                                            {% endif %}
                                            {#                                                <img src="{% static 'dashboard/img/invoice/americanexpress.png' %}" width="64" height="64" alt="american express">#}
                                        </div>
                                    {% endwith %}

                                </div>
                                <div class="col-sm-5">
                                    <div class="invoice-sum-total pull-right">
                                        <h3><strong>Grand Total: <span class="text-success">{{ amount.grand_total }} USD</span></strong></h3>
                                    </div>
                                </div>
                            {% endwith %}

                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="note">**To avoid any excess penalty charges, please make payments within 30 days of the due date. There will be a 2% interest charge per month on all late invoices.</p>
                                </div>
                            </div>

                            </div>
                    </div>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>
        <!-- end widget -->
    {% else %}
        Invalid Invoice number
    {% endif %}

</article>
<!-- WIDGET END -->

