				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
						<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i>

                            {%  if sparks_head %}
                                {{ sparks_head }}
                            {% else %}
                                Dashboard
                            {% endif %}

                            {% if sparks_tail %}
                                        > <span>{{ sparks_tail }} </span>
                            {% else %}
                                > <span>My Dashboard</span>
                            {% endif %}

                        </h1>
					</div>

					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-6">
						<ul id="sparks" class="">
							<li class="sparks-info">
								<h5> Active Site <span class="txt-color-blue"><i class="fa fa-shopping-cart"></i>&nbsp; {{ number_of_domains }}</span></h5>
								{% comment %}<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
									1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
								</div>{% endcomment %}
							</li>
							<li class="sparks-info">
								<h5>  Invoice  <span class="txt-color-purple"><i class="fa fa-lg fa-fw fa-book"></i>&nbsp;{{ number_of_invoices }}</span></h5>
								{% comment %}<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
									110,150,300,130,400,240,220,310,220,300, 270, 210
								</div>{% endcomment %}
							</li>
							{% comment %}<li class="sparks-info">
								<h5> Expire Site <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
								<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
									110,150,300,130,400,240,220,310,220,300, 270, 400
								</div>
							</li>{% endcomment %}
						</ul>
					</div>

				</div>
