{% load i18n %}
<ul class="pagination pagination-lg">
    {% if page_obj.has_previous %}
	    <li><a href="?{{ page_obj.previous_page_number.querystring }}">&lsaquo;&lsaquo; {% trans "previous" %}</a></li>
    {% else %}
	    <li class="disabled"><span>&lsaquo;&lsaquo; {% trans "previous" %}</span></li>
    {% endif %}
    {% for page in page_obj.pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
		    <li class="active" ><span>{{ page }}</span></li>
            {% else %}
		    <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
	    <li><a href="?{{ page_obj.next_page_number.querystring }}" class="next">{% trans "next" %} &rsaquo;&rsaquo;</a></li>
    {% else %}
	<li class="disabled" ><span>{% trans "next" %} &rsaquo;&rsaquo;</span></li>
    {% endif %}
</ul>
