{% load static i18n mezzanine_tags %}

{% if forloop.counter == 1 %}

    <!-- right image -->
    <div class="col-md-6 col-sm-6">
        <div id="webapps_{{ l.id }}">

            <div class="row mobile_item">
                <div class="col-md-7 center border34"><!--extra class added-->
                    <!--phone border--><img style="position: relative;" alt="image" class="img-responsive" src="/static/alkaline/assets/images/device/iphone11.png">
                    <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                        {% for img in l.get_mobile_images %}

                            <div>
                                {# <img class="img-responsive" src="{{ media_url }}{% thumbnail img.image 555 311 %}" width="555" height="311" alt="">#}
                                <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail img.image 350 570 %}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12 text-center padding-top-25 color-light_grey">

                <button class="active mobile_{{ l.id }}" id="mobile" value="{{ l.id }}"><i class="fa fa-mobile fa-4x"></i></button>
                <button class="padding-left-10 tablet_{{ l.id }}" id="tablet" value="{{ l.id }}"><i class="fa fa-tablet fa-3x"></i></button>
{#                <button class="padding-left-10 laptop_{{ l.id }}" id="laptop" value="{{ l.id }}"><i class="fa fa-laptop fa-4x"></i> </button>#}
                <button class="padding-left-10 desktop_{{ l.id }}"id="desktop" value="{{ l.id }}"><i class="fa fa-desktop fa-3x" ></i></button>

            </div>

        </div>
    </div>
    <!-- /right image -->


{% elif forloop.counter == 2 %}
    <!-- right image -->
    <div class="col-md-6 col-sm-6">
        <div id="webapps_{{ l.id }}">
            <div class="row tablet_item">
                    <div class="col-md-8 center border34"><!--extra class added-->
                    <!--phone border--><img style="position: relative;" alt="image" class="img-responsive" src="/static/alkaline/assets/images/device/tablet11.png">

                    <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                        {% for img in l.get_tablet_images %}
                            <div>
                                {# <img class="img-responsive" src="{{ media_url }}{% thumbnail img.image 555 311 %}" width="555" height="311" alt="">#}
                                <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail img.image 455 570 %}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center padding-top-25 color-light_grey">

                <button class="mobile_{{ l.id }}" id="mobile" value="{{ l.id }}"><i class="fa fa-mobile fa-4x"></i></button>
                <button class="tablet_{{ l.id }} padding-left-10 active" id="tablet" value="{{ l.id }}"><i class="fa fa-tablet fa-4x"></i></button>
{#                <button class="laptop_{{ l.id }} padding-left-10" id="laptop" value="{{ l.id }}"><i class="fa fa-laptop fa-4x"></i> </button>#}
                <button class="desktop_{{ l.id }} padding-left-10" id="desktop" value="{{ l.id }}"><i class="fa fa-desktop fa-4x"></i></button>

            </div>
        </div>


    </div>
    <!-- /right image -->
{% elif forloop.counter == 3 %}
    <!-- right image -->
    <div class="col-md-6 col-sm-6">
        <div id="webapps_{{ l.id }}">
            <div class="row desktop_item">
                <div class="col-md-12 center border34"><!--extra class added-->
                    <!--phone border--><img style="position: relative;" alt="image" class="img-responsive" src="/static/alkaline/assets/images/device/desktop11.png">
                    <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                        {% for img in l.get_images %}
                            <div>
                                {# <img class="img-responsive" src="{{ media_url }}{% thumbnail img.image 555 311 %}" width="555" height="311" alt="">#}
                                <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail img.image 555 370 %}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center padding-top-25 color-light_grey">

                <button class="mobile_{{ l.id }}" id="mobile" value="{{ l.id }}"><i class="fa fa-mobile fa-4x"></i></button>
                <button class="padding-left-10 tablet_{{ l.id }}" id="tablet" value="{{ l.id }}"><i class="fa fa-tablet fa-4x"></i></button>
{#                <button class="padding-left-10 laptop_{{ l.id }}" id="laptop" value="{{ l.id }}"><i class="fa fa-laptop fa-4x"></i> </button>#}
                <button class="padding-left-10 desktop_{{ l.id }} active" id="desktop" value="{{ l.id }}"><i class="fa fa-desktop fa-4x"></i></button>

            </div>
        </div>


    </div>
    <!-- /right image -->

{% endif %}


