{% load static %}
		<!-- PAGE RELATED PLUGIN(S) -->
		<script src="{% static 'dashboard/js/plugin/datatables/jquery.dataTables-cust.min.js' %}"></script>
		<script src="{% static 'dashboard/js/plugin/datatables/ColReorder.min.js' %}"></script>
		<script src="{% static 'dashboard/js/plugin/datatables/FixedColumns.min.js' %}"></script>
		<script src="{% static 'dashboard/js/plugin/datatables/ColVis.min.js' %}"></script>
		<script src="{% static 'dashboard/js/plugin/datatables/ZeroClipboard.js' %}"></script>
		<script src="{% static 'dashboard/js/plugin/datatables/media/js/TableTools.min.js' %}"></script>
		<script src="{% static 'dashboard/js/plugin/datatables/DT_bootstrap.js' %}"></script>



		<script type="text/javascript">
		
		// DO NOT REMOVE : GLOBAL FUNCTIONS!
		
		$(document).ready(function() {
			
			pageSetUp();



            // alert for email accounts page
           	$('#account_add_success').click(function() {

				$.smallBox({
					title : "Account created",
					content : "<i class='fa fa-clock-o'></i> <i>now</i>",
					color : "#296191",
					iconSmall : "fa fa-thumbs-up bounce animated",
					timeout : 4000
				});

			});





			/*
			 * BASIC
			 */
			$('#dt_basic').dataTable({
				"sPaginationType" : "bootstrap_full"
			});
	
			/* END BASIC */
	
			/* Add the events etc before DataTables hides a column */
			$("#datatable_fixed_column thead input").keyup(function() {
				oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
			});
	
			$("#datatable_fixed_column thead input").each(function(i) {
				this.initVal = this.value;
			});
			$("#datatable_fixed_column thead input").focus(function() {
				if (this.className == "search_init") {
					this.className = "";
					this.value = "";
				}
			});
			$("#datatable_fixed_column thead input").blur(function(i) {
				if (this.value == "") {
					this.className = "search_init";
					this.value = this.initVal;
				}
			});		
			
	
			var oTable = $('#datatable_fixed_column').dataTable({
				"sDom" : "<'dt-top-row'><'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				//"sDom" : "t<'row dt-wrapper'<'col-sm-6'i><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'>>",
				"oLanguage" : {
					"sSearch" : "Search all columns:"
				},
				"bSortCellsTop" : true
			});		
			
	
	
			/*
			 * COL ORDER
			 */
			$('#datatable_col_reorder').dataTable({
				"sPaginationType" : "bootstrap",
				"sDom" : "R<'dt-top-row'Clf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"fnInitComplete" : function(oSettings, json) {
					$('.ColVis_Button').addClass('btn btn-default btn-sm').html('Columns <i class="icon-arrow-down"></i>');
				}
			});
			
			/* END COL ORDER */
	
			/* TABLE TOOLS */
			$('#datatable_tabletools').dataTable({
				"sDom" : "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"oTableTools" : {
					"aButtons" : [
                        {"sExtends": "ajax",
                        "sButtonText": "Add",
                        "sAjaxUrl": "http:127.0.0.1:8000/",
                        "fnClick": function( nButton, oConfig ) {
                            $("#add_new_email").click()
                        },
                        "fnAjaxComplete": function ( XMLHttpRequest, textStatus ) {
                            $("#dl_frame").attr('src','downloadFile.php?file='+XMLHttpRequest.exportFile);
                            console.log("This funcation is completed")
                        },
                        }
                    ],
				},
			});
		
		/* END TABLE TOOLS */
		})

		</script>
