{% load caffelatte_tags i18n %}

{% comment %}
 you need to supply following things with form
 widget_id:
    format = wid-id-<< NUmber>> example: wid-id-1
 method (default =POST)
 action (default=.)
 heading
{% endcomment %}

<article class="col-sm-12 col-md-12 col-lg-6">
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget" id="{{ widget_id|default:'wid-id-1' }}" data-widget-editbutton="false" data-widget-custombutton="false">
        <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

        -->
        <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
            <h2>{{ heading|default:"Custom Heading" }}</h2>

        </header>

        <!-- widget div-->
        <div>

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->

            <!-- widget content -->
            <div class="widget-body no-padding">

                <form id="checkout-form" class="smart-form" action="{{ action|default:'.' }}" method="{{ method|default:'POST' }}">
                    {% csrf_token %}
                    {% for field in form %}
                        <fieldset>
                            <section>
                                <label class="label"> {{ field.label }} : </label>
                                {%  if field.field.widget|klass == 'ClearableFileInput' %}
                                    <div class="input input-file">
                                        <span class="button">
                                        <input type="file" id="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</span>
                                        <input type="text" placeholder='{%  trans "Include some files" %}' readonly="">
                                    </div>
                                {% elif field.field.widget|klass == 'Select' %}
                                    <label class="select">
                                        {{ field }}
                                        <i></i>
                                    </label>
                                {% elif field.field.widget|klass == 'CheckboxInput' %}
                                    <div class="inline-group">
                                            <label class="checkbox">
                                                {{ field }}<i></i>
                                            </label>
                                    </div>
                                {% else %}
                                    <label class="input">
                                        {{ field }}
                                    </label>
                                {% endif %}
                                {%  if field.help_text %}
                                    {% comment %}<div class="note">
                                        {{ field.help_text }}
                                    </div>{% endcomment %}
                                    <b class="tooltip tooltip-top-right">
															<i class="fa fa-warning txt-color-teal"></i>
															Some helpful information</b>
                                {% endif %}
                            </section>
                        </fieldset>
                    {% endfor %}
                    <footer>
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                    </footer>
                </form>

            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
    <!-- end widget -->
</article>