<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false" data-widget-custombutton="false">
	<!-- widget options:
		usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
		
		data-widget-colorbutton="false"	
		data-widget-editbutton="false"
		data-widget-togglebutton="false"
		data-widget-deletebutton="false"
		data-widget-fullscreenbutton="false"
		data-widget-custombutton="false"
		data-widget-collapsed="true" 
		data-widget-sortable="false"
		
	-->
	<header>
		<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
		<h2>User Information View </h2>
		
	</header>

	<!-- widget div-->
	<div>
		
		<!-- widget edit box -->
		<div class="jarviswidget-editbox">
			<!-- This area used as dropdown edit box -->
			a
		</div>
		<!-- end widget edit box -->
		
		<!-- widget content -->
		<div class="widget-body no-padding">
			
			<div id="review-form" class="smart-form">
				{% csrf_token %}
				<header>
					Users Personal Inforamtion
				</header>
				<fieldset>
					<section>
					<label class="label">
						<strong>User ID: </strong>
                        {{ object.username }}
					</label>
					</section>

					<section>
					<label class="label">
						<strong>User Email: </strong> {{ object.email }}
					</label>
					</section>

				</fieldset>
				<footer>
				<a href="{% url 'caffeauth:account-profile-edit' request.user.id %}" class="btn btn-primary">
						Edit
					</a>
				</footer>

			</div>

		</div>
		<!-- end widget content -->
		
	</div>
	<!-- end widget div -->
	
</div>
