<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false" data-widget-custombutton="false">
	<!-- widget options:
		usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
		
		data-widget-colorbutton="false"	
		data-widget-editbutton="false"
		data-widget-togglebutton="false"
		data-widget-deletebutton="false"
		data-widget-fullscreenbutton="false"
		data-widget-custombutton="false"
		data-widget-collapsed="true" 
		data-widget-sortable="false"
		
	-->
	<header>
		<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
		<h2>Review form </h2>				
		
	</header>

	<!-- widget div-->
	<div>
		
		<!-- widget edit box -->
		<div class="jarviswidget-editbox">
			<!-- This area used as dropdown edit box -->
			
		</div>
		<!-- end widget edit box -->
		
		<!-- widget content -->
		<div class="widget-body no-padding">
			
			<form class="smart-form" method="POST" action=".">
				{% csrf_token %}
				<header>
					User Info
					</header>

				<fieldset>
					<section>
					{{ form.as_p }}
					<label class="label">
					</label>
					</section>
				</fieldset>
				<footer>
				<input type="submit" value="Save" class="btn btn-primary"/>
				</footer>

			</form>						
			
		</div>
		<!-- end widget content -->
		
	</div>
	<!-- end widget div -->
	
</div>
